<div class='container'>
  <form action='/new' method='post'>
    <label for='name'>Nombre</label>
    <input type='text' name='name' />
    <label for='type'>Tipo</label>
    <select name='type' id='type'>
      <option value='Coffee shop'>Coffee shop</option>
      <option value='Bookstore'>Bookstore</option>
    </select>
    <label>Latitud
      <input name='lat' type='text' />
    </label>
    <br /><br />

    <label>Longitud
      <input name='lng' type='text' />
    </label>
    <br /><br />
    <button>Crear</button>
  </form>
</div>