<!--
<form action="/auth/login" method="post">
  <input name="email" type="email">
  <br>
  <input name="password" type="password">
  <input type="submit">
</form>

<form action="/auth/facebook" method="post">
  <input value="Login con Facebook" type="submit">
</form>