<!--
<h1>Registrate</h1>
<form action="/auth/signup" method="post">
  <input placeholder="Nombre" name="username" type="text">
  <input placeholder="email" name="email" type="email">
  <br>
  <input name="password" type="password">
  <input type="submit">
</form>