<div class="container create-form default-margin">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1 class="create-main-title">Título del Formulario</h1>

            <hr>

            <form action="/create" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label"><i>Nombre</i></label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>

                <div class="mb-3">
                    <label for="type" class="form-label"><i>Tipo</i></label>
                    <input type="text" class="form-control" id="type" name="type">
                </div>

                <div class="mb-3">
                    <label for="latitude" class="form-label"><i>Latitud</i></label>
                    <input type="text" class="form-control" id="latitude" name="latitude">
                </div>

                <div class="mb-3">
                    <label for="longitude" class="form-label"><i>Longitud</i></label>
                    <input type="text" class="form-control" id="longitude" name="longitude">
                </div>

                <button type="submit" class="btn btn-dark submit-link">Enviar</button>
            </form>

        </div>
    </div>
</div>