<h1>Coffee & Books places: </h1>




{{#each places}}

<p>Name: {{name}}</p>
<p>Type: {{type}}</p>

<a href="/places/{{_id}}" class="btn btn-primary">Details</a>



<hr>

{{/each}}



<a href="/" style="display: inline-block; margin-bottom: 20px;">Home</a>
</div>