<div class="container">
    <h1>Basic Map</h1>
    <hr>
    <figure id="myMap"></figure>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/map.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAykqyjJSiEqi3skepf4vJpjQP49fTbj1Q&callback=init"></script>