<div class="container">
    <h2>Map</h2>
    <hr>
    <div id="map"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/placesMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>