<div class="row justify-content-center">
    <div class="col-6">
        <h1>Create a new restaurant</h1>
        <hr>
        <form action="/restaurants/create" method="post" class="row g-3">
            <div class="col-6">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="col-6">
                <label for="type" class="form-label">Tipo</label>
                <select id="type" class="form-select" name="type">
                    <option selected>Select one...</option>
                    <option>Coffee shop</option>
                    <option>Bookstore</option>
                </select>
            </div>
            <div class="col-12">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>
            <div class="col-6">
                <label for="lat" class="form-label">Latitud</label>
                <input type="number" step="0.00000000000001" class="form-control" id="lat" name="lat">
            </div>
            <div class="col-6">
                <label for="lng" class="form-label">Longitud</label>
                <input type="number" step="0.00000000000001" class="form-control" id="lng" name="lng">
            </div>
            <div class=" d-grid col-12">
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </form>
    </div>
</div>