<h2>Añadir cafeteria</h2>

<form action = '/place/create' method="POST">

    <label>
        Nombre
        <input type="text" name="name">
    </label>
    <br>
     <label>
        Nº de hélices
        <input type="text" name="propellers">
    </label>
    
    <br>

    <input type="submit" value="Nueva Cafeteria">

</form>
