<div class="container">
    <h1>Map</h1>
    <hr>
    <div id="map"></div>
    <hr>
    <a href="/" class="btn btn-dark">Home</a>
</div>

<script src="/js/basicMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=PON_AQUI_TU_PROPIA_API_KEY_JEJEJE"></script>