<div class='container'>
    <div class="encabezado mt-5">
        <h2>Create a new place</h2>
    </div>
    <div>

        <form action="/create-places" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="longitude" class="form-label">Longitude</label>
                <input type="text" class="form-control" id="longitude" name="longitude">

            </div>
            <div class="mb-3">
                <label for="latitude" class="form-label">Latitude</label>
                <input type="text" class="form-control" id="latitude" name="latitude">

            </div>
            <div class="mb-3">
                <label for="type" class="form-label">Type</label>
                <select id="type" class="form-select" name="type">
                    <option selected>Choose...</option>
                    <option value='Coffee shop'>Coffee shop</option>
                    <option value='Bookstore'>Bookstore</option>
                </select>
            </div>
            <div class="d-grid mt-5">
                <button type="submit" class="btn btn-dark btn-lg">Create place</button>
            </div>


        </form>
    </div>



</div>