body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#my-map {
  margin-top: 2rem;
  height: 25rem;
  background-color: red;
}
