body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: sans-serif;
  font-weight: 200;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#myMap {
  height: 400px;
  background-color: red;
}