<form action="/add" method="post" id="form">
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="Name">
  <label for="type">Type</label>
  <select name="type" id="type">
    <option value="coffe shop">Coffe Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <label for="latitude">Latitude</label>
  <input type="text" name="latitude" placeholder="Latitude">
  <label for="longitude">Longitude</label>
  <input type="text" name="longitude" placeholder="Longitude">
  <button>Add Place</button>
</form>
{{#if errorMessage}}
<div class="error-message">{{errorMessage}}</div>
{{/if}}
<a href="/places">Back to full list</a>