<a href="/">Back</a>
<form action="/create" method="POST">
  <label for="">Name of the place</label>
  <input type="text" placeholder="something something" name="name" required>
  <label for="">Type of place</label>
  <select name="type">
    <option value="Coffee Shop">Coffee Shop</option>
    <option value="Bookstore">Bookstore</option>
  </select>
  
  <label>Location</label>
  <input type="text" name="latitude" placeholder="latitude" >
  <input type="text" name="longitude" placeholder="longitude">

  <button type="submit"> Create</button>
</form>