<h1>Add a new favourite Place</h1>
<form action="/places/add" method="POST">
  <input type="text" name="name" value="" placeholder="Great place name">
  <select name="type" id="type">
    <option value="">Please choose an option</option>
    <option value="Coffee Shop">Coffee Shop</option>
    <option value="Bookstore">Bookstore</option>
    </select>
    <label>Geolocation</label>
  <input type="text" name="latitude" placeholder="latitude" >
  <input type="text" name="longitude" placeholder="longitude">
  <button type="submit">Add</button>
</form>