<h3>Add a Place</h3>

<form action="/places/add" method="post">

  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Kind of Place:</label>
  <input type="text" name="kind">

  <label for="">Latitude:</label>
  <input type="text" name="long">

  <label for="">Longitude:</label>
  <input type="text" name="lat">

  <button type="submit">Add</button>
</form>

</br>
</br>

<a href="/places">Volver a la lista</a>