<h1>Añadir un lugar nuevo</h1>

<form action="/places/add" method="POST">
    <label for="">Nombre:</label>
    <input type="text" name="name"><br>
    <br>
    <label for="">Tipo:</label>
    <select name="type" id="type">
        <option value="Coffee Shop">Coffee</option>
        <option value="Bookstore">Bookstore</option>
    </select>
    <br><br>

    <button type="submit">Añadir nuevo lugar</button>
</form>