<div class="container">

  <figure class="col-md-8"></figure>

  <div class="col-md-4 row">

    <h1>Hola</h1>
    {{#each eachElm}}

    <div class="card">
      <li>{{name}}</li>
      <a href="TO-DO" class="btn btn-dark btn-block">Edit</a>
      <a href="TO-DO" class="btn btn-danger btn-block">Delete</a>
    </div>

    {{/each}}
  </div>

</div>