<div class="container">

    <div class="row justify-content-center">
        <form action="/places/create" method="post">

            <label for="name">Place</label>
            <input type="text" name="name">

            <label for="coordinate">coordinates</label>
            <input type="text" name="coordinate">

            <label for="type">Type should be coffee shor or bookstore</label>
            <input type="text" name="type">

            <button type="submit">Registro</button>
        </form>

    </div>
</div>