<h2>Registrar establecimiento</h2>
<hr>

<form action="/establecimientos/crear" method="post">

    <div class="form-floating mb-3">
        <input type="text" name="name" class="form-control" id="floatingInput" placeholder="Nombre">
        <label for="floatingInput">Nombre</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" name="lat" class="form-control" id="floatingInput" placeholder="Location">
        <label for="floatingInput">Ubicación - Latitud</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" name="lng" class="form-control" id="floatingInput" placeholder="Location">
        <label for="floatingInput">Ubicación - Longitud</label>
    </div>

    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Tipo de establecimiento</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="type">
        <option selected>Elige...</option>
        <option value="coffee shop">Coffee shop</option>
        <option value="bookstore">Bookstore</option>
    </select>

    <br>
    <input class="btn btn-primary" type="submit" value="Crear registro">

</form>

<a class="btn btn-warning" href="/establecimientos/listado" role="button">Volver al listado</a>