<h3>Create Place</h3>

<form action="/places/create" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name">

    <label for="type">Type:</label>
    <input name="type" type="radio" value="coffee shop" required />Coffee shop
    <input name="type" type="radio" value="bookstore" required />Booksore

    <label for="lat">Latitude:</label>
    <input type="number" name="lat" step="any">

    <label for="lng">Longitude:</label>
    <input type="number" name="lng" step="any">

    <button type="submit">Create</button>
</form>