<form action="/create" method="POST">
    <div>
        <label for="name" >Name:</label> <br>
        <div>
            <input type="text"  name="name"  placeholder=" Place's name">
        </div>
    </div><br><br>

<div>
  <label for="inputPassword">Type:
            <select name="type" id="" onchange="">
                <option value="Coffee Shop">Coffee Shop</option>
                <option value="Bookstore">Bookstore</option>
            </select>
  </label>
 </div><br><br>

  <div>
        <label>Location:<br><br>
            <input type="text" name="latitude" placeholder="Inform latitude"><br><br>
            <input type="text" name="longitude" placeholder="Inform longitude"><br><br>
        </label>
   </div>
  
    <button type="submit" class="btn btn-primary mb-2">ADD</button>
</form>
<a href="/">Go Back</a>









