<h2>AÑADE UN NUEVO PLACE</h2>
<form action="/add" method="POST">
  <label for="">Name:</label>
  <input type="text" name="name">
  <label for="">Type:</label>
  <input type="text" name="type">
  <label for="">Longitud:</label>
  <input type="text" name="longitude">
  <label for="">Latitud:</label>
  <input type="text" name="latitude">
  <button type="submit">ADD</button>
</form>