<div class="container">

    <h1>Create new place</h1>

    <hr>

    <form method="POST" action="/places/create">

        <label for="name">Name</label>
        <input name="name" type="text" id="name">

        <br><br>

        <label>Type</label>
        <input name="type" type="text">

        <br><br>


        <input type="submit" value="Create new place">

    </form>

</div>