<form action="/create" method="post">
  <label for="name">Name:</label>
  <input id="edit-name" type="text" name="name" placeholder="Your place's name"> 

  <br><br>

  <label for="type">Type:</label>
  <select name="type" id="edit-type">
    <option value="coffee shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>

  <label>Address</label>
  <input type="text" name="latitude" placeholder="latitude" >
  <input type="text" name="longitude" placeholder="longitude">
  <br><br>

  <button type="submit">Create</button>
  <a href="/">Cancel</a>