<div class="container">
    <h3>New Place!</h3>
    <hr>
    <form method="POST" action="/places/create">
        <input type="text" name="name" placeholder="name"><br><br>
        <select name="type" id="type-list">
            <option value="coffee shop">coffee shop</option>
            <option value="book store">book store</option>
        </select><br><br>
        <p>
            <strong>Location:</strong> <br><br>
            <input type="text" name="latitude" placeholder="latitude"><br><br>
            <input type="text" name="longitude" placeholder="longitude"><br><br>
            <input type="submit" value="Save" class="btn-dark btn-sm">
            </button>
        </p>
    </form>
</div>