<form method="POST">
  <h2 class="">Create new place</h2>
  name:
  <input type="text" name="name" value="name">
 
  coffee shop or bookstore:
  <input type="text" name="type" value="bookstore">
 
  <input type="submit" value="Submit">
 
  </form>