<div class="container">
<div class="container"></div>
<h2>New celebrity</h2>
<form action="/crear" method="POST">

    <label>
        Nombre
        <input type="text" name="name">
    </label>

    <br><br>

    <label>
        Lugar
        <input type="text" name="placeS">
    </label>

    <label>
        Latitud
        <input type="text" name="lat">
    </label>
    <label>
        Longitud
        <input type="text" name="lng">
    </label>


    <input type="submit" value="Crear lugar">
</form>
</div>