<div class="container">


    <form action="/crear" method="POST">

        <legend>New Place</legend>
        <div class="mb-3 d-grid gap-2 col-6 mx-auto">
            <label for="nameInput" class="form-label">Name:</label>
            <input type="text" id="nameInput" class="form-control" name="name">
        </div>
        <div class="mb-3 d-grid gap-2 col-6 mx-auto">
            <label for="typeInput" class="form-label">Type:</label>
            <input type="text" id="typeInput" class="form-control" name="type">
        </div>
        <div class="mb-3 d-grid gap-2 col-6 mx-auto">
            <label for="nameInput" class="form-label">Latitud</label>
            <input type="text" id="nameInput" class="form-control" name="lat">
        </div>
        <div class="mb-3 d-grid gap-2 col-6 mx-auto">
            <label for="nameInput" class="form-label">Longitud</label>
            <input type="text" id="nameInput" class="form-control" name="lng">
        </div>

        {{!-- <div class="mb-3 d-grid gap-2 col-6 mx-auto">
            <select name="type" class="form-select">
                <option selected>Type of place</option>
                <option value="coffe shop">coffe shop</option>
                <option value="bookstore">bookstore</option>
            </select>
        </div> --}}

        <button type="submit" class="btn btn-dark d-grid gap-2 col-6 mx-auto">Crear</button>

    </form>







</div>