<h1>Detail of place</h1>
<div class="list-places row">
    <div class="detail-box col-3">
        <p>Name: {{name}}</p>
        <p>Type: {{type}}</p>
        <a class="a-button-form" href="/places/edit/{{_id}}">Edit</a>
        <a class="a-button-form" href="/places/delete/{{_id}}">Delete</a>
    </div>
</div>