<p>DETALLES GUAPOS GUAPOS GUAPOS</p>

<p>Nombre:{{name}} <br></p>
<p>Type:{{type}} <br></p>
<p>Coordenadas: {{location.coordinates}}</p>
<figure id="myMap"></figure>
<script src="../javascripts/main.js"></script>
<script src="../javascripts/directions.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key={{KEY}}&callback=initMap"></script>