<form action="/{{id}}" method="POST">
  <label for="">Name of the place</label>
  <input type="text" placeholder="something something" value={{name}}>
  <label for="">Type of place</label>
  <select name="type">
    <option value="Coffee Shop">Coffee Shop</option>
    <option value="Bookstore">Bookstore</option>
  </select>

  <label>Location</label>
  <input type="text" name="latitude" value={{location.coordinates}}>
  <input type="text" name="longitude" value={{location.coordinates}}>

  <button type="submit"> Create</button>

</form>