<h2>Editar un lugar</h2>
<br>

<form action="/places/edit/{{_id}}" method="post">
    <label for="">Name</label>
    <input type="text" name="name">
<br>

    <label for="">Type</label>
    <input type="text" name="type">

<br>
    <button type="submit">Añadir</button>
</form>