<h2>Update </h2>

<form action="/places/edit/{{_id}}" method="post">
    <label for="">name</label>
    <input type="text" name="name" value="{{name}}">

    <label for="">coordinates</label>
    <input type="text" name="type" value="{{coordinates}}">

    <label for="">type</label>
    <input type="text" name="type" value="{{type}}">



    <button type="submit">Update</button>
</form>