<h2>Edit movie:</h2>
<div class="celebrity-wrapper">
<form action="/places/{{_id}}" method="POST">
<input type="hidden" name="id" value="{{_id}}">
<input type="text" name="name" value="{{name}}">
<input type="text" name="type" value="{{type}}">
<input type="submit" class="submit" value="Update">
</form>
<a href="/places">Go back</a>
</div>
