<h4>Edit Place</h4>

<form action="/places/{{place.id}}/edit" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name">

    <label for="type">Type:</label>
    <select name="type">
        <option value="Coffee shop" required>Coffee shop</option>
        <option value="Bookstore" required>Bookstore</option>
    </select>

    <label for="lat">Latitude:</label>
    <input type="number" name="lat" step="any">

    <label for="lng">Longitude:</label>
    <input type="number" name="lng" step="any">

    <button type="submit">Edit</button>
</form>