<div class="container">

    <h1>Edit new place</h1>

    <hr>

    <form method="POST" action="/places/edit">

        <label for="name">Name</label>
        <input name="name" type="text" id="name" value={{Name}}>

        <br><br>

        <label>Type</label>
        <input name="type" type="text" value={{Type}}>

        <br><br>


        <input type="submit" value="Edit new place">

    </form>

</div>