<div class="container">
  <h1>Edit</h1>
  <form action="/place/edit/{{data.id}}" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name of the place</label>
      <input type="text" class="form-control" id="name" name="name" value="{{data.name}}">
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Type of place</label>
      <select class="form-select" id="type" name="type">


      </select>
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>