<h2>Edit places to DDBB</h2>

<form action="/places/edit/{{place._id}}" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value={{place.name}}> <br><br>

  <label for="">Type:</label>
  <input type="text" name="type" value={{place.type}}> <br><br>





  <button type="submit">EDIT</button>
</form>

