<h2>Edit place</h2>
<form action="/editplace" method="POST">
  <input type="text" name="name" placeholder="place name..">
  <select name="type" id="type">
    <option value="bookstore">Bookstore</option>
    <option value="coffee shop">Coffee shop</option>
  </select>
  <input type="number" name="lat" placeholder="latitude">
  <input type="number" name="lng" placeholder="longitude">
  <input type="submit" value="New place">
</form>