<h2>Editar un place</h2>

<form action=action="/places/{{place._id}}/edit" method="POST">
  <label for="name">Nombre:</label>
  <input type="text" name="name" value="{{place.name}}"><br><br>

  <label for="type">Tipo:</label>
  <select name="type">
    <option value="coffee shop">coffee shop</option>
    <option value="bookstore">bookstore</option>
  </select><br><br><br>

  <label>Direccion</label><br>
  <input type="text" name="latitude" placeholder="Latitud" value="{{place.location.coordinates.[1]}}"><br>
  <input type="text" name="longitude" placeholder="Longitud" value="{{place.location.coordinates.[0]}}"><br><br>

  <button type="submit" name="" id="submit">Editar un place</button>
</form>