<h2>All the places in our community are listed here:</h2>
<br>
<span style="color: red">{{error}}</span>

<ul>
  {{#each allPlaces}}
  <li> {{this.name}}
    <a href="/places/details/{{this.id}}">See details</a>
  </li>
  <br>
  {{/each}}
</ul>
<br>
<br>
<div id="map"></div>
<ul>
  <li><a href="/">Home</a></li>
    <li><a href="/places/generalView">View all our places</a></li>
  <li><a href="/places/delete">Delete a place</a></li>
</ul>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"></script>
 <script type="text/javascript" src="/javascripts/main.js"></script>
