<!DOCTYPE html>
<html>
  <head>
    <title>The Best Places on Earth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      </div>
      <div class="info">
        <h3>Choose the type of places</h3>
        <a href="/coffes">Coffes</a></br>
        <a href="/books">Books</a>

      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

</html>
