<!DOCTYPE html>
<html>
  <head>
    <title>The Best Coffees and Books on Earth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      </div>
      <div class="info">
        <h3>List all the places</h3>
        <a href="/new">Create new place</a><br>
        <ul>
          <% places.forEach((place) => { %>
            <li>
              <a href="/<%= place._id%>">
                <%= place.name%><span><%= place.description %></span>
              </a>
            </li>
          <% }) %>
        </ul>
        <div id="map" height="400px" width="100%" ></div>
      </div>
    </div>
    <script type="text/javascript">
        var myPlaces = <%- JSON.stringify(places) %>
        </script>
        <script src="/javascripts/main.js"></script>
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjuzZ4n6m62kPL8n-6d7OO5nd-MrnwI-0">
      </script>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>  
</body>
  
</html>