<h1>Restaurants</h1>

<figure id="map"></figure>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU"></script>
<script src="/javascripts/main.js"></script>