<h2>Places list</h2>
<ul>
  {{#each places}}
  <li><a href="/places/{{_id}}"> {{name}}</a>
  <a href="/places/{{_id}}/delete">Delete</a>
  <a href="/places/{{_id}}/edit">Edit</a>
  </li>
  {{/each}}
</ul>

<a href="/places/add/new">Add new place</a>

