<div class="container">

    <h1> {{allPlaces.name}} </h1>

    {{#each allPlaces}}

        <article>
            <h3>{{allPlaces.name}}</h3>
            <h3>{{allPlaces.name}}</h3>
            <h3>{{allPlaces.name}}</h3>
        </article>

    {{/each}}   
    <div class="pp-btns">
        <a class="home-celeb btn btn-md btn-dark" href="/">Home</a>
    </div>

</div>
