<ul>
{{#each places}}
<li>Name: {{this.name}}     Type:{{this.type}}
  <br>
  <a href="/edit/{{this.id}}">Edit</a>
  <form action="/delete" method="post">
  <input type="hidden" name="id" value={{this.id}}>
  <button type="submit" name="your_name" value="your_value" style="border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;">Delete</button>
</form>
</li>
{{/each}}
</ul>

<p><a href="/create">Create a new place</a></p>
<div id=map style="width: 800px; height: 300px"></div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmA_nB5Ja-EzOKb37_eyIomFhgC6QjEvw">
<script src="/javascripts/script.js"></script>
  </script>