<h2>List of places</h2>
{{#each places}}
  <p>{{this.name}}</p>
  <a href="/places/details/{{this._id}}">Details</a> 
   {{!-- _id porque en la base de datos se llama asi --}}

  <form action="/places/details/{{this.id}}/delete" method="post">
  <button type="submit">DELETE</button>
  </form>
  
  <form action="/places/details/{{this.id}}/edit" method="get">
  <button type="submit">EDIT</button>

  </form>
{{/each}}

<a href="/places/new">NEW PLACE</a>
