<h1>{{title}}</h1>
<div class="info">
    <h3>Lista de todos coffe/books</h3>
    <a href="/places/new">Crea un  nuevo coffe/books</a>
    <ul>
        {{#each places}}
        <li>
            <a href="/places/{{ this._id}}">{{ this.name}}</a>
            |
            <a href="/places/{{ this._id}}/delete">Eliminar</a>
        </li>
        {{/each }}
    </ul>
    <figure id="map"></figure>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/javascripts/main.js"></script>
{{!-- <script --}}
    {{!-- src="https://maps.googleapis.com/maps/api/js?key=la quite para que no aparezcacallback=initMap"></script> --}}

