
<head>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Places to Remember</h1>
  <div class="shop-container">
    <% if (places) { %>
      <%   places.forEach( e => { %>
      <div>
        <h3><%=e.name%></h3>
        <p><%=e.localType%></p>
        <p><%=e.description%></p>
      </div>
      <% }) %>
    <% } %>
  </div>
  <a href="/places/new"><button>New Place</button></a>
  <div id="map"></div>
  <script type="text/javascript">var myPlaces = <%- JSON.stringify(places) %></script>
  <script type="text/javascript" src="/javascripts/places.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDndv3ZEEkcMesyPu_FuA_RBm-aFj-B1XE "></script>
</body>
