<div class="flex-cloumn">
  
  <h2>Places</h2>


  <div class="flex">
    {{#each place}}
    <div class="flex staff">
        <h4><a href="/places/{{this._id}}">{{this.name}}</a></h4>
    </div>
    {{/each}}
  </div>

</div>