<div class="container mt-5">

    <h1>Places:</h1>

    <hr>

    <div class="container mt-5">

        {{#each placesList }}
        <div class="container mb-3">
            <a href="/places/{{id}}" class="btn btn-primary"> {{ name }} </a>
        </div>
        {{/each}}

    </div>


</div>