<div class="container">
    <div class="row">
        <h1 class="mb-5">See our Map</h1>
        <div class="col-md-12">
            <div id="placesMap"></div>
        </div>

    </div>
</div>




{{!-- Scripts estáticos --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/styles.js"></script>
<script src="/javascripts/places-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=________________&callback=initApp"></script>