<div class="container mt-5">
    <h1>Mapa de Lugares</h1>

    <figure id="placesMap"></figure>
    <a href="/" class="btn btn-dark">Go Home</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/placesMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxpwxjIZHficHEQrHbng8LY5Q8FcOpNn0&callback=initMap">
</script>
