      <form action="/places/new" method="post">
        
        <div class="form-group">
          <label for="name-input">Nombre</label>
          <input name="name" type="text" class="form-control" id="name-input">
        </div>
        <div class="form-group">
          <label for="description-input">Descripción</label>
          <input name="description" type="text" class="form-control" id="description-input">
        </div>

        <button type="submit" class="btn btn-dark">Crear parque</button>
        
      </form>