<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h1 style="font-weight: 100">Nueva Place</h1>
        </div>

        <div class="col-md-6">

            <form action="/new" method="post">
                <div class="form-group">
                    <label for="name-input">Nombre</label>
                    <input name="name" type="text" class="form-control" id="name-input">
                </div>
                <div class="form-group">
                    <label for="park-list">Type</label>
                    <select name="typeOfPlace" class="form-control" id="type">
                        <option value="Coffe Shop">Coffe Shop</option>
                        <option value="Bookstore">Bookstore</option>
                    </select>
                </div>
                <div class=" form-group">
                    <label>Address</label>
                    <input type="text" name="latitude" placeholder="latitude">
                    <input type="text" name="longitude" placeholder="longitude">
                </div>

                <button type="submit" class="btn btn-dark">Crear New Place</button>
                <a href="/places" class="btn btn-dark">Volver</a>

            </form>
        </div>

    </div>
</div>