<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h1>Add a new place</h1>

            <form method="POST" action="/places/create-place">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Type of place</label>
                    <input type="text" class="form-control" name="type">
                </div>
                <div class="form-group">
                    <label>Latitude</label>
                    <input type="text" class="form-control" name="latitude">
                </div>
                <div class="form-group">
                    <label>Longitude</label>
                    <input type="text" class="form-control" name="longitude">
                </div>
                <button type="submit" class="btn btn-dark">Creat new place</button>
            </form>
        </div>
    </div>



</div>