<div class="container">

    <h3>Add new places</h3>

    <form method="POST" action="/places/new">
        <input type="text" name="name" placeholder="name"><br><br>
        <input type="text" name="type" placeholder="type"><br><br>
        <input type="text" name="latitude" placeholder="latitude"><br><br>
        <input type="text" name="longitude" placeholder="longitude"><br><br>
        <input type="submit" name="" id="submit">
    </form>
</div>