<h3>Add new place</h3>
<form method="POST" action="/places">
  <input type="text" name="name" placeholder="name"><br>
  <select name="type" id="type">
    <option value="cofee shop">cofee shop</option>
    <option value="bookstore">bookstore</option>
  </select>
  <br><br>

  <label>Address<br>
    <input type="text" name="latitude" placeholder="latitude"><br>
    <input type="text" name="longitude" placeholder="longitude"><br><br>
  </label>


  <input type="submit" id="submit">
</form>
<a href="/places/index-places">Back to the list</a>