<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 style="font-weight: 100">New Place</h1>
        </div>

<div class="col-md-6">

<form action="/places/new" method="post">
    <div class="form-group">
        <label for="name-input">Name</label>
        <input name="name" type="text" class="form-control" id="name-input">
    </div>

    <div class="form-group">
        <label for="type">Type</label>
        <select name="type" type="text" class="form-control" id="type-input">
        <option>Select</option>

        <option value ="coffe shop">Coffe Shop</option>
        <option value="book store">Book Store</option>
        </select>
    </div>

    <br>
    <h3>Location</h3>
    <div class="form-group">
        <label for="lat-input">Latitud</label>
        <input name="lat" type="number" class="form-control" id="lat-input">
    </div>

    <div class="form-group">
        <label for="lng-input">Longitud</label>
        <input name="lng" type="number" class="form-control" id="lng-input">
    </div>

  
    <button type="submit" class="btn btn-dark">Create Place</button>
    <a href="/places" class="btn btn-dark">Go bACK</button>

    
</form>
</div>

</div>