<h2>New Place</h2>
<form action="/places/new" method="POST">
  <label>Name</label>
  <input id="inputName" type="text" name="name">
  <label>Type</label>
  <input id="inputType" type="text" name="type">
  <button type="submit">Create</button>
</form>