<form class="" action="/new" method="post">
  <label for="">name</label>
<input type="text" name="name" value="">
<label for="">Latitude</label>
<input type="text" name="latitude" value="">
<label for="">Longitude</label>
<input type="text" name="longitude" value="">
<select class="" name="type">
  <option value="coffeeShop">coffeeShop</option>
<option value="bookStore">bookStore</option>
</select>
<button type="submit" name="button">submit</button>

</form>
