<h2>Create a New Place</h2>
<div>
  <form action="/places" method="post">
    <label for="">Name:</label>
    <input type="text" name="name">

    <label for="">type:</label>
    <input type="text" name="type">

    <button type="submit">Create</button>
  </form>
  <br>
  <div>
    <a href="/places">Go to Places</a>
    <br>
    <a href="/">Go Home</a>
  </div>
</div>