<div class="row justify-content-center">
    <div class="col-md-6">

        <h2>Añade un nuevo lugar</h2>

        <form action="/places/new" method="POST">
            <div class="form-group">
                <label for="field1">Nombre</label>
                <input name="name" type="text" class="form-control" id="field1">
            </div>
            <div class="form-group">
                <label for="field2">Tipo</label>
                <select id="field2" name="select">
                  <option value="value1">Coffee Shop</option> 
                  <option value="value2">Book Shop</option>
                </select>
            </div>
            <div class="form-group">
                <label for="field3">Dirección</label>
                <input name="latitude" type="text" class="form-control" id="field3" placeholder="latitude">
                <input name="longitude" type="text" class="form-control" id="field3" placeholder="longitude">
            </div>

            <button type="submit" class="btn btn-info btn-lg btn-block">Crear</button>
        </form>
    </div>
</div>
