<div class="container">
  <h3>New place</h3>

  <form action="/new" method="POST">
    <div class="form-group">
      <label for="field1">Name</label>
      <input name="name" type="text" class="form-control" id="field1">
    </div>
    <div class="form-group">
      <label for="field2">Longitude</label>
      <input name="longitude" type="text" class="form-control" id="field2">
    </div>
    <div class="form-group">
      <label for="field2">Latitude</label>
      <input name="latitude" type="text" class="form-control" id="field2">
    </div>
    <div class="form-group">
      <label for="field3">Type</label>
      <input name="type" type="text" class="form-control" id="field3">
    </div>

    <button type="submit">new place</button>
  </form>
</div>