<h2>Add new place</h2>

<form action="/places/add/new" method="POST">
<label for="name">Name:</label>
  <input type="text" name="name"><br>
<label for="type">Type:</label>
 <select name="type">
    <option value="coffee shop">Coffee shop</option>
    <option value="bookstore">Bookstore</option>
</select>

<button type="submit">Add new</button>


</form>