<h1>Create new place</h1>

<form class="form" method="post" action="/places/new">
  <div class="field">
    <input type="text" class="input" name="name" placeholder="Name" id="name">
    <label for="name" class="label">Name</label>
  </div>
  <div class="field">
    <select name="type" id="type" class="select">
      <option value="coffee shop">Coffee shop</option>
      <option value="bookstore">Bookstore</option>
    </select>
  </div>
  <div class="field">
    <input type="text" class="input" name="lat" id="lat">
    <label for="lat">Latitude</label>
  </div>
  <div class="field">
    <input type="text" class="input" name="lng" id="lng">
    <label for="lng">Longitude</label>
  </div>
  <div class="actions">
    <input type="submit" value="Create" class="button button-submit">
  </div>
</form>

<div id="map" class="map"></div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"></script>
<script src="/javascripts/new.js"></script>
