<div class="container ">
  <h1>Añadir un nuevo lugar:</h1>
  <hr>
  <div class="row d-flex justify-content-around">
    <div class="col-12">

    </div>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="col-12">
      <div class="form-group">
        <form action="/new" method="post">
          <div class="row d-flex justify-content-around">
            <div class="col-5">
              <label for="">Nombre:</label>
              <input type="text" class="form-control" name="name" value=""><br>
            </div>
            <div class="col-5">
              <label for="">Tipo de local:</label>
              <input type="text" class="form-control" name="type" value=""><br>
            </div>
          </div>
          <div class="row d-flex justify-content-around">
            <div class="col-5">
              <label for="">Latitud:</label>
              <input type="text" class="form-control" name="lat" value=""><br>
            </div>
            <div class="col-5">
              <label for="">Longitud:</label>
              <input type="text" class="form-control" name="lng" value=""><br>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary">Añadir</button>
        </form>
      </div>
    </div>
  </div>
</div>