<h2>Create a new place</h2>

<form action="/places/new" method="post">
    <label for="name">Name: </label><br>
    <input name="name" type="text" placeholder="name"><br><br>

    <label for="type">Type: </label><br>
    <input name="type" type="text" placeholder="type"><br><br>

    <label for="type">Location: </label><br>
    <input name="latitude" type="text" placeholder="latitude"><br><br>

    <label for="type">longitude: </label><br>
    <input name="longitude" type="text" placeholder="longitude"><br><br>

    <button type="submit">Create</button>
</form>