<h2>Add new place to DDBB</h2>

<form action="/place/new" method="post">
  <label for="">Name:</label>
  <input type="text" name="name"> <br><br>

  <label for="">Type:</label>
  <input type="text" name="type"> <br><br>

  

  <button type="submit">ADD</button>
</form>