<h2>New Place</h2>
<div>
    <form method="POST" action="/place-create">
        <p> <input type="text" name="name" placeholder="Name">
        </p>
        <p>
            <select name="type">
                <option value="coffeeShop">Coffee shop</option>
                <option value="bookStore">Bookstore</option>
            </select>
        </p>
        <input type="text" name="latitude" placeholder="latitude">
        <input type="text" name="longitude" placeholder="longitude">
        <p> <input type="submit" value="Save new Place">
        </p>
    </form>
    <p><a href="/">go home</a></p>
</div>