<h3>Add new place</h3>
<form method="POST" action="/places">
    <input id = "name" type="text" name="name" placeholder="name">
    <select name="type">
      <option value="coffee-shop">Coffee Shop</option>
      <option value="bookstore">Bookstore</option>
    </select>
    <label>Adress</label>
    <input type="text" name="latitude" placeholder="latitude">
    <input type="text" name="longitude" placeholder="longitude">

    <input type="submit" name="" id="submit">
</form>
<a href="/places">Back to the list</a>