<h2>New place:</h2>
<div class="celebrity-wrapper">
<form action="/places" method="POST">
<input type="text" name="name" value="The Goodfather" placeholder="name">
<input type="text" name="type" value="Drama, Mafia, Crime" placeholder="type">
<input type="submit" class="submit" value="Create">
</form>
<a href="/places">Go back</a>
</div>