<h1>Crete new place</h1>
<form action="/places" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="lat" placeholder="Lat">
  <input type="text" name="long" placeholder="Long">
  <select name="type">
    <option value="coffee shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <input type="submit" value="Create">
</form>