<h2>new</h2>

<form method="POST" action="/new">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="type" placeholder="coffee shop or bookstore ONLY!">
  <input type="text" name="latitude" placeholder="Latitude">
  <input type="text" name="longitude" placeholder="Longitude">
  <button type="submit">Create</button>

</form>