<h3>Add new restaurant</h3>
<form method="POST" action="/places/new">
  <input type="text" name="name" placeholder="name"><br>
  <input type="text" name="type" placeholder="type"><br><br>
  <label>Address<br>
    <input type="text" name="latitude" placeholder="latitude"><br>
    <input type="text" name="longitude" placeholder="longitude"><br><br>
  </label>
  <input type="submit" id="submit">
</form>