<h2>New Place</h2>
<form action="/places/new" method="POST">
  <input type="text" name="name" placeholder="Place name..">
  <input type="text" name="type" placeholder="Bookstore or Coffee Shop...">
  <input type="text" name="description" placeholder="Add a description...">
  <input type="number" name="lat" placeholder="Latitud...">
  <input type="number" name="lng" placeholder="Longitud">
  <input type="submit" value="New place">
</form>

<p><a href="/places">Back to the list</a></p>