<form action="{{action}}" method="POST">
  <input type="text" name="name" placeholder="Name" value="{{place.name}}">
  <select name="tipo" id="">
    <option value="coffe shop">Coffe Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <input type="submit" value="Save">
</form>