<h2>Nuevo registro</h2>

<form action="/places/add" method="post">
    <label for="">Name</label>
    <input type="text" name="name">

    <label for="">Type</label>
    <input type="text" name="type">


    <button type="submit">Añadir</button>
</form>