<h2>Pagina del lugar nuevo</h2>

<form action="/places" method="post">
  <label for="name-input">Name:</label>
  <input id="name" type="text" name="name">

  <label for="type-input">Type:</label>
  <input id="type-input" type="text" name="type">

  <label for="timestamps-input">Timestamps:</label>
  <input id="timestamps-input" type="text" name="timestamps">

  <input type="submit" value="Save Name">
</form>