<h2>Create a place</h2>

<form action="/places/new" method="post">

    <label>Name</label>
    <input type="text" name="name">

    <label>Type</label>
    <input type="text" name="type">

    <label>Latitude Coordinates</label>
    <input type="text" name="latitude">

    <label>Longitude Coordinates</label>
    <input type="text" name="longitude">

    <button class="btn-dark" type="submit">Create</button>

</form>

<hr>

<a class="btn-dark" href="/places/new">Create</a>

<a class="btn-dark" href="/places">Go back to the list of places</a>