<h1>Create a new place</h1>

<form action="/places" method="POST">
    <input type="text" name="name" placeholder="Introduce the name of a place" value="" required>
    <select name="type" required>
        <option selected disabled>Choose a type</option>
        <option value="Coffee Shop">Coffee Shop</option>
        <option value="Bookstore">Bookstore</option>
    </select>

    <label>Location</label>
    <input type="text" name="lng" placeholder="Longitude">
    <input type="text" name="lat" placeholder="Latitude">


    <input type="submit" value="Create now!">
</form>