{{!-- <h3>Add new place</h3>
<form method="POST" action="/places">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="description" placeholder="description">
{{!-- you will start using "address" part when you 
set up your model to be able to store lat and long, so add address here:  --}}
    

    <input type="submit" name="" id="submit">
</form>
<p><a href="/places">Back to the list</a></p> --}}