<form action="/places/new" method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="type" placeholder="type">
  <input type="text" name="lat" placeholder="latitude">
  <input type="text" name="lng" placeholder="longitude">
  <button type="submit">create</button>
</form>