<div id="main-panel">
    <h1>Create new place</h1>
    <form class="form-nav" action="" method="POST">
        <input type="text" name="name" placeholder="Name">
        <select name="type">
            <option>coffee shop</option>
            <option>bookstore</option>
        </select>
        <input type="text" id="lat" name="lat" placeholder="latitude">
        <input type="text" id="long" name="long" placeholder="Longitude">
        <button type="submit">Save</button>
    </form>
    <div class="item-place">
        <a href="/">Home</a>
    </div>
</div>

<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmA_nB5Ja-EzOKb37_eyIomFhgC6QjEvw"></script>
