<h2>Places Create</h2>
<form action="/create" method="POST">
    <label>
        Name:
        <input type="text" name="name">
    </label>

    <label>
        Latitude:
        <input type="text" name="lat">
    </label>

    <label>
        Longitude:
        <input type="text" name="lng">
    </label>

    <input type="submit" value="Create Place">
</form>