<h2>New place</h2>
<form action="/newplace" method="POST">
  <input type="text" name="name" placeholder="place name..">
  <select name="type" id="type">
    <option value="bookstore">Bookstore</option>
    <option value="coffee shop">Coffee shop</option>
  </select>
  <input type="number" step="any" name="lat" placeholder="latitude">
  <input type="number" step="any" name="lng" placeholder="longitude">
  <input type="submit" value="New place">
</form>

<br><br>
<a href="/">Index</a>