<div class="container places-index">

  <h1 style="font-weight: 100">{{name}}</h1>

  <p>{{type}}</p>

  <hr>

  <div class="row">
    <div class="col-6">
      <a href="/places/delete?id={{_id}}" class="btn btn-danger mx-1">Eliminar</a>
      <a href="/places/edit?id={{_id}}" class="btn btn-info mx-1">Editar</a>
    </div>
    <div class="col-6">
      <a href="/places" class="btn btn-dark mx-1">Volver</a>
    </div>
  </div>

</div>