  <h2>Add your favourite places to the list!</h2>

  <form action="/places" method="post">
    <div class="form-group">
      <label for="name-input">Place name</label>
      <input name="name" type="text" class="form-control" id="name-input" placeholder="name">
    </div>
    <div class="form-group">
      <label for="type-input">Type</label>
      <select name="type" id="type">
        <option>coffe shop</option>
        <option>bookstore</option>
      </select>

     <label>Address</label>
    <input type="text" name="latitude" placeholder="latitude">
    <input type="text" name="longitude" placeholder="longitude">
    <input type="submit" name="" id="submit">

  
    <button type="submit" class="btn btn-primary">Add now!</button>  
    </div>
  </form>

<h2>View your favouriteplace</h2>
<a href="/view-details">Explore it now!</a>


