<div>
  <h2>{{name}}</h2>
  <p><strong>Type:</strong> {{type}}</p>
  <label>Address:</label>
  <p>Latitude-{{location.coordinates.[1]}}</p>
  <p>Longitude-{{location.coordinates.[0]}}</p>
  <p><a href="/places">Return to Places page.</a></p>
</div>
<div id="map">
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR-KEY-HERE">
  </script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</div>