<h1>{{place.name}}</h1><br>
<p>{{place.type}}</p>
 <input type="hidden" name="latitude"   step="0.0000000000001" value={{latitude}}>
<input type="hidden" name="longitude" step="0.0000000000001" value={{longitude}}>
<div id="map" class="map"></div>