<h2>Datos del tienda</h2>
<span>Nombre: {{name}}</span>
<p>Ocupacion: {{type}}</p>

<a href="/list" class="btn-secondary btn-lg active">Lista de tiendas</a>


<figure id="myMap"></figure>

<script src="../javascripts/main.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key={{process.env.KEY}}=initMap"></script>    