

<div class="row justify-content-center">

    <div class="col-md-6">

        <h1>modificar</h1>
        <hr>

        <form action="/places/{{id}}/update" method="POST">

            <div class="mb-3 row">
                <div class="col">
                    <label for="emailInput" class="form-label"  >nombre</label>
                    <input type="text" class="form-control" value="{{name}}" name="name">
                    <div class="form-text">Requerido.</div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="type">
                        <option value="coffee-shop">cafeteria</option>
                        <option value="bookstore">libreria</option>
                    </select>
                </div>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark block">Completar registro</button>
            </div>

        </form>
    </div>
</div>

</div>