<div class="container">
  <h2>Place Detail</h2>
  <div id="detail">
    <div>
      <p><strong>Name: </strong>{{place.name}}</p>
      <p><strong>Type: </strong>{{place.type}}</p>
      {{!-- <p><strong>Longitude: </strong>{{place.location.coordinates[0]}}</p>
      <p><strong>Latitude: </strong>{{place.location.coordinates[1]}}</p>   //NO CONSIGO QUE SALGA SIN QUE ME DE UN ERROR 500 AL DESCOMENTARLO--}}
    </div>
    <a href="/places">Go to Places</a>
  </div>
</div>