<h2>Place Details</h2>
<div>
  <div>
    <label for="">Name: </label>
    <p style="display: inline">{{this.name}}</p>
  </div>
  <div>
    <label for="">Type: </label>
    <p style="display: inline">{{this.type}}</p>
  </div>
  <br>
  <br>
  <a href="/">Home</a>
</div>