<h2>Place Details</h2>
<h3>Name: </h3>
<p>{{name}}</p>
<h3>Type: </h3>
<p>{{type}}</p>
<h3>Location (Longitude / Latitude):</h3>
<p>{{location.coordinates}}</p>
<a href="../../places">Return to Place List</a>