
<!DOCTYPE html>
<html>
  <head>
    <title>COFFEE AND BOOKS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>



    <h1> <%= place.name %> </h1>
    <a href="/places">Go back to list</a>

    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5szlGG2woo8EqfywCdGt7KEimCxBHfOo"></script>
    <script  src="/javascripts/main.js"></script>

  </body>

</html>
