<!DOCTYPE html>
<html>
  <head>
    <title>Google Maps | Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3 id="placeName" data-id="<%= place.id %>"><%= place.name %></h3>
    <p><%= place.description %></p>
    <a href="/">List</a>
    <div id="map"></div>
  </body>
  <script type="text/javascript">
    var myPlace = (<%- jsonPlace %>);
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdLO4PSPK21ToyXTxnxeJeNr5YJt5oufE"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/show.js"></script>
</html>
