<div>
  <h2>Place Details</h2>
  <h3>{{name}}</h3>
  <p>{{type}}</p>
  <p>latitude: {{location.coordinates.[0]}}</p>
  <p>longitude: {{location.coordinates.[1]}}</p>
  <p><a href="/places">back</a></p>
</div>