<!-- main.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>My Second Map</title>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Third Map</h3>
    <div id="map"></div>

    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVsnWzJw9I7-VWMvKGMdszW2zybWsn7QU">
    </script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
