<p>Name: {{place.name}}</p>
<p>Type: {{place.type}}</p>
<p>Location: {{place.location.coordinates}}</p>

<div id="map"></div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{GMAPS}}"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>