<h2>Update this place's details</h2>
<form action="/places/{{id}}/update" method="POST">
  <input type="text" name="name" value="{{name}}">
  {{!-- <input type="text" name="name" value="{{type}}"> --}}
  <select name="type" id="type">
    <option value="">Please choose an option</option>
    <option value="Coffee Shop">Coffee Shop</option>
    <option value="Bookstore">Bookstore</option>
    </select>
 
  <button type="submit">Update</button>
</form>