<div class="update-place">
    <h1>Update Place</h1>
    <form action="/places/updatePlace/{{place._id}}" method="POST">
        <input type="text" name="name" placeholder="Name" value="{{place.name}}">
        <select name="type">
            <option {{#is place.type 'coffe shop'}}selected{{/is}}>coffee shop</option>
            <option {{#is place.type 'bookstore'}}selected{{/is}}>bookstore</option>
        </select>
        <input type="text" id="lat" name="lat" value="{{place.coordinates.lat}}" placeholder="Latitude">
        <input type="text" id="long" name="long" value="{{place.coordinates.long}}" placeholder="Longitude">
        <button type="submit">Save</button>
    </form>
    <div>
        <a href="/">Home</a>
    </div>
</div>

<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmA_nB5Ja-EzOKb37_eyIomFhgC6QjEvw"></script>
