<h1>Editar datos de las Places</h1>
<hr>
<form action="/places/detalles/{{place.id}}" method="post">
<h4>Nombre:</h4>
    <input type="text" name="name" placeholder="{{place.name}}">
    <div class="form-group">
        <label for="coffee&Books">Elige el tipo de establecimiento:</label>
        <select name="type" class="form-control" id="coffee&Books">
            <option>Seleccionar</option>
            <option value="coffee shop">Coffee Shop</option>
            <option value="bookstore">BookStore</option>
        </select>
       
    </div>
   <label>Coordenadas</label>
        <input type="text" name="latitude" id="latitude" placeholder="Latitude" value="{{ place.location.coordinates.[1]}}">
        <input type="text" name="longitude" id="longitude" placeholder="Longitude" value="{{ place.location.coordinates.[0]}}">
    <br>
    <button type="submit" name="" id="submit" class="btn btn-info m-4">Editar</button>
</form>
<a href="/places/lista" class="btn btn-info">Volver a la lista</a>