<!DOCTYPE html>
<html>
  <head>
    <title>CIUDADES</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
       var myRestaurants = <%-JSON.stringify(restaurants) %>
     </script>
     <script src="/javascripts/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBz7hnHdc3OyR2YviTE9J3FBFoI4H3_Aw"></script>
  </head>
  <body>
    <h2>Coffe (drug) shop</h2><br>
    <a href="/add"><button>Add place</button></a>
    <div id="map"></div>
  </body>
</html>
