
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a class="btn btn-info" href="/new">Add new place</a>
      <div id="map"></div>
     
       

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYGeLjGXycZmWTHrdL67cGYhkhMjSAWRo"></script>
        <script async defer src="./javascripts/main.js"></script>
      
