<form action="/locations/add" method="post">
  <label>Name:</label>
  <input type="text" name="name">

  <label>Description: </label>
  <input type="text" name="description">

  <label>Coordinates: </label>
  <input type="text" name="latitude" placeholder="Latitude">
  <input type="text" name="longitude" placeholder="Longitude">

  <button type="submit">Add</button>
</form>