{{place.name}}</br>
{{place.description}}</br>
{{!-- <a href="/locations/{{place._id}}/edit"><button>Edit</button></a> --}}

<div id="id" style="display:none">{{place._id}}</div></br>
<a href="/locations"><button>Back to Locations</button></a>

<div id="map"></div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD77bMmpB7LUC792mPtcQY7Mr3T4vBSpzc"></script>
<script src="/javascripts/show.js"></script>
