<h1>Mapa de los lugares</h1>
<hr>
<figure id="myMap"></figure>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/maps.js"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC84LkpQNYywBK6UmzK78jP0ZzGrf89IzA&callback=init"></script>