<div class="container">

    <h1>Mapa de restaurantes</h1>


    <div id="myMap"></div>

    <a href="/" class="btn btn-dark">Volver al inicio</a>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/map-coffee.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?&callback=init"></script>