<!doctype html>
<html lang="en">

<head>
  <title>Coffe and Books</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script  defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlCnDCFOgwKnydekFBySRxfRUhs3Dvdx0"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  
    <%- body %>
  
  
</body>

</html>