<form method="POST" action="/new">
  <input type="text" name="name" placeholder="name">
  <select name="type">
  <option value="coffee shop">coffee shop</option>
    <option value="bookstore">bookstore</option>
  </select>

  <label>Address</label>
  {{!-- <input id="lat-pos" type="hidden" name="latitude" placeholder="Latitude">
  <input id="lng-pos" type="hidden" name="longitude" placeholder="Longitude"> --}}

  <input type="submit" name="">

</form>
  <div id="map"></div>
  <script>
    
  </script>

<script src="https://maps.googleapis.com/maps/api/js?key=https://maps.googleapis.com/maps/api/js?key=AIzaSyDmA_nB5Ja-EzOKb37_eyIomFhgC6QjEvw"></script>
<script type="text/javascript" src="/Users/yaredmyers/Documents/IronHack/lab/lab-coffee-and-books/starter-code/public/javascripts/script.js"></script>
{{!-- <script src="/javascripts/addMap.js"></script> --}}