<!-- main.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>My First Map</title>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Chill 'nd Read map</h3>
    <p>Select a Café and a Book <%= title %></p>
    <div id="map"></div>

    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=YOUR-API-KEY">
    </script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
    
