<form action="/" method="POST">

Name: <br> 
<input type="text" name='name'><br>
Address: <br>
<input type="text" name='address'><br>
Location: <br>
Latitude:
<input type="text" name='latitude'> <br>
Longitude:
<input type="text" name='longitude'> <br>
Place Type: <br>
<input type="radio" name='placeType' value='BOOKSTORE' checked>BookStore<br>
<input type="radio" name='placeType' value='COFFEESHOP'>Coffee Shop<br>

<button>Save Place</button>

</form>
