<div class="container">
    <h1>Map of your places</h1>
    <hr>
    <p>Aquí tienes un mapa de Madrid sin marcadores :3 </p>
    <figure id="myMap"></figure>


</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../js/places-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8McFYCWtv56TQTyx0-sX9hvL4EKppuRI&callback=initMap"></script>