<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div id="map"></div>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7RjPIqng94koRy8TKHR6Gp0WE5a5eC7Y">
  </script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>