<form method="post" action="/new">
  <label for="name">Add name:</label>
  <input type="text" id="name" name="name">
  <select name="type" id="type">
    <option value="Covfefe">Covfefe</option>
    <option value="Books">Books</option>
  </select>
  <label for="longitude">Add longitude:</label>
  <input type="number" id="longitude" name="longitude">
  <label for="latitude">Add latitude:</label>
  <input type="number" id="latitude" name="latitude">
  <button type="submit">Add new place</button>
</form>