<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>NEW PLACE</h1>
            <hr>
            <form action="/create-place" method="POST">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="name" class="form-label">NAME: </label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="type" class="form-label">TYPE:</label>
                            <input type="text" class="form-control" id="type" name="type">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="latitude" class="form-label">Latitude:</label>
                            <input type="text" class="form-control" id="latitude" name="latitude">
                        </div>
                        <div class="mb-3">
                            <label for="longitude" class="form-label">Longitude:</label>
                            <input type="text" class="form-control" id="longitude" name="longitude">
                        </div>
                    </div>
                </div>

                <div class="d-grid mt-5">
                    <button type="submit" class="btn btn-dark btn-lg">SAVE PLACE</button>
                </div>
            </form>
        </div>
    </div>


</div>