body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.father {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#map {
  width: 60%;
  height: 400px;
  align-items: center;
  display: flex;
}

.card {
  display: flex;
  align-items: center;
}
