<form id="form-new-bookstore">
  <div class="form-group">
    <label for="name">Bookstore Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" placeholder="Description">
  </div>
  <div class="form-inline">
    <label for="description">Location (Lat & Lng)</label>
    <input type="text" class="form-control" id="lat" name="lat" placeholder="Latitude">
    <input type="text" class="form-control" id="lng" name="lng" placeholder="Longitude">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" name="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-success">Save</button>
</form>