<div class="container">
    <h1>Coffee and books</h1>
    <hr>
    <img src="https://images.unsplash.com/photo-1607473129381-ca8345af56ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="#">
    <hr>
    <a href="/places" class="btn btn-primary">List</a>
    <a href="/create-places" class="btn btn-warning">Create</a>
    <a href="/placesmap" class="btn btn-danger">Map</a>
</div>