{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>new</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> --}}

<h3>Add new place</h3>
		<form method="POST" action="/">
			<input type="text" name="name"        placeholder="name">
			<input type="text" name="description" placeholder="description">
				
			<label>Address</label>
			<input type="text" name="latitude" placeholder="Latitude" >
			<input type="text" name="longitude" placeholder="Longitude">
				
			<input type="submit" name="" id="submit">
		</form>

		{{!-- <div id="map"></div>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbBJPvYIaR5ozIx_0-uWiGeO9cK4IxHww"></script>
    <script type="text/javascript" src='/javascripts/script.js'></script>
    <script type="text/javascript" src="/javascripts/new.js"></script>
  </body>
</html> --}}