{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>show</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> --}}

<h3 id="placeName" data-id="{{ place.id}}">{{ place.name}}</h3>
    <p>{{ place.description}}</p>
    <a href="/">List</a>

    {{!-- <div id="map"></div>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbBJPvYIaR5ozIx_0-uWiGeO9cK4IxHww"></script>
    <script type="text/javascript" src='/javascripts/script.js'></script>
    <script type="text/javascript" src="/javascripts/show.js"></script> 
  </body>
</html> --}}