<div class="container">
    <h1 class="d-flex justify-content-center">Restaurantes</h1>
    <hr>
    <figure id="myMap"></figure>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/maps.js"></script>
<script class="movidote" src="https://maps.googleapis.com/maps/api/js?callback=init">
</script>