<style>
    #map {
        height: 400px;
        background-color: red;
    }
</style>

<figure id="map"></figure>

<a href="/places" target="_blank">Go Back</a>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../../js/places-maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>