<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <p>Go to <a href="/coffee">coffee</a> | Go to <a href="/book">books</a></p>
    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
