<div class="container mt-5">
    <h1>Mapa básico</h1>
    <hr>
    <div id="basicMap"></div>
    <hr>
    <a href="/" class="btn btn-dark">Volver</a>
</div>

<script src="/js/basicMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyB_60L-8Uew5vuQwTzHGAUOSgwDtxTdZNs"></script>