<div class="container mt-5">
    <h1> Places map </h1>
    <hr>
    <div id="placesMap"></div>
    <hr>
    <a href="/" class="btn btn-dark">Volver</a>
</div>

<script src="/js/placesMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=initViewMarkers&key=AIzaSyB_60L-8Uew5vuQwTzHGAUOSgwDtxTdZNs"></script>