<style>
    #rplacesMap {
        height: 300px;
        background-color: red;
    }
</style>

<figure id="placesMap"></figure>

<a href="/api/api-places" target="_blank">Mira la API!</a>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/places-map-setup.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoqC0ihqjj4v1CDfn2_eefyY134eM-j6E&callback=initMap"></script>