<div class="container">
    <h1>Map</h1>
    <hr>
    <div id="map"></div>
    <hr>
    <a href="/" class="btn btn-dark">Home</a>
</div>

<script src="/js/restaurants-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMarkers&key=AIzaSyBCZevXwOe_r45eUrpzOIQ5XdJy8KtRMgQ"></script>