<!-- main.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>My First Map</title>
  </head>
  <body>
    <form action="/places/map" method="POST">
       <label for="places"></label>/Name:</label><input type="text" name="name"> 
       <label for="establishment">Establishment</label><input type="text" name="establishment">
       <label for="lat">Latitud:</label><input type="text" name="latitude"> 
       <label for="lng">longitude:</label><input type="text" name="longitude"> 
       <button >Go ahead!</button>
    </form>
</body>
</html>