<div class="container">
    <h1>Mapa básico</h1>
    <hr>
    <div id="map"></div>
    <hr>
    <a href="/" class="btn btn-dark">Volver</a>
</div>

<script src="/js/myMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyAEBM2B2NHtdK48DV0aU3fMySjjpoHRu3I"></script>