<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h2>Edit here your Coffee and Books places!</h2>
    <form action="/places" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">

      <label for="description">Description</label>
      <input type="text" name="description" id="description">

      <label for="latitude">Latitude</label>
      <input type="text" name="latitude" id="latitude">

      <label for="longitude">Longitude</label>
      <input type="text" name="longitude" id="longitude">

      <input type="submit" name="">Save
    </form>
  </body>
</html>
