<!DOCTYPE html>
<html>
  <head>
    <title>Google Maps | Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3 id="placeName" data-id="<%= place.id %>"><%= place.name %></h3>
    <p><%= place.description %></p>
    <a href="/">List</a>

    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>

   <div id="map"> </div>







  </body>

</html>
