<form action="/sitios/crear" method="POST">

  <label for="name"> Nombre del Sitio </label>
  <input type="text" name="name" id="name">

  <label for="type"> Tipo </label>
  <input type="text" name="type" id="type">

  <label for="latitude"> Latitude </label>
  <input type="text" name="latitude" id="latitude">

  <label for="longitude"> Longitude </label>
  <input type="text" name="longitude" id="longitude">

  <input type="submit">

</form>