<h1>Lista de Lugares</h1>

<div>
<a href="/places/new">
  Agregar Lugar
</a> 
</div> 
<br/>
<div>
{{#each places}}
  <a href="places/detail/{{this._id}}">
    {{this.name}}
  </a><br>
  </div>
{{/each}}