<div class="container">

    <h1>Los sitios!!!</h1>
    <hr>
    <figure id="myMap"></figure>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/places.setup.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=init&key=AIzaSyAXrluxt6edH6GHzswvJd_nckU_vPeBjzc"></script>