<div class="container default-margin">

    <h1>Soy un mapa básico</h1>

    <div id="myMap" class="mb-3"></div>

    <a href="/" class="btn btn-dark">Volver al inicio</a>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mapStyles.js"></script>
<script src="/js/map-places.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWeFAP8xK0Ea5xMJjFlEDbq7C_twO-_so&callback=init"></script>