.are-you-sure {
  font-size: 1.25rem;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.map {
  max-width: 600px;
  height: 400px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
  margin: auto;
}
