<h2>Place Details</h2>


<div>
    <label>
        Name :
        <span>{{name}}</span>
    </label>
</div>

<div>
    <label>
        Type of Place :
        <span>{{type}}</span>
    </label>
</div>

<div>
    <a href="/places/{{_id}}/edit">Edit Place</a>
</div>
