<h2>Add your New Places</h2>

<form action="/places/create" method="POST">

    <label>
        Name
        <input type="text" name="name">
    </label>

    <label>Type of Place
        <select name="type" id="">
           <option value="coffee_shop">Coffee Shop</option>
           <option value="bookstore">Book Store</option>
        </select>
    </label>


    <input type="submit" value="Create Place">

</form>

