<div class="col-9 card text-center align-items-center justify-content-center">
    <div class="detailscard">
        <h2>Place name: {{name}}</h2>
        <h4>Type: {{type}}</h4>
        <h5>Coordinates:</h5>
        <p>Latitude: {{location.coordinates.[0]}} Longitude: {{location.coordinates.[1]}}</p>
    </div>


</div>