<div class="Map"></div>

<script src="/js/map-setup.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=CENSURAAAAAAAAAAAAAAAAAA&callback=initMap"></script>