<div class="container">
    <h1>Crear Cafeterías y Librerías</h1>
    <hr>

    <form action="/crear" method="POST">
        <label>
            Nombre:
            <input type="text" name="name">
        </label>
        <label>
            Latitud:
            <input type="text" name="lat">
        </label>
        <label>
            Longitud:
            <input type="text" name="lng">
        </label>

        <input class="btn btn-dark" type="submit" value="Crear Cafetería o Librería">
    </form>
</div>