<div class="container">



    <div class="row">

        <div class="col-6">

            <h1>Create your place</h1>

            <form action="/places/create" method="POST">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name">
                </div>

                <div class="mb-3">
                    <label for="propellers" class="form-label">Type</label>
                    <input type="text" class="form-control" name="type">
                </div>

                <div class="mb-3">
                    <label for="propellers" class="form-label">Latitud</label>
                    <input type="text" name="latitude" placeholder="latitud">
                </div>
                
                <div class="mb-3">
                    <label for="propellers" class="form-label">Longitud</label>
                    <input type="text" name="longitude" placeholder="longitud">
                </div>

                <button type="submit" class="createButton">Create place</button>
            </form>

        </div>

        {{!-- <div class="col-6">
            <img class="parts" src="/images/place.jpg" alt="place image">
        </div> --}}

    </div>

</div>