<div class="container">

    <div class="row">
        {{#each allPlaces}}
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{type}}.</p>
            <form action="places/{{id}}/delete" method="POST">
                    <button type="submit" class="btn btn-info">Elimina Local</button>
            </form>
                    {{!-- <a href="#" class="btn btn-primary">Eliminar local</a> --}}
            <form action="places/{{id}}/edit" method="GET">
                    <button type="submit" class="btn btn-info">Editar Local</button>
            </form>
                </div>
            </div>
        </div>
            {{/each}}
    </div>
    <a href="/" class="btn btn-dark">Volver</a>

</div>