<h1>DETALLES</h1>

<h3>{{name}}</h3>
<h4>{{type}}</h4>

<a class="btn btn-danger" href="/places/delete?place_id={{id}}">Eliminar</a>
<a class="btn btn-light" href="/places/edit?place_id={{id}}">Editar</a>





<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsUA4a98gr4o1f-ZT5QesEer39TVyc2MU&callback=CALLBACK_FUNCTION"></script>