<div class="container">

    <h1>{{name}}</h1>

    <hr>

    <p><strong>Tipo:</strong> {{type}}</p>
   

    <hr>


<figure id='map'>

</figure>

<hr>
    <a href="/locales" class="btn btn-dark">Volver a los locales</a>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/placeMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZzqyex6UXgHGEY0vxX1e77Q_aodJfjFo&callback=initApp"></script>