
<div class="container">

<form action="/places/edit/{{_id}}" method="post">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del lugar" value="{{name}}">
 </div>
 <div class="form-group">
    <label for="name">Latitud</label>
      <input type="text" class="form-control" id="latitude "name="latitude" placeholder="Latitude" value="{{location.coordinates.[0]}}"> 
 </div>
 <div class="form-group">
    <label for="name">Longitud</label>
      <input type="text" class="form-control" id="longitude "name="longitude" placeholder="Longitude" value= "{{location.coordinates.[1]}}"> 
 </div>
  
  <div>
  <label class="btn btn-secondary active">
    <input type="radio" name="type" id="books" autocomplete="off" value="bookstore" checked> Bookstore
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="type" id="coffe" autocomplete="off" value="coffe shop"> Cofee Shop
  </label>
  
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>




</div>