<div class="container">
    <h1>Mapa Marcado</h1>
    <hr>
    <figure id="myMap"></figure>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/places-map.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=_______PEGA_AQUI_TU_API_KEY_____&callback=initMap"></script>

{{!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initMap"></script> --}}