<h2>Create New Place</h2>


<form id="form" action="/new" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Enter name">
    <label for="role">Kind of place</label>
    <select name="kind" id="kind">
        <option value="Cafe">Cafe</option>
        <option value="Bookstore">Bookstore</option>
    </select>
    <label for="latitude">Latitud</label>
    <input type="text" name="latitude" placeholder="lat">
    <label for="longitude">Longitud</label>
    <input type="text" name="longitude" placeholder="lng">

    <button type="submit">Create place</button>
</form>