<div class="container">
    <h1>Listado de Places</h1>
    <hr class="mb-3">

    {{#each places}}
    <li>
        Nombre: {{name}} Tipo de Establecimiento: {{type}}
    </li>

    <a href="/places/editar/{{_id}}" class="btn btn-sm btn-info">editar</a>

    <form action="/places/eliminar/{{_id}}" method="POST" style="display: inline">
        <input type="submit" value="eliminar" class="btn btn-sm btn-danger">
    </form>

    <hr>

    {{/each}}

    <hr>
    <a href="/" class="btn btn-dark">Volver a inicio</a>
</div>