<div class="container">
    <h1>Mapa de places</h1>
    <hr>
    <div id="map"></div>
    <hr>
    <a href="/" class="btn btn-dark">Volver</a>
</div>

<script src="/js/placesMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=initViewMarkers&key=AIzaSyBx72KESknoGr4R_KweexoTWPO_sq1Zph0"></script>