<h1>AQUI LOS LUGARES</h1>

<ul>
    <div class="row">
        {{#each places}}
            <div class="col-md-6">
                <li>{{name}} ({{type}})</li>
            <form action="/places/delete/{{id}}" method="post">
                <button class="btn btn-dark" type="submit">Eliminar</button>
            </form>
            <a class="btn btn-dark"href="/places/edit/{{id}}">Editar</a>

            </div>
            
        {{/each}}

    </div>

</ul>
   




<a href="/places/new">Crear lugar</a><br><br>
<a href="/">Volver a inicio</a>