<h1>Agrega un cafecito</h1>
<form action="/new" method="POST">
    <p>
        Name:
        <input type="text" name="name">
    </p>
    <p>
        Address:
        <input type="text" name="location[address]" id="address">
    </p>
    <p>
        Latitude:
        <input type="text" name="location[coordinates][1]" id="lat">
    </p>
    <p>
        Longitude:
        <input type="text" name="location[coordinates][0]" id="lng">
    </p>
    <input type="submit" value="guardalo ">

  
</form>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgsfpoU5-xSffmVlDl7XZewRdx4oRXlgw&libraries=places"></script>
<script>
    let address = document.getElementById('address')
    let lat = document.getElementById('lat')
    let lng = document.getElementById('lng')

    function autoComplete(input,inputLat,inputLng){
        const dropDown = new google.maps.places.autoComplete(input)
        dropDown.addListener('place_changed', ()=>{
            let place = dropDown.getPlace()
            console.log(place)
            lat.value = place.geometry.location.lat()
            lng.value = place.geometry.location.lng()

        })
    }
    autoComplete(address, lat, lng);
</script>