<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyEf3yVx1Oe_2zHKU7gB_nqHAar-4v2hE"></script>
	<script src="/javascripts/geolocalize.js"></script>
</head>

<body>
	<header class="header">
		<h1>{{title}}</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/places">List of places</a></li>
				<li><a href="/places/new">Create new place</a></li>
			</ul>
		</nav>
	</header>

	{{{body}}}

	<script src="/javascripts/script.js"></script>
</body>

</html>