
<form action="/create" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Coffeplace name</label>
        <input type="text" class="form-control" id="name" name="name">

    </div>
    <div class="mb-3">
   
<select name="type">
    <option value="coffeShop">coffe shop</option>
    <option value="bookStore">bookStore</option>
</select>

    <button type="submit" class="btn btn-light">Submit</button>
</form>



{{!-- <div class="container">

    <h1>Crear nuevo CoffeBook</h1>

    <hr>

    <form method="POST" action="/restaurantes/crear">

        <label>Nombre
            <input name="name" type="text">
        </label>
        <br><br>

        <label>Descripción
            <input name="description" type="text">
        </label>
        <br><br>

        <label>Latitud
            <input name="latitude" type="text">
        </label>
        <br><br>

        <label>Longitud
            <input name="longitude" type="text">
        </label>
        <br><br>

        <input type="submit" value="Crear restaurante">

    </form>

</div> --}}