<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aquí está el map</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <h1>Aquí está el mapa</h1>

    <figure id="map"></figure>

   
    <script src="./js/basic.map.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo&callback=init"></script>
</body>

</html>