<div class="container">

    <h1>Welcome to the map</h1>

    <div id="myMap"></div>

    <a href="/" class="btn btn-dark">Volver al inicio</a>

</div>

<script src="/js/mapStyles.js"></script>
<script src="/js/map-setup.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOWqzSu87EDdFNyL5JMS-rNFqoZUPbptw&callback=renderMap"></script>