<nav class="main-nav">
  <ul class="menu">
    <li class="menu-item"><a href="/" class="menu-link">Home</a></li>
    <li class="menu-item"><a href="/places" class="menu-link">My places</a></li>
    <li class="menu-item"><a href="/places/new" class="menu-link">New place</a></li>
  </ul>
</nav>
