<div class="row my-2">
  <div class="col-7 my-auto">
    <h2 class="h6 font-weight-normal text-muted">{{this.name}}</h2>
  </div>
  <div class="col-5 text-right my-auto">
    <a href="/place/edit/{{this._id}}" class="btn btn-outline-info btn-sm">Edit</a>
    <a href="/place/delete/{{this._id}}" class="btn btn-outline-danger btn-sm">Delete</a>
  </div>
</div>
