<div class="placeInList">
  <h4>{{this.name}}</h4>
  <div class="actions">
    <a href="/places/{{this._id}}/edit" class="btn btnE">Edit</a>
    <a href="/places/{{this._id}}/delete" class="btn btnD">Delete</a>
  </div>
</div>
