<!DOCTYPE html>
<html>
  <head>
    <title>Google API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>I am the awesome header</header>
    <h1>Welcome</h1>
    <%- body %>
    <footer>I am the footer</footer>
  </body>
  
</html>
