<form action="/add" method="POST">
<input type="text" name="name">
<select name="typeOfEstablishment">
  <option value="BOOKSTORE">Book Store</option>
  <option value="COFFEEPLACE">Coffee Place</option>
</select>
<input type="number" name="location">
<input type="submit">
</form>