<form method="POST" action="/">
  <div>
      <input type="text" name="name"        placeholder="name">
      <input type="text" name="description" placeholder="type">
  </div>
  <div>
      <label>Coordinates</label>
      <input type="text" name="latitude" placeholder="Latitude" >
      <input type="text" name="longitude" placeholder="Longitude">
  </div>  
      <input type="submit" name="">
    </form>