<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script>
window.restaurants = {{{restaurants}}};
</script>
<div id="map" style="height:500px"></div>



<a href="places/new" class="btn btn-info">Add a New Place</a>