<div class="container">
    <h1 class="text-left, text-right y text-center mt-5 "> Welcome to Shop </h1>

    <hr class="text-left, text-right y text-center mt-5">
    <div class="col text-center">
        <a href="/shop/coffee" class="btn btn-dark ">Go to list</a>

    </div>
</div>