<div class="container">
  <h1>{{appTitle}} 🚀</h1>
  <p>Welcome Ironhacker!</p>
  <hr />
  <a class="btn btn-secondary btn-lg" href="/palces/create">Create a New Place</a>
  <a class="btn btn-secondary btn-lg" href="/palces">Check all places</a>
  <hr />

  <h1>Map of all places</h1>

  <figure id="myMap"></figure>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/placesMap.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCa70rdvV8G50ikRY53vcMNGOyfWy4Ppc&callback=initMap"
>
</script>