<div class="presentation">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
            <div>
                <h1>{{mainTitle}}</h1>
                <p>Welcome to {{mainTitle}}</p>
            </div>
            <div>
                <a href="/places" class="btn btn-dark">Establishments</a>
                <br>
                <br>
                <a href="/places/new" class="btn btn-dark">Add a new establishment</a>
            </div>
            </div>
    </div>
</div>
</div>