
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Coffee and Books</title>
</head>
<body>
        

    Add Location
    <form action="/create" method="post">
        <label for="name">Name</label>
        <input type="text" name="name">
        <label for="longitude">Longitude</label>
        <input type="text" name="longitude">
        <label for="latitude">Latitude</label>
        <input type="text" name="latitude">
        <select name="place" id="place">
            <option value="Coffee">Coffee</option>
            <option value="Book">Book</option>
        </select>
        <button type="submit">Submit</button>
    </form>

    <div id="map"></div>

    <ul>
        <% places.forEach((place) => { %>
            <li><%= place.type %> Shop: <%= place.name %></li>
        <% }) %>
    </ul>

    
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC55Yl_3HB2j3gm4IvKEiKljuCD6JEa5ko">
    </script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="/javascripts/main.js"></script>
</body>
</html>