<!-- main.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Pedro's awesome g00gle maps</title>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Pedro's awesome g00gle maps</h3>
    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9sMOZtj7Sp4V7w9nZGmheBRXhDhSjveU">
    </script>
    
  </body>
</html>

