<h1>Working faces ages places</h1>
<br><br>
<div><a href="/places/list" class="btn btn-light"> Places list </a></div><br>
<div><a href="/places/create" class="btn btn-light"> Create place </a></div><br>
