<section class="container places-list">
  <div><ul>
    {{#each places}}
    <li>The {{ this.type }} "{{ this.name }}" is at {{ this.location.coordinates }} with ID: {{ this._id }}</li>
    {{/each}}
  </ul>
  </div>
</section>
<section class="jumbotron">
  <div id="gmap"></div>
</section>
