<h1>Welcome mate!</h1>
<p>Welcome to places you will want to take a rest and evade for all da sh** around you!</p>

<a href="/places/list">See list</a>
<br>
<a href="/places/new-coffee">Create new coffee shop</a>
<br>
<a href="#">Create new bookstore</a>
<br>
<a href="#">See list</a>
