<div class="inicio">

    <h1>{{title}}</h1>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente temporibus animi aspernatur, culpa illo iste earum, ducimus quam atque ratione vero maxime quibusdam dolore facilis mollitia at quas doloribus tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo aliquid ipsa eligendi, voluptatem placeat itaque natus in velit illum nihil consequatur expedita beatae voluptas perferendis fugit atque error voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sunt saepe, voluptatum necessitatibus similique incidunt eligendi quia vero molestias ut. Numquam nesciunt tempora necessitatibus aspernatur quos! Veniam tempore dolore reiciendis.</p>

</div>