<a href="/users/login">Log in</a> |
<a href="/users/signup">Sign up</a> |
{{#if body}}
<a href="/users/logout">Log out</a>
{{/if}}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h3>My First Map</h3>

I like coffee and literature.<br>

Here you will find a list of my favorite places.

<a href="/places/list">list of places</a>

{{!-- 
<div id="map" style="height:500px"></div> --}}