<div class="hero">
    <h1>BOOKS AND COFFEE</h1>
</div>
<div class='index-color'>
    <div class="container">
        <div class="row justify-content-center" id="start-button">
            <div class="col-6"><a class="btn btn-light rounded-pill" href="/places">Descubre dónde estamos</a></div>
        </div>
    </div>
</div>