<section class="hero">
    <div class="buttons-container">
        <a href="places/new" class="btn btn-primary btn-lg">Créer un nouveau lieu</a>
         <a href="/places" class="btn btn-primary btn-lg"></a>
    </div>
    <h1 class="main-title">¡Bienvenue au café et réserver!</h1>
</section>