<section class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h1 style="font-weight: 900; margin-top: 250px">BooKoffee</h1><br>
            <h4>Bienvenido a BooKoffee, donde estaremos encantados de mostrarte nuestros lugares favoritos de Madrid.</h4><br>
            <h5><i>Visita nuevos lugares. Crea y edita para el resto de la comunidad</i></h5>
            <br>


        </div>

    </div>

</section>

<section class="container">

    <div class="row justify-content-center">

        <div class="col-md-4">

            <a href="/places" class="btn btn-lg btn-info btn-block">Recomendaciones</a>

        </div>

        <div class="col-md-4">

            <a href="/bookstories-map" class="btn btn-lg btn-info btn-block">Librería semanal</a>

        </div>

    </div>

</section>


        {{!-- <div class="col-md-6">

            

        </div> --}}




