<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1></h1>
  <p>Welcome</p>

  <a href="/new">Add new location</a>
  <a href="/map">View the map</a>

</body>

</html>