<h1>Coffees and Bookstores</h1>

<div id="map"></div>

<script type="text/javascript"> 
  window.places = JSON.parse( {{{places}}});
</script>

{{!-- 
{{#if places}}
<div class="places">
  {{#each places}}
    <div class="places-item">
      <h2>{{item.name}}</h2>
      <h3>{{item.description}}</h3>
    </div>
  {{/each}}
</div>
{{/if}} --}}