
<p>Welcome to {{title}}</p>

<nav>
  <ul>
    <li>
      <a href="/new">Registrar Lugar</a>
    </li>
    
    <li>
      <a href="">Consulta sitios por categoría</a>
    </li>
  </ul>
</nav>



{{!-- <div>
  <button>Registrar Librería</button>
  <button>Registrar cafetería</button>
</div> --}}