<main class="hero">
    <div class="buttons-container">
  <a href="/places/create" class="btn btn-primary btn-lg"> Create a new place</a>
    <a href="/places" class="btn btn-primary btn-lg">See all places</a>
    </div>
    <h1 class="main-title">Welcome to Coffee_and_Books!</h1>
</main>