<main class="hero">
    <div class="buttons-container">
        <a href="/places/new" class="btn btn-primary btn-lg">Créer un nouveau lieu</a>
        <a href="/places" class="btn btn-primary btn-lg">Voir tous les lieux</a>
    </div>
    <h1 class="main-title">!Bienvenue sur Café et Livres¡</h1>
</main>