<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{siteTitle}}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>

  <nav class="navbar navbar-expand-sm navbar-light bg-info">
    <a class="navbar-brand sizeplus" href="/"><strong>☕ BooKoffee ☕</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link sizeplus" href="/bookstories-map">La librería de la semana</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sizeplus" href="/places">♥_Nuestros favs_♥</a>
        </li>
      </ul>
    </div>
  </nav>


  <main>

  {{{body}}}
    
  </main>

  <nav class="fixed-bottom bg-info">
    <a href="https://www.linkedin.com/in/hector-carraminana/">Develop by Héctor Carramiñana ;)</a>
  </nav>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>

</body>

</html>