<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuv_FBI4XGkLO6hK4kbgYInhBn7HMZ2yE">
    <script src='/javascripts/script.js' /></script>
  </body>
</html>
