<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd9KiBQgXIwHe-jKrOq0rtJafSWvxfBSk"></script>
  <script src="/javascripts/geolocate.js"></script>
</head>
<body>
  <script> window.places = {{{placesStr}}} </script>
  
  {{{body}}}

  <script src="/javascripts/displayMarker.js"></script>
  {{!-- <script src="/javascripts/newLocation.js"></script> --}}

</body>
</html>