<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  {{{body}}}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtvkxb8LjEXSA5HAMMbTyTnmbxhulHXkM"></script>
<script src='/javascripts/script.js'></script>
</body>
</html>
