<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  {{{body}}}

  <div id="map">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEfYXHCcNUhgZt4d2puxb-Mka8hjbxgNE">
    </script>
    <script>
      window.places = {{{places}}}
    </script>
    <script src='/javascripts/script.js'></script>
  </div>
</body>

</html>