<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0q7m3RaOV6FdeoPaBm9u52YQN-JT6ChU&callback=initMap"
    async defer></script>
    <script src='/javascripts/script.js'></script>
  </head>
  <body>

    {{{body}}}
    <div id="map" style="height:400px "></div>

  </body>
</html>
