<!DOCTYPE html>
<html>
  <head>
    <title>Coffee & Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}

  <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV-TDZH73fGZS2Y8BHVFQP4UKw5QA4kYQ"></script>
    <script src='/javascripts/script.js'></script>
  </body>
</html>
