<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src='/javascripts/script.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script class = "map"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDudeFmlA-OVkdNQQW-WtLY7_Zpi5ImRTc"></script>
  </head>
  <body>

    {{{body}}}

  </body>
</html>
