<!DOCTYPE html>
<html>
  <head>
    <title>My First Map</title>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <body>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
