<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <header>
      <h1>Coffee and Bookstores</h1>
    </header>
    <div id="map"></div>
    {{{body}}}

<a href="/add">add a new cafe or library</a>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjfk-c_-WqwtOJC0XT4BJVDvyDKoZGG8g" async defer></script>

    <script type="text/javascript" src='./javascripts/script.js'></script>

  </body>
</html>
