<!DOCTYPE html>
<html>

<head>
    <title>Coffee and Books</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <h3>Coffee and Books</h3>
    <div id=“map”></div>

    <!-- <script type=“text/javascript”>
        var myPlaces = <%- JSON.stringify(places) %>
    </script>; -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz391JXbZDpJus-wr7Ramf--z1H4-rFmU">
    </script>
    <script type=“text/javascript” src=“/javascripts/main.js”></script>

</body>

</html>