
<h1>Nuestros rincones</h1>
<figure id="placesMap"></figure>

<a class="btn btn-dark" href="/">Volver al inicio</a>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/javascripts/styles.js"></script>
<script src="/javascripts/places-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=____ApiKey____&callback=initMap"></script>