<h1>MAPS VIEW</h1>

<form method="POST" action="/maps">
  <input type="text" name="name"        placeholder="name">
  <input type="text" name="description" placeholder="description">

  <label>Address</label>
  <input type="text" name="latitude" placeholder="Latitude" >
  <input type="text" name="longitude" placeholder="Longitude">

  <input type="submit" name="">
</form>

<br>

<h3>My First Map</h3>
    <div id="map"></div>

