<div>
  <h2>NUEVO SITIO</h2>
  <form action="/new" method="post">
    <label for="">Nombre:</label>
    <input name="name" type="text">

    <label for="">Descripción:</label>
    <input name="description" type="text">

    <label for="">Tipo:</label>
    <input name="tipo" type="text" placeholder="Books or Coffe">

    <label for="">Latitud:</label>
    <input name="lat" type="text" placeholder="Decimal number with separator">
    
    <label for="">Longitud:</label>
    <input name="long" type="text" placeholder="Decimal number with separator">

    <br>
    <br>

    <button type="submit">Agregar</button>
  </form>
  </br>
  </br>

  <a href="/places">Volver a la lista</a>

</div>