<h2>Add a place</h2>
</div>
  <form method="POST" action="/new">
    <label>Name: </label>
    <input type="text" name="name">
    <label>Description: </label>
    <input type="text" name="description">
     <label>Kind: </label>
    <select name="typeOfPlace">
    <option value=""></option>
    <option value="Coffee">Coffee</option>
    <option value="Book">Bookshop</option>
  </select>

    <label>Address</label>
    <input id="lat" type="text" name="lat" placeholder="Latitude">
    <input id="lng" type="text" name="lng" placeholder="Longitude">

    <input type="submit" name="">
  </form>
<br>

<a href="/">Go back</a>