<h2>Add a place</h2>
</div>
<div class="container box">

<form method="POST" action="/new">
  <input type="text" name="name"        placeholder="name">
  <input type="text" name="description" placeholder="description">
 <input type="text" name="kind" placeholder="kind">

  <label>Address</label>
  <input type="text" id='lat' name="lat" placeholder="Latitude" >
  <input type="text" id='lng'name="lng" placeholder="Longitude">

  <input type="submit" name="">

</form>
<a href="/">Go Back</a>
</div>