<div>
  <h2>NUEVO SITIO</h2>
  <form action="/new" method="post">
    <label for="">Nombre:</label>
    <input name="name" type="text">

    <label for="">Description:</label>
    <input name="description" type="text">

    <label for="">Tipo:</label>
    <input name="class" type="text" placeholder="Books or Coffe">

    <br>
    <br>

    <button type="submit">Agregar</button>
  </form>
  </br>
  </br>

  <a href="/places">Volver a la lista</a>

</div>