<form action="/places/new" method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" name="name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Description</label>
      <input type="text" class="form-control" id="inputKind" name="description">
    </div>
  </div>
  <div class="form-group">
    <label for="inputCacthPhrase">Latitude</label>
    <input type="text" class="form-control" id="inputLocation" name="latitude">
  </div>
   <div class="form-group">
    <label for="inputCacthPhrase">Longitude</label>
    <input type="text" class="form-control" id="inputLocation" name="longitude">
  </div>
  <button type="submit" class="btn btn-success">Add restaurant!</button>
</form>

<a href="/" class="btn btn-warning">Back to places list</a>    
