<h2>Formulario de creación</h2>
<br>
<div class="container list-section">
    <div class="row">
        <div class="col-8">
            <form action="/places/create" method="POST">
                <div class="form-group">
                        <label>Nombre del sitio</label>
                        <input name="name" type="text" class="form-control">
                </div>
                    <br>
                <div class="form-group">
                        <label>Tipo de lugar</label>
                        <input name="type" type="text" class="form-control">
                </div>
                    <br>
                <input name="latitude" type="text" placeholder="Latitude" class="form-control ">
                    <br>
                <input name="longitude" type="text" placeholder="Longitude" class="form-control ">
                    <br>


                <button type="submit" class="btn btn-dark btn-sm">Guardar</button>

            </form>

        </div>

    </div>

</div>

