<div id="map"></div>

<script src="/javascripts/places-map.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBADiriaP7BmzwlpdT4ncLfLbToeh1F6Jc&callback=initMap"></script>