<div class="container ">

    <h1 style="font-weight: 100">{{thePlace.name}}</h1>

    <h4>Tipo de lugar :</h4>
    <p>{{thePlace.type}}</p>
    
    <a href="/delete?id={{thePlace._id}}" class="btn btn-dark">Eliminar lugar</a>
    <a href="/edit?id={{thePlace._id}}" class="btn btn-dark">Modificar lugar</a>

    <a href="/places" class="btn btn-dark">Volver</a>

</div>