<div>
  <h2>DETALLES DE {{place.name}}</h2>
  <p><b>Descripción</b>: {{place.description}}</p>
   <p><b>Tipo</b>: {{place.class}}</p> 
   <p><b>Ubicacion</b>: 
   {{#each place.location}}
      {{this}} |
   {{/each}}
   </p> 
   <br>
   <a href="/places">Go back</a>
</div>