<div class="container">

    <h1>Mapa básico</h1>
    <hr>
    <div id="myMap"></div>

</div>

<script src="/js/basic-map-setup.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>