<h1>Bookstore Options</h1>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Take me Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bookstores/new">Add new</a>
      </li>
    </ul>