<div class="container">
    <div class="row pt-4">
        <h1>MAPA DE LOS LUGARES</h1>
        <hr>
        <div id="map"></div>
        <hr>
        <a href="/" class="btn btn-dark">Volver</a>
    </div>
</div>

<script src="/js/placeMaps.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=initViewMarkers&key=AIzaSyBpl4l4qMtJzz8bpcUuxokiIq2iyDXU76Y"></script>