<main class="landing-page">
    <div class="container">


        <div class="center">
            <div class="greeting">
                <h1>{{appTitle}} </h1>
                <p>Check this wonderful places!📚☕</p>

            </div>
            <figure id="individualMap" class="list-group list-group-flush veryBigMap map">

            </figure>

        </div>

    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map-script.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX&callback=mapInit"></script>