<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{appTitle}}</title>

   {{!-- BOOTSTRAP STYLE --}}
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">


   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap" rel="stylesheet">

   {{!-- CUSTOM STYLE --}}
   <link rel="stylesheet" href="/stylesheets/style.css" />
   <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">



</head>

<body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
         <a class="navbar-brand" href="/">
            <img src="/images/favicon.png" alt="{{appTitle}} image" width="60" height="48">
         </a>
         <a class="navbar-brand" href="/places">PLACES</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               <a class="nav-link" href="/places/bookstores">Bookshops [NO TOCAR]</a>
               <a class="nav-link" href="/places/coffee-shops">Coffee Shops [NO TOCAR]</a>
               <a class="nav-link" href="/places/create" role="button">CREATE</a>

            </div>
         </div>
      </div>
   </nav>







   {{{body}}}





   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


   <script src="/js/script.js"></script>



</body>

</html>