body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#myMap {
  height: 450px;
}

.navbar a {
  color: white
}
.navbar {
  margin-bottom: 80px;
}

.navbar form button {
  background: transparent;
  border: none;
}