<!doctype html>
<html lang="en">

<head>
  <title>COFFEE AND BOOKS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
  This is the header yo.  
  </header>
  <%- body %>
  <footer>
    Foot Foot Foot Foot Foot Foot Foot Foot Foot   
  </footer>
</body>

</html>