<h1>{{siteTitle}} 🚀</h1>
<p>Welcome!</p>

<a href="/places/create">Create places</a>
<hr>

<a href="/places">List places</a>
<hr>

<a href="/places">Edit places</a>
<hr>

<a href="/places">Delete places</a>
<hr>