<h1>Crear un nuevo lugar</h1>


<form action="/places/create" method="POST">

    <label for="nameInput" class="form-label">Nombre del lugar</label>
    <input type="text" class="form-control" id="nameInput" name="name">



    <label for="placeInput" class="form-label">Tipo de lugar</label>
    <input type="text" class="form-control" id="placeInput" name="type">


    <button type="submit" class="btn btn-dark block">Ejecutar</button>


</form>