<div class="container">

    <h1>Map interactive</h1>

    <div id="myMap"></div>

    <br>
    <hr>
    <a href="/" class="btn btn-dark">Volver al inicio</a>

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/mapStyles.js"></script>
<script src="/js/map-place.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwg1t-8kqR7GFNEiPlrtKF1eWrGB5GZ5E&callback=init"></script>