<div class="container">

	<div class="row justify-content-center">

		<div class="col-md-8 d-flex flex-column gap-4">

			<h1>Mapa de las cafeterías</h1>

            <figure id="coffeeMap"></figure>

            <a href="/" class="btn btn-dark" style="max-width: max-content;">Volver al inicio</a>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/coffeeMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx2NpiwR2E5D-tDhDiXw1CUv71iwX7N3Q&callback=init"></script>