<h1>maps</h1>

<div id="map" style="height:300px">

</div>
<h2>{{place.name}}</h2>
<h3>{{place.type}}</h3>

<script>
window.place = {{{info}}};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClr_fVK41OBJxuab_HEI3I30pcijqHB7E"></script>
<script src='/javascripts/singleMap.js'></script>

<a href="/">Home</a>