<h1>List of all the coffee stores in DB</h1>
<div id="">
  {{#each coffeeStores}}
    <div class="coffeeStore">
      <h3>{{name}}
      <a href="/coffeeStores/{{_id}}"> see this coffee store in the map</a></h3>
    </div>
  {{/each}}
  <a href="/"><button>Back</button></a>
</div>