<script src='/javascripts/script.js'></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXdCnxbF5UHdjw6IhmAxrxIxJji-dw9Ps"></script>
<script>
  window.places = {{{places}}};
</script>
<div class="container">
  <h1>{{title}}</h1>

  <p>Welcome to {{title}}</p>
  <a href="/save" class="btn btn-primary">Add place</a>

  <div id="map"></div>
</div>

