<div class="container">
    <h1>Mi mapita</h1>
    <hr>
    <figure id="mapp"></figure>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map-setup.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=renderMap&key=AIzaSyAXrluxt6edH6GHzswvJd_nckU_vPeBjzc"></script>

{{!--
esto lo voy a necesitar en la carpeta public, al poner la funcion init ahí llamo a esa funcion --}}