<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}

    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy_n8GT-qPOJmZC6P9cMf5U9BW7F_P45A">
    </script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script src='/javascripts/script.js' />

  </body>
</html>
