<h3>Add new restaurant</h3>
<form method="POST" action="/coffeeDB">
    <input type="text" name="name" placeholder="name">
    <button id="añadir">Añadir</button>
   
</form>
<a href="/">Back to the list</a>