<div class="container">

    <form action="/places/create" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <select class="form-select" aria-label="Default select example" name="type">
                <option value="coffeeShop">coffeeShop</option>
                <option value="bookstore">bookstore</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Latitud</label>
            <input type="text" class="form-control" id="name" name="latitud">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Longitud</label>
            <input type="text" class="form-control" id="name" name="longitud">
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{{!-- AIzaSyDjOt5lgJiMo2s0X3EMAguiuDo52zdXYrY --}}