<div class="col-md-6">

    <h1>Registro</h1>
    <hr>

    <form action="/registro" method="POST">

        <div class="mb-3 row">
            <div class="col">
                <label for="emailInput" class="form-label">Dirección de email</label>
                <input type="email" class="form-control" id="emailInput" name="email">
                <div class="form-text">Requerido.</div>
            </div>
            <div class="col">
                <label for="pwdInput" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="pwdInput" name="userPwd">
                <div class="form-text">Requerido.</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="usernameInput" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="usernameInput" name="username">
        </div>

        <div class="mb-3">
            <label for="imageInput" class="form-label">Imagen</label>
            <input type="url" class="form-control" id="imageInput" name="profileImg">
            <div class="form-text">Introduce la URL a la imagen que desees de perfil.</div>
        </div>

        <div class="mb-3">
            <label for="descriptionInput" class="form-label">Descripción</label>
            <textarea class="form-control" id="descriptionInput" rows="3" name="description"></textarea>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark block">Completar registro</button>
        </div>

        {{#if errorMessage}}
        <div id="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
        {{/if}}

    </form>
</div>
</div>

</div>