<div class="container pt-3 index-container d-flex justify-content-center align-items-center">
    <div class="row ">
        <div class="col-md-6 w-100">
            <h1>Welcome to {{appTitle}}</h1>
        </div>
    </div>
</div>