<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Cooffe Shops and Bookstores</title>
   <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>



<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
         <a class="navbar-brand" href="/">Home</a>
         <div class="collapse navbar-collapse  justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
               <li class="nav-item dropdown">                 
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <li><a class="dropdown-item" href="/places/create">Create New Place</a></li>
                     <li><a class="dropdown-item" href="/places/all-places">All the places!</a></li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </nav>

   {{{body}}}

   



   
   <script src="/js/script.js"></script>
   

</body>

</html>