body {
  font-family: sans-serif;
}

.navbar{
  margin-bottom: 20px;
}

#placesMap {
  height: 500px;
  background-color: red;
}

.presentation{
  background: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190617/ourmid/pngtree-taobao-floor-notebook-coffee-book-magazine-poster-background-image_126088.jpg");
  size: cover;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px
}

.presentation h1{
  font-weight: 300;
  
  
}