<div class="container">
    <h1>Create new place</h1>
    <hr>
    <form method="post" action="/places/create">

        <div class="row justify-content-center">
            <div class="col-6">


                <div class="mb-3">
                    <label for="name" class="form-label">Name of the place</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <select class="form-select" name="type">
                    <option selected>Type of the place</option>
                    <option value="book store">Book store</option>
                    <option value="coffee shop">Coffee shop</option>
                </select>
                <hr>
                <div class="mb-3">
                    <h5 class="mb-3">Coordinates</h5>
                    <div>
                        <label for="type" class="form-label ">Longitud</label>
                        <input type="text" class="form-control" id="type" name="longitude">
                        <label for="type" class="form-label">Latitude</label>
                        <input type="text" class="form-control" id="type" name="latitude">
                    </div>
                </div>


                <button type="submit" class="btn btn-dark">Submit</button>
                <a href="/places" class="btn btn-dark">Back to the list</a>
            </div>
        </div>
    </form>

</div>