<form action="/createplace" method="POST">
    <div>
        <label for="name">name:</label>
        <input type="text" name="name"> </div>
    <div>
        <label for="kindOf">kindOf:</label>
        <input type="text" name="kindOf"> </div>
    <div>
        <label for="latitude">latitude:</label>
        <input type="text" name="lat"> </div>
    <div>
        <label for="longitude">longitude:</label>
        <input type="text" name="long"> </div>
    </div>
    <input type="submit" value="Registralo!"></div>
</form>
<a href="/">Map</a>
<a href="/listplace">Listado</a>
<br>