<div class="container mt-5">
    <hr>
    <div class="row">
        <h2>Details</h2>
        <br>
        <div class="col-md-4 mb-3 ">
            <div>
                <h5 class="card-title mt-2"> Name: {{name}} </h5>
                <h5> Type: {{type}}</h5>



            </div>
        </div>
    </div>


    <a href='/shop/coffee' class="btn btn-dark "> List </a>
    </row>
    <a href="/" class="btn btn-dark ">Home </a>
</div>