<form id="form" action="/places" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="Enter name">
  <label for="role">Kind of place</label>
  <select name="place" id="place">
    <option value="coffee">coffee</option>
    <option value="book">Books</option>
  </select>
  <label for="lat">Latitude</label>
  <input type="text" name="lat" placeholder="lat">
  <label for="lng">Longitude</label>
  <input type="text" name="lng" placeholder="lng">

  <button type="submit">Create place</button>
</form>