<div class="container">

    <h2>Detalles de {{name}}</h2>
    <hr>
    <p>Tipo: {{type}}</p>
    <p>Latitud: {{location.coordinates.[0]}}</p>
    <p>Latitud: {{location.coordinates.[1]}}</p>
    <hr>

    <a href="/place/all-places" class="btn btn-dark">Volver</a>

</div>