<div class="container place-page" >

    

    <h1 style="font-weight: 100">CoffeShop & Bookstore</h1><a href="/place/new" class="btn btn-info">Crear un nuevo lugar</a>



    <hr>
    <div class="class row">
        {{#each allPlaces}}
        {{>placeCard this}}
        
        {{/each}}
    </div>
    
</div>

