<div class="container">
    <h1>{{siteTitle}} 🚀</h1>
    <p>Welcome Ironhacker!</p>

    <a class="btn btn-danger" href="/places">List of places</a>
    <a class="btn btn-danger" href="/places/create">Add a new place</a>

</div>