<div class="container">
    <h1>Take a look at our places</h1>
    <div id="mainMap"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMzL3s__ul0jf_RCKdh2eRUwJJsQ5ojTo&callback=renderMap"></script>