<form action="/places/create" method="POST">
    <label>Nombre
        <input type="text" name="name">
    </label>
    <br>
    <label>Tipo
        <input type="text" name="type">
    </label>
    <label>Latitud
        <input type="text" name="latitude">
    </label>
    <label>Longitud
        <input type="text" name="longitude">
    </label>
    <input type="submit" value="Crear sitio">
</form>