<h1>CoffeeShop</h1>
<form action="/new" method="POST">
    <p>
        Name:
        <input type="text" name="name">
    </p>
    <p>
        Address:
        <input type="text" name="location[address]" id="address">
    </p>
    <p>
        Latitude:
        <input type="text" name="location[coordinates][1]" id="lat">
    </p>
    <p>
        Longitude:
        <input type="text" name="location[coordinates][0]" id="lng">
    </p>
    <p>
        Place:
        <select name="place">
            <option value="COFFEES">Coffee</option>
            <option value="BOOKS">Book</option>
        </select>
    </p>
    <input type="submit" value="Save">

</form>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXQI7iv5-fvFZTo3dGWoDv-oQyj7rJrdU&libraries=places"></script>

<script>
    var address = document.getElementById('address'); 
    var lat = document.getElementById('lat');
    var lng = document.getElementById('lng');
    function autoComplete(input, inputLat, inputLng){
        const dropdown = new google.maps.places.Autocomplete(input);
        dropdown.addListener('place_changed', ()=>{
            let place = dropdown.getPlace()
            console.log(place)
            lat.value = place.geometry.location.lat();
            lng.value = place.geometry.location.lng();
        })
    }
    autoComplete(address, lat, lng)
</script>