<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAUBM3qxCfcagPARL132gjnMKuwxbB70GA"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>Site header</header>
  <%- body %>
  <footer>Site footer</footer>
</body>
</html> 