<div class="container">

    <h1>Crear nuevo sitio</h1>

    <hr>

    <form method="POST" action="/crear">

        <label>Nombre
            <input name="name" type="text">
        </label>
        <br><br>

        <label>Tipo
            <input name="type" type="text">
        </label>
        <br><br>

        <label>Latitude
            <input name="lat" type="text">
        </label>
        <br><br>

        <label>Longitude
            <input name="lng" type="text">
        </label>
        <br><br>

        <input type="submit" value="Crear restaurante">

    </form>

</div>