<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <h1>Bookoffe_</h1>
        <figure id="storeMap"></figure>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/placesMap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?&callback=init"></script>


    {{!-- AIzaSyBNB0t4P0TWmSmPah7e0tUlVfrcsHw8o1g --}}


</body>

</html>