<div class="container">
    <h1>Mapa básico</h1>
    <hr>
    <figure id="myMap"></figure>
</div>

<script src="/js/maps-setup.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?callback=renderMap&key=AIzaSyAUOxZg4bqgMKUnfeij0A3_Yy0dyhzMPig"></script>