<h3>Add a place!</h3>

<form action="/create" method="post">

    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br><br><br>
    <label for="type">Select your place type:</label>
    <br><br>
    <select name="type" id="type">
        <option value="coffee shop">Coffee Shop</option>
        <option value="bookstore">Book Store</option>
    </select>
    <br><br><br>
    <label for="latitude">Latitude:</label>
    <input type="text" name="latitude" id="latitude">
    <br><br><br>
    <label for="longitud">Longitud:</label>
    <input type="text" name="longitud" id="longitud">
    <br><br><br>
    <button type="submit">Create place!</button>


</form>