<h3>Edit the place!</h3>

<form action="/update/{{_id}}" method="post">

    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{name}}">
    <br><br><br>
    <label for="type">Select your place type:</label>
    <br><br>
    <select name="type" id="type">
        <option value="coffee shop">Coffee Shop</option>
        <option value="bookstore">Book Store</option>
    </select>
    <br><br><br>
    <label for="latitude">Latitude:</label>
    <input type="text" name="latitude" id="latitude" value=" {{location.coordinates.[0]}}">
    <br><br><br>
    <label for=" longitud">Longitud:</label>
    <input type="text" name="longitud" id="longitud" value="{{location.coordinates.[1]}}">
    <br><br><br>
    <button type=" submit">update place!</button>


</form>