<div class="container">

    <h1>Mapa</h1>

    <div id="myMap"></div>

    <a href="/" class="btn btn-dark">Volver al inicio</a>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mapStyles.js"></script>
<script src="/js/map-places.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLf7y6k5PGx_cjdDPGxNq8wy7UDjKTajo&callback=init"></script>