<h2>Bookstores</h2>
<ul>
{{#each bookstores}}
  <li>{{this.name}}</li>
{{/each}}
</ul>

<div id="map"></div>
<script>
  window.bookstores = {{{ restStr }}}
</script>

<script src="/javascripts/listMap.js"></script>