<div class="container">
    <h1>{{appTitle}} 🚀</h1>
    <p>Welcome Ironhacker!</p>
    <hr>
    <a class="btn btn-dark" href="/places/create">Create new place</a>
    <a class="btn btn-dark" href="/places">Check the map</a>


</div>