<div class="container">
    <h1>{{places.name}}</h1>

    <hr>

    <p>Type: {{places.type}}</p>
    <br>
    <a href="/{{places._id}}/editar" class="btn btn-warning btn-sm">editar</a>
    <br>
    <form action="/{{places._id}}/eliminar" method="POST">
        <input type="submit" value="eliminar" class="btn btn-danger btn-sm">
    </form>

    <hr>

    <a class="btn btn-dark" href="/listado">volver al listado</a>

</div>