<div class="container">

    <h1>Crear uno nuevo </h1>

    <hr>

    <form method="POST" action="/lugares/crear">

        <label>Nombre
            <input name="name" type="text">
        </label>
        <br><br>

        <label>Tipo
            <select name="type">

                <option> coffee shop</option>

                <option> bookstore</option>

            </select>


        </label>
        <br><br>

        <label>Latitud
            <input name="latitude" type="text">
        </label>
        <br><br>

        <label>Longitud
            <input name="longitude" type="text">
        </label>
        <br><br>

        <input type="submit" value="Crear lugar">

    </form>

</div>