<div class="container">

    <h3>Add new coffee</h3>

    <form method="POST" action="/coffee/crear">
        <input type="text" name="name" placeholder="name"><br><br>
        <input type="text" name="place" placeholder="type"><br><br>
        <input type="text" name="latitude" placeholder="latitude"><br><br>
        <input type="text" name="longitude" placeholder="longitude"><br><br>      

       
        <input class="btn btn-sm btn-dark"type="submit" name="" id="submit">
    </form>
</div>