<div class="container">
    <h1>Detalles de {{name}}</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Place: {{place}}</p>
        </div>
        <div class="col-md-6">
           <p>Latitud: {{location.coordinates.[1]}}</p>
           <p>Longitud: {{location.coordinates.[0]}}</p>

        </div>
        <div class="col-md-6">
         

    <a class="btn btn-dark" href="/coffee/listado">Volver al listado</a>
        </div>
          
         
        
            
        
    </div>

</div>

   
