<div class="container">

    <h1>Edit this place</h1>

    <hr>

    <form method="POST" class="centeral" action="/place/edit/{{place._id}}">
        <h4>{{place.name}}</h4>

        <select name="type">
            <option value="coffeeShop">Coffee Shop</option>
            <option value="bookStore">Book store</option>
        </select>



        <label>Latitude
            <input name="latitude" type="text" value="{{place.location.coordinates.[1]}}">
        </label>
        <br><br>

        <label>Longitude
            <input name="longitude" type="text" value="{{place.location.coordinates.[0]}}">
        </label>
        <br><br>

        <input type="submit" value="Edit place">

    </form>

</div>