<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Añadir lugar nuevo</h2>
            <hr>
            <form action="/places/create" method="POST">
                <div class="mb-3">
                    <label for="field1" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="field1" name="name">
                </div>

                <label for="field1" class="form-label">Tipo</label>
                <select name="type">
                    <option value="Coffee Shop">Coffee Shop</option>
                    <option value="Bookstore">Bookstore</option>
                </select>
                <br>
                <label>Latitud
                    <input name="latitude" type="text">
                </label>

                <label>Longitud
                    <input name="longitude" type="text">
                </label>
                <br><br>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark mb-3">Añadir lugar</button>
                </div>
                <a href="/places" class="btn btn-dark mb-3">Volver al listado</a>
                <a href="/" class="btn btn-dark mb-3">Volver a inicio</a>
            </form>
        </div>
    </div>
</div>