body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  width: 50px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  width: 250px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}