<h1>MY COFFEE AND BOOKS. <br> BEST 'COFEE PLACES' AND 'BOOKS STORES' IN TOWN</h1>
<img src="https://cdn1.medicalnewstoday.com/content/images/articles/270/270202/cups-of-coffee.jpg" id="coffee" height="400px" alt="">