<div class="container">

    <h1>Coffee & Places</h1>
    <p>Enjoy books whilst drinking coffee</p>
    <hr class="mb-3">

    <div class="container">
        <figure id="map"></figure>

    </div>
</div>



<script src="/js/placesMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=initViewMarkers&key=AIzaSyCQ0r02Yba37PtZDZ55sV8s962Q1Hdtihw"></script>