<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="map">
  <script src='/javascripts/map.js'></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtWVhIVRT5ijch48zR_H6OlU5RTjNeEP0">
  </script>
</div>