<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3sVeSFCumlsGy_EeVYOVx4BrZ8dwj_i4"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  {{{body}}}
  <div id="map" style="height:500px"></div>
  <script src="/javascripts/addMap.js"></script>
  <script src="/javascripts/geolocalize.js"></script>
</body>
</html>