<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{appTitle}}</title>
   <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

   <header>
      <nav>
         <p>
            <a href="/places/list">Places List</a> |
            <a href="/places/create"> Create</a><br>
         </p>
      </nav>
   </header>

   {{{body}}}

   <script src="/js/script.js"></script>
</body>

</html>