<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq3WbM6iHEg-WdLpbRr23iSHCFF8q6NQk"></script>
  </head>
  <body>

    {{{body}}}

    
    
  </body>
</html>