<!DOCTYPE html>
<html>

<head>
  <title>My First Map</title>
  <style>
    #map {
        height: 500px;
        width: 100%;
       }
    </style>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd9KiBQgXIwHe-jKrOq0rtJafSWvxfBSk"></script>
  <script src="/javascripts/geolocalize.js"></script>
</head>

<body>
  <ul>
    <li><a href="/places">All Places</a></li>
    <li><a href="/places/new">Add a new place</a></li>
  </ul>


  {{{body}}}
 
  
</body>

</html>