<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

{{#each x}}
<p>
    Name: {{name}}
    Type of Business: {{businessType}}

</p>
<span><a href='/details/{{_id}}'>link</a></span>
{{/each}}




<a href="/create">Create</a>