<div class="container">

    <h1>Mapa de sitios</h1>
    <hr>
    <figure id="myMap"></figure>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mapStyles.js"></script>
<script src="/js/places-map.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&callback=initMap"></script>