<h3 id="restaurantName" data-id="{{ restaurant.id}}">{{ restaurant.name}}</h3>
<p>{{ restaurant.description}}</p>
<a href="/restaurants/{{restaurant._id}}/edit">Edit this restaurant</a>
<a href="/restaurants">Go back to the list</a>