<div class="container">
    <h1>Mapa</h1>

    <div id="myMap"></div>
</div>


<script src="/js/basic-map-setup.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=_______PEGA_AQUI_TU_API_KEY_____&callback=initMap"></script>
{{!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initMap"></script> --}}