body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* overflow: hidden; */
}

img {
  width: 100%;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.main-nav img {
  margin-left: 20px;
}

#myMap {
  height: 400px;
  width: 80vw;
}

.home-page {
  background: url('/images/ruben-ramirez-xhKG01FN2uk-unsplash.jpg');
  background-size: cover;
  width: 100vw;
  height: 95vh;
  padding-left: 10px;
  margin-left: -17px;
}



.default-margin {
  margin-top: 50px;
}

.icon {
  width: 50px;
}

.dot {
  color: white;
  font-weight: bold;
  font-size: 8em;
  position: absolute;
  top: 300px;
  left: 250px
}

.home-page h1 {
  overflow: hidden;
  border-right: .15em solid #377b4c;
  white-space: nowrap;
  margin: 0 auto;

  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 60%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #377b4c;
  }
}