<div class="container">
    <h1>Mapa de restaurantes</h1>
    <hr>
    <div id="map"></div>
    <hr>
    <a href="/" class="btn btn-dark">Volver</a>
</div>

<script src="/js/restaurantsMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=initViewMarkers&key=AIzaSyBAa1rEfqeHGdwcX_g2FiS-Eo_l3IrZtxc"></script>