<div class="container">

    <h1>Crear nuevo location</h1>

    <hr>

    <form method="POST" action="/locations/create">

        <label>Nombre
            <input name="name" type="text">
        </label>
        <br><br>

        <label>Location
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="coffee-shop">coffee-shop</option>
                <option value="bookstore">bookstore</option>
            </select>
        </label>
        <br><br>

        <label>Latitud
            <input name="latitude" type="text">
        </label>
        <br><br>

        <label>Longitud
            <input name="longitude" type="text">
        </label>
        <br><br>

        <input type="submit" value="Crear location">

    </form>

</div>