<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <%- body%>

  <div id="map"></div>

  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCm3O8yKtAM0qhv-2hcHyiGK5XfTiTMoEw">
  </script>
</body>
</html>