<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./stylesheets/about.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class = "container">
        <h1>How is bacon made?</h1>
        <br>
        <p>Traditionally, bacon is made by rubbing cuts of pork loin or belly with a mixture of salt and spices and leaving the meat for a week, before it is washed with warm water, dried and smoked. And you can still buy bacon made that way, if you’re willing to pay for it.</p>
        <p>But mass-produced bacon is made in a different way – cured by injections of salty water, which can also include chemicals such as potassium nitrate, sodium nitrate and ascorbic acid. “The main reason that’s done is to actually increase the weight, so when you’re buying bacon in the supermarket you’re actually buying expensive water,” says Charlie Pyper, the founder of Cure & Simple, a premium bacon supplier.</p>
        <a href="https://www.theguardian.com/lifeandstyle/2015/oct/26/processed-meats-how-are-they-made">Source</a>
        <br>
        <br>
        <h2>How are cured meats made?</h2>
        <br>
        <p>The cured meats in this category include, but are not exclusive to, jamon serrano and prosciutto.</p>
        <p>The curing process is different for each type of meat, but it generally involves washing and salting the meat, and hanging it to dry. This process will take at least several months, and can even take a couple of years. And while many European cured meats are still made the old fashioned way, some of them have changed with the times (which is not always a good thing). This means that nitrates, nitrites and sodium, which are pumped and loaded in most American deli meats, can unfortunately often be found in many of these cured meats.</p>
        <a href="https://www.huffingtonpost.com/2012/04/12/cured-meats-defined_n_1417777.html">Source</a>
        <br>
        <br>
        <h2>How are salami and other similar charcuterie made?</h2>
        <br>
        <p>All great salami starts with a high quality pig, such as Duroc, Ossabaw, Mangalitsa, Pata Negra, etc.  And salumi such as Felino or Soppressata are made from different parts of the pig including the neck, belly, loin, jowl, etc.  The pig parts need to be ground before the spicing and stuffing process can begin. And as you probably guessed, both the lean and fatty parts of the pig are used during the grinding process (in fact, this is a key step because a good salumi needs a good ratio of fatty to lean meat).  
        <p>Before the grinding takes place, most salumi makers coarsely chop their cuts of meat and thereafter it goes through a coarse grind plate.  Next, the meat is ready for salt and spice. </p> 
        <p>The best salumi makers, use high quality sea salt and spices such as black pepper, garlic powder, nutmeg, dextrose or sugar, chili flakes, cloves, fennel seed, juniper berries, white pepper, etc.  The spices vary according to the type of salumi being produced, but most salumi are usually comprised of about 3% salt. </p>
        <p>After the spicing process, the salumi mixture is stuffed into a natural casing and tied and the critical fermentation process begins.  During the fermentation process, they key goal is to control temperature and humidity.</p>  
        <p>The fermentation process also allows the salt in the meat to pull the water out of the salumi (this is what “drys the salumi and the high humidity during the process prevents the meat from drying out too much”). The ideal temperature at the beginning of the fermentation process is about 73-75 degrees with humidity close to 100 percent. </p>
        <p>The salumi stay in the aforementioned environmental conditions (usually in a curing cell when making large production batches) for about 17 days (during which critical mold and bacteria is created as well), in total.</p>
        <a href="http://www.scordo.com/books/how-salami-is-made-meat-salt-time-creminelli-charcuterie.html">Source</a>
    </div>
    </body>
</html>