<form action="/add-places" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name">
  <select name="place" id="">
    <option value="Coffee shop">Coffee shop</option>
    <option value="Bookstore">Bookstore</option>
  </select>
  <label for="longitude">Longitude</label>
  <input type="number" step="any" name="longitude">
  <label for="latitude">Latitude</label>
  <input type="number" step="any" name="latitude">
  <button type="submit">Add</button>
</form>