<div class="form">

  <h2>Añadir un Place</h2>

  <form method="POST" action="/">

    <div class="form-group">
      <label for="place-name">Nombre del lugar</label>
      <input type="text" class="form-control" id="place-name" name="name">
    </div>

    <div class="form-group">
      <label for="place-lat">Coordenadas</label>
      <input type="text" placeholder="Longitud" class="form-control" id="place-lat" name="long">
      <input type="text" placeholder="Latitud" class="form-control" id="place-long" name="lat">
    </div>

    <div class="form-group">
      <label for="type-place">Tipo de Place</label>

      <select class="custom-select" id="type-place" name="typeOfPlace">
        <option selected disabled>Elige, porfi</option>
        <option>Coffe Shop</option>
        <option>Bookstore</option>
      </select>

    </div>

    <button type="submit" class="btn btn-primary">Añadir</button>

  </form>

  <form action="/">
    <input type="submit" class="btn outlined" value="Cancelar" />
  </form>

</div>


