<h1>Registrar Tienda</h1>
<form action="/add" method="post">
  <label for="field1">Nombre</label>
  <input type="text" name="name" id="name">
  <label for="field2">Tipo</label>
  <select name="type" id="type">
    <option type="text" value="coffee shop">Coffee Shop</option>
    <option type="text" value="bookstore">Bookstore</option>
  </select>
  <label for=" field4">Longitud</label>
  <input type="text" name="longitude" id="longitude">
  <label for="field3">Latitud</label>
  <input type="text" name="latitude" id="latitude">
  <button type="submit">Registrar</button>
</form>