<h1>Add item</h1>

<form method="POST" action="/">
  <input type="text" name="name" placeholder="name">
  <select name="business" id="">
    <option value="coffeeshop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <label>Address</label>
  <input type="text" name="lat" placeholder="latitude" >
  <input type="text" name="lng" placeholder="longitude">

  <input type="submit" name="">
</form>
