<form action="/add-place" method="POST">
<input type="text" name="name" placeholder="Name">
<input type="number" name="latitud" step="any" placeholder="latitud">
<input type="number" name="longitud" step="any" placeholder="longitud">
<input type="radio" name="type" value="Coffee Shop">Coffee Shop
<input type="radio" name="type" value="Book Store">Book Store 
<br><br><input type="submit" value="ADD PLACE">

</form>