<form action="/places/add" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value="Insert name">
  <select type="text" name="type">
      <option value="coffeeshop">Coffee Shop</option>
      <option value="bookstore">Book Store</option>
  </select>
  <label for="lat">Latitude</label>
  <input type="number" step="any" name="latitude" value="Insert Latitude">
  <label for="lng">Longitude</label>
  <input type="number" step="any" name="longitude" value="Insert Longitude">
  <input type="submit" value="Submit">
</form>