<h2>New Place</h2>
<form action="/new" method="POST">
  <input type="text" name="name" placeholder="Place name..">
  <input type="text" name="type">
  <input type="number" name="lat">
  <input type="number" name="lng">
  <input type="submit" value="New place">
</form>