<form action="/places/create" method="POST" novalidate>

  <p>
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="name" id="name">
  </p>

  <p>
    <label for="type">Type</label>
    <select name="placeType" id="type">
      <option value="cantina">cantina</option>
      <option value="bar">bar</option>
      <option value="antro">antro</option>
      <option value="restaurante">restaurante</option>
    </select>
  </p>
  <input type="number" name="location[coordinates][0]" id="lng" hidden>
  <input type="number" name="location[coordinates][1]" id="lat" hidden>
  <input type="submit" value="Create">

</form>

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
  mapboxgl.accessToken =
    'pk.eyJ1IjoiZGFuaWVsaXNsYXMzIiwiYSI6ImNqeG0yY2RhYTAwbXgzb25kaHRkNG1uY28ifQ.Q9LewDAeIYbUj-b7AXfdBw';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  })

  const geocoder= new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl
  })
map.addControl(geocoder)

geocoder.on('result',({result:{center}})=>{
  console.log(center)
  document.querySelector('#lng').value=center[0]
  document.querySelector('#lat').value=center[1]
})
</script>