<h2>Crear sitios</h2>

<form action="/create" method="POST" id="form-container">
  <label for="name">Name</label>
  <input id="name" type="text" name="name">
  <br><br>
  <label for="type">Type</label>
  <input id="type" type="text" name="type">
  <label for="lat">Latitude</label>
  <input id="lat" type="text" name="lat">
  <label for="lng">Longitude</label>
  <input id="lng" type="text" name="lng">

  <button>Create Place</button>
</form>