<h2>Places</h2>
<div class="container2">

    <form action="/place/create" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
        </div>
        <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <input type="string" class="form-control" id="exampleInputPassword1" name="type">
        </div>
        <input type="text" name="latitude" placeholder="latitud">
        <input type="text" name="longitude" placeholder="longitud">

        <button type="submit" class="btn btn-primary">Create</button>
    </form>



</div>