<form action="/create" method="POST">
  <input type="text" name="name">
  <select name="type">
    <option value="coffee shop">Coffee shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <input type="submit" value="Create new place">
</form>