<form action="/create" method="POST" >
  <label for="name"></label>
  <input type="text" name="name" placeholder="name">
  <label for="select"></label>
<select name="placeSelected">
  <option value="coffee-shop">Coffe shop</option>
  <option value="bookstore">Bookstore</option>
</select>

  <input type="submit" value="Create">

  </form>