<h1>Create new Coffee or Books</h1>


<h3>Add new restaurant</h3>
<form method="POST" action="/">
    <input type="text" name="name" placeholder="name"><br>
    <input type="text" name="description" placeholder="description"><br><br>

<select name="type">
    <option value="bookstore">bookstore</option>
    <option value="coffee shopA">coffee shop</option>
  </select>

    <label>Address<br>
        <input type="text" name="latitude" placeholder="latitude"><br>
        <input type="text" name="longitude" placeholder="longitude"><br><br>
    </label>


    <input type="submit" id="submit">
</form>

<a href="/place">BACK</a>