<h1>Create Place</h1>

<form action="/create" method="POST">
  <label for="name">Name</label><br>
  <input id="name" type="text" name="name"><br>

  <label for="type">Type</label><br>
  <select id="type" name="type">
    <option value="Coffee">Coffee</option>
    <option value="Book">Book</option>
  </select><br>
  
  <label for="password">Location</label><br>
  <input id="lat" type="text" name="lat" placeholder="latitude"><br>
  <input id="long" type="text" name="lng"placeholder="longitude"><br><br>

  <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>

  <button type="submit">
    Create Place
  </button>
</form>