<h1>Crear</h1>

<form action="/crear" method="POST">
  <input type="text" name="name" placeholder="name">
  <select name="type">
    <option value="coffee shop">Coffee shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <input type="text" name="lon" placeholder="longitude">
  <input type="text" name="lat" placeholder="latitude">


  <input type="submit" value="Crear nuevo sitio">
</form>