
<form action="/create" method="post">
    <div class="field">
        <label for="name">name</label>
        <input type="text" name"name" id="name">
    </div>
    <div class="field">
        <label for="type">type</label>
        <input type="text" name"type" id="type">
    </div>
    <div class="field">
        <label for="latitude">latitude</label>
        <input type="text" name"latitude" id="latitude">
    </div>
    <div class="field">
        <label for="longitude">longitude</label>
        <input type="text" name="longitude" id="longitude">
    </div>
    <div class="field controls">
        <button>Create new place</button>
        <p></p>
    </div>
</form>
