<h3>Add new Place</h3>
<form method="POST" action="/places">
    <input type="text" name="name" placeholder="name of your place">
    <input type="text" name="enum" placeholder="Select the type of your place">    

    <input type="submit" name="" id="submit">
</form>
<a href="/index">Back Home</a>