<div>
      <form action="/create" method="POST">
        <div>
            <label for="">Name</label>
          <input type="text" name="name" placeholder="Name" /><br><br>

        
            <label for="">Type</label><br><br>
          <select name="type" id="">
              <option value="coffee shop">coffee shop</option>
              <option value="bookstore">bookstore</option>
          </select>

        </div>

        <button type="submit">Create place</button>
 </form>
    </div>

   
    