<div class="row justify-content-center">

  <div>
    
    <h4>{{selectedPlace.name}}</h4>

    <h4>{{selectedPlace.type}}</h4>

    <p class="card">{{selectedPlace.location.coordinates}}</p>

    <a href="/" type="button" class="btn btn-secondary">Volver</a>
       
  </div>
  
</div>