<div class="no-form">
  <div class="row justify-content-center">
  
    {{!-- <div class="col-md-3">
      <figure>
        <img src="{{photo}}" alt="">
      </figure>
    </div> --}}
  
    <div class="col-md-9">
  
      <h2 class="card-title">{{name}}</h2>
      <small>{{typeOfPlace}}</small>
      <hr>
      <a href="/" class="btn button-mine">Volver!</a>
      <a href="/{{id}}/edit" class="btn outlined">Edit me!</a>
  
    </div>
  
  </div>

</div>