<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{selectedPlace.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{selectedPlace.type}}</h6>
        
        <p class="card-text">{{selectedPlace.location.coordinates}}</p>
        <a href="/" type="button" class="btn btn-secondary">Volver</a>
      </div>
    </div>
  </div>
</div>