<div class="container">
    <h2>Place details</h2>

    <hr>
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>Type:</strong> "{{type}}"</p>


    <button type="button" class="btn btn-secondary">
        <a href="/places">Back Places</a>
    </button>

</div>