UPDATE PAGE


<form action="/{{place._id}}" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Name" value="{{place.name}}">

   <select type="" name="typePlace" value="{{place.typePlace}}">

  <option value="Coffee shop">Coffee shop</option>
  <option value="Bookstore">Bookstore</option>
</select>

<input type="submit" value="Create">

</form>