<form action="/places/{{place.id}}" method="POST">
  <label>Name: <input name="name" type="text" value="{{place.name}}"></label>
  <label>Type: <select name="type">
      <option value="" disabled selected>Select type</option>
      <option value="coffee shop">coffee shop</option>
      <option value="bookstore">bookstore</option>
    </select>
  </label>
  <button type="submit">Submit</button>
</form>
<a href="/places/{{place.id}}">Go back</a>