<form action="/places/{{_id}}/edit" method="post">

  <p>
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="name" id="name" value="{{name}}">
  </p>

  <p>
    <label for="type">Type</label>
    <select name="placeType" id="type" >
      <option value="cantina">cantina</option>
      <option value="bar">bar</option>
      <option value="antro">antro</option>
      <option value="restaurante">restaurante</option>
    </select>
  </p>
  <input type="submit" value="Edit">

</form>
