<h2>Edit</h2>
<form action="edit/{{place.id}}" method="POST">
  <input type="text" name="name" value="{{place.name}}">
  <input type="text" name="type" value="{{place.type}}">
  <input type="text" name="location" placeholder="location">
  <button type="submit">update</button>
</form>