<h2>Edit Place Data</h2>
<form action="/{{_id}}/edit" method="POST">
  <input type="text" name="name" value="{{name}}">
  <select name="type" id="type-of-place">
    <option value="coffee shop">Coffe Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <label>Address</label>
  <input type="text" name="latitude" placeholder="latitude" value="{{location.coordinates.[0]}}">
  <input type="text" name="longitude" placeholder="longitude" value="{{location.coordinates.[1]}}">
  <input type="submit" value="Submit information">
</form>
<a href="/">Home</a>