<form action="/{{id}}/update" method="post">

  <label for="">Name</label>
  <input type="text" name="type" value="{{name}}">

  <label for="">Type</label>
  <input type="text" name="type" value="{{type}}">

  <button type="submit">EDIT</button>
  
</form>