<h2>Location</h2>

<form action="/add-place" method="POST" >
 <div class="field">
   <label for="name"> name </label>
   <input type="text" name="name" id="name">
 </div>
 <div class="field">
   <label for="longitude"> longitude </label>
   <input type="text" name="longitude" id="longitude">
   
 </div>
 <div class="field">
        <label for="latitude"> latitude </label>
        <input type="text" name="latitude" id="latitude">
        
      </div>
 <div class="field control">
   <button class="btn submit">add place</button>
 
 </div>
</form>
