
<div class="home">

    <div class="menu">
        <h1>Welcome to Coffee & Books </h1>
     <p> Feel free to browse, add, update and delete your favourite coffee shops and book stores</p>

<div class="btn">
<a href="/places">List all places</a>
<br>
<br>
<a href="/places/new">Add a new place</a>
</div>
</div>
</div>
