<!DOCTYPE html>
<html>

<head>
  <title>Coffee & Books</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    #map {
      width: 100%;
      height: 400px;
    }
  </style>
</head>

<body>
  <h1>Hola</h1>
  <p>Welcome to Coffee & Books</p>
  <div id="map"></div>
<a href="/form-place">New Place</a>
<script
async
defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFmDfjSMFumW02NLMMIoNA43OtfBmeKR8&callback=startMap">
</script>
<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>