<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<h3 dir="auto">Iteration 1 - create model</h3>
<p dir="auto">In&nbsp;<code>models</code> folder, create a new model&nbsp;<code>place.js</code>. For now, this model
  will have:</p>
<div dir="auto">
  <pre>    - name,
    - type: coffee shop, bookstore
    - timestamps </pre>
</div>
<h3 dir="auto"><a
    href="https://github.com/J2PQ/lab-coffee-and-books?organization=J2PQ&organization=J2PQ#iteration-2---create-crud-on-this-model"><svg
      version="1.1" width="16" height="16">
      <path fill-rule="evenodd"
        d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
      </path>
    </svg></a>Iteration 2 - create CRUD on this model</h3>
<p dir="auto">In this iteration, you should create full CRUD on&nbsp;<code>place.js</code> model - to be able to create,
  update, delete and display all the places you save in the database. You will have to create routes and corresponding
  views.</p>
<h3 dir="auto"><a
    href="https://github.com/J2PQ/lab-coffee-and-books?organization=J2PQ&organization=J2PQ#iteration-3---add-location-property"><svg
      version="1.1" width="16" height="16">
      <path fill-rule="evenodd"
        d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
      </path>
    </svg></a>Iteration 3 - add&nbsp;<code>location</code> property</h3>
<ul dir="auto">
  <li>To be able to locate places on the map, you will have to add&nbsp;<code>location</code> property to its model
    (refer to the previous lesson if necessary);</li>
  <li>Add Location fields to form(s) - create and update</li>
  <li>Get Google Maps API Key</li>
  <li>Add Google Maps to the view(s) that will display the map</li>
  <li>Show places on the map &amp; add markers to show places&rsquo; locations</li>
</ul>