<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/create">Create a new place</a>

    <div id="map-container"></div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAM3SVtttv2pqI2Z9vufnl63sE0eblMRnM"></script>
    <script type="text/javascript" src="/javascripts/map.js"></script>
  </body>
</html>
