<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    #map {
      height: 500px;
      width: 100%;
    }
  </style>
</head>

<body>
  <h3>Our 2nd Map</h3>
  <div id="map"></div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvUL7rvwQhc3aXnVdRbXrEBTWGQhkeHII">
  </script>
  <script type="text/javascript" src="javascripts/map.js"></script>


</body>

</html>
