<h2>Go to places</h2>
<form action="/places">
  <div class="">
    <button class="" type="">Go</button>
  </div>
</form>
<h2>Create a new place</h2>
<form action="/new">
  <div class="">
    <button class="" type="">Create</button>
  </div>
</form>
<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfEo_dx2cVYTcyLs3lxkox-L_IGNyP6Uo"></script>
<script src="/javascripts/home.js"></script>