<section class="container">
  <h1>{{siteTitle}}</h1>
  <p>Your daily dose of {{siteTitle}}</p>
  <hr>
  <h4>What would you like to do?</h4>
  <br>
  <a href="/places" class="btn btn-info">Check all places</a>
  <a href="/new" class="btn btn-info">Create new place</a>
</section>