<!DOCTYPE html>
<html>
  <head>
    <title>Coffee & Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola</h1>
    <p>Welcome to Coffee & Books</p>

    
  </body>
</html>
