<h3>My bookstore Map</h3>
    <div id="map">


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB90SbQDcUbB3g32fUUKuEDefCYn62S_zE">
    </script>
    </div>
    <div>
    <script type="text/javascript"> window.places = JSON.parse( {{{places}}});></script>
    <a  href="/bookstore"> Add Bookstores</a>
    </div>