<!DOCTYPE html>
<html>
  <head>
    <title>My First Map</title>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My First Map</h3>


    <form method="POST" action="/search">
<<<<<<< HEAD
          <input type="text" name="name" placeholder="name">
          <input type="text" name="description" placeholder="description">
          <input type="number" name="latitude" placeholder="latitude">
          <input type="number" name="longitude" placeholder="longitude">
          <button type="submit" name="save">Save</button>
        </form>    
        <div id="map"></div>

   
=======
      <input type="text" name="name" placeholder="name">
      <input type="text" name="latitude" placeholder="latitude">
      <input type="text" name="longitude" placeholder="longitude">
      <button type="submit" name="save">save</button>
    </form>
>>>>>>> 47310978df8d964f7329a4050c1b301e05ef0be4


    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqiGQyYZl5S4qJbuvucm6bu_ZPfB1Wd7E">
    </script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
