<h1>{{title}}</h1>

<p>Welcome to {{title}}</p>

<script>
window.places = {{{places}}};
</script>

<form method="POST" action="/addPlaces">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="kind" placeholder="Type Of Place">
  <label>Location</label>
  <input type="text" name="latitude" placeholder="Latitude" >
  <input type="text" name="longitude" placeholder="Longitude">
  <input type="submit" name="">
</form>

<br>

<div id="map" style="height:500px"></div>