<div class="bg-dark">
  <div class="container">
    <div class="row fullheight">
      <div class="col-12 text-center m-auto">
        <a href="/place/create" class="btn btn-info">Create a new place</a>
      </div>
    </div>
  </div>
</div>