<h1>¡Lugares encantadores!</h1>
<p>¡Bienvenido!</p>
<hr>
<p>Conoce lugares mágicos donde saciar tu sed de café y/o tu sed de lectura</p>
<hr>

<div class="row justify-content-center">
<br>
<figure id="myMap"></figure>
<br>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChye-bynO4Q1iUsbqQ_4a4qL9gD0fTgMk"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/placemaps.js"></script>
<script src="/javascripts/script.js"></script>