<h1>Coffe Shops and Book Stores </h1>

<div class="mainmenu">
  <a class="links" href="/list"> LIST PLACES </a>
  <a class="links" href="/add"> ADD PLACE </a>
</div>


<div id="map"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo">
</script>
<script src="/javascripts/script.js"></script>