<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/crud/read">Go to the list</a>

<figure id="myMap"></figure>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap"></script>