<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="POST" action="/">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="type" placeholder="type">

  <label>Coordinates</label>
  <input type="text" name="latitude" placeholder="latitude" >
  <input type="text" name="longitude" placeholder="longitude">

  <input type="submit" name="">
</form>

