<h1>Bienvenido</h1>
<div class= "container">

  <head>
    <title>My First Map</title>
    
  </head>
  <body>
    <h3>My First Map</h3>
   <div id="Map" style="width: 1000px; height: 500px;"></div>


   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   
<script src="/javascripts/places.app.js"></script>

     <script src='https://maps.googleapis.com/maps/api/js?key=******************&callback=initMap'></script>
   <script src="/javascripts/main.js"></script>
    
  </body>
