
<div>
  <blockquote>
<h1>Bar, Restauranst and cafes</h1>
</blockquote>

<a href="/places" class="waves-effect waves-light btn"> See all places</a>

<a href="places/new" class="waves-effect waves-light btn"> Create a new</a>

<img class="materialboxed" width="650" src="https://cdn.pixabay.com/photo/2016/11/29/12/54/bar-1869656_960_720.jpg">
</div>



