<div class="header">
  <h1>{{title}}</h1>
  <span class="hBut"><a class="btnA" href="/places/add">Add place</a></span>
</div>

<script>
  window.places = {{{places}}}
</script>

<div class="container">
  <div id="map"></div>
  <div class="placesList">
    <h2>Places list</h2>
    {{#each placesList}}
      {{> placeList}}
    {{/each}}
  </div>
</div>


<script src="/javascripts/main.js"></script>
