<h1>{{title}}</h1>
<div class="info">
  <a href=""><h3>List of Cooffes and Books</h3></a>

  <a href="/new">Create new Place</a>
  <ul>
    {{#each places}}
    <li>
      <a href="/{{ this._id}}/edit">{{ this.name}}</a>
      |
      <a href="/{{ this._id}}/delete">Delete</a>
    </li>
    {{/each }}
  </ul>
  {{!-- add map here --}}
  <div id="map"></div>
</div>
{{!-- added your scripts here --}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhmq9mD-vfQ2RRh7xTLIwUKfEvPk_9C6I&callback=initMap"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>