<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (places != null){ %>

      <ul>
      <%- places.map((place)=>{
        return `<li>${place.name} - ${place.description}</li>`
      }) %>
      </ul>
    <% } %>

    <a href="/new"> Register a new place </a>
  </body>
</html>
