

<h1>Form for places</h1>

<form action="/create" method="post">
  <div>
  <label for="place-name">Place Name</label>
  <input type="text" name="placename">
  </div>

  <div>
  <label for="description" name="description">Description</label>
  <input type="text" name="description"=>
  </div>

  <div>
  <label for="latitude">Coordinate Latitude</label>
  <input type="numer" name="latitude">
  </div>

  <div>
  <label for="longitude">Coordinate Longitude</label>
  <input type="numer" name="longitude">
  </div>
  
  <div>
  <input type="submit">
  </div>
</form>

