<h1>{{title}}</h1>
<p><a href="/locations">See all locations</a></p>

<script>
    window.places = {{{places}}}
</script>

<div id="map" style="height: 500px"></div>

<br><br>

<form action="/locations" method="POST">
    <label for="name">Place Name: </label>
    <input type="text" name="name" required>

    <label for="latitude">Latitude: </label>
    <input type="text" name="latitude" required>

    <label for="longitude">Longitude: </label>
    <input type="text" name="longitude" required>

    <input type="submit" value="Add Place">
</form>