<style>
  #map {
    height: 500px;
    width: 100%;
  }
</style>

<div class="container">
  <h1>{{title}}</h1>

  <a href="/places">Lista de los diferentes places</a><br><br>
  {{!-- //ojo sino será /place --}}

  <figure id="map"></figure>

</div>