<div class="container">
  <div class="row main">
    <div class="col-md-8">
      <h1>{{siteTitle}}</h1>
      <p>Welcome to {{siteTitle}}</p>
      <a href="/places" class="btn btn-info">Ver lista de establecimientos</a>
    </div>
  </div>
</div>