<nav class="deep-orange accent-2">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/places">PLACES MAP</a></li>
      <li><a href="/places/new">NEW PLACE</a></li>
    </ul>
  </div>
</nav>
<div class="bg">
</div>
