<div clas="container">
    <h2>Places</h2>

    <ul>
        {{#each allPlacesCreated}}
        <li><a href="/places/details/{{_id}}" class="list">{{this.name}}</a>
            <small>
                [<a href="/places/delete-place?place_id={{_id}}">Delete</a>]
                [<a href="/places/edit-place?place_id={{_id}}">Edit</a>]
            </small>
        </li>
        {{/each}}
    </ul>
    <div id="map"></div>
    <button type="button" class="btn btn-secondary">
        <a href="/places/new">Add Place</a>
    </button>

</div>

{{!-- Scripts estáticos --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/javascripts/styles.js"></script>
<script src="/javascripts/places-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=_____APIKEY____=initApp"></script>