<h2>PLACES</h2>
{{!-- <ul>
  {{#each allPlaces}}
  <li><a href="/places/details/{{_id}}">{{name}}</a></li>

  <form action="/places/delete/{{_id}}" method="POST">

    <input type="submit" value="Delete place">


  </form>

  <a href="/places/edit/{{_id}}">
    <button>
      EDIT
    </button></a>
  {{/each}}
</ul>

<a href="/place/new-place"><button>New place</button></a> --}}
