<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p><a href="/books/create">Create new Places</a></p>
<p><a href="/books/list">View all the Places</a></p>


 <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1h1WDkTsUFSKsqs-EUIMfyvjlMvL2g10"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>