<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="map"></div>

<a href="places">All places</a>
<a href="new">Add new place</a>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"> </script>
<script type="text/javascript" src="../public/javascripts/script.js"></script>