<div class="container" id="main">
    <h1>Best Coffe-Shops and Book-Stores in town.</h1>
    <hr>

    
    <a href="/places" class="btn btn-dark btn-sm">Best Places</a>
    <a href="places/new-place" class="btn btn-dark btn-sm">Add New Place</a>
</div>
