<!DOCTYPE html>
<html>
  <head>
    <title>My First Map</title>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My First Map</h3>
    <div id="map"></div>

    <form method="POST" action="/search">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="latitude" placeholder="latitude">
      <input type="text" name="longitude" placeholder="longitude">
      <button type="submit" name="save">save</button>
    </form>


    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqiGQyYZl5S4qJbuvucm6bu_ZPfB1Wd7E">
    </script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
