<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a class="btn btn-special-xs btn-dark" href="/places/listado">Ver sitios</a>
<a class="btn btn-special-xs btn-dark" href="/places/crear">Crear sitios</a>


<figure id="myMap"></figure>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/javascripts/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkbxbofUyIw755cSHjbBY4bBEP9wbJ-hI"></script>