<h1>Bienvenid@ a tu gestor de sitios chulos</h1>
<p>Selecciona una opción:</p>
<a href="/create"><button>Crea un nuevo lugar</button></a>
<a href="/list"><button>Consulta tus lugares</button></a>

<div id="map">


</div>



