
<h1>Welcome to Coffee and Books</h1>

<h2>Do you want to see all the places you can visit?</h2>

<a class="btn-dark" href="/places">Places</a>

<hr>

<img src="/images/coffee.jpg" alt="Coffee and books">

