<h1>{{title}}</h1>

<script>
  window.places = {{{places}}}
</script>

<span class="hBut"><a class="btnA" href="/add">Add place</a></span>


<div id="map"></div>


<script src="/javascripts/main.js"></script>
