<h1>Welcome </h1>
<a href="/lugares">
<button type="button" class="btn btn-primary" >Ir a places</button>
</a>

<a href="/create">
<button type="button" class="btn btn-primary" >Create places</button>
</a>
