<div class="title">
    <h1>{{title}}</h1>
    <p>See en map our {{title}}</p>
</div>   


<link rel="stylesheet" href="/stylesheets/style.css" />

<div id="map"></div>

<div class="title">
<a class='btn btn-primary' href='/places'>Lista de lugares</a>

<a class="btn btn-primary" href="/places/new">Add new Place</a>
</div>  

    
    
   
</div>




