<div class="home">
  <div class="menu">
    <h1>Express | Coffee & Books</h1>
    <div class="btn">
      <a href="/places">All places</a>
      <br>
      <a href="/places/new">New place</a>
    </div>
  </div>
</div>