<main class="main_content">
    <div class="content">
        <h1 class="title">Coffee and Books</h1>
        <p>Find nice coffee places to relax and read a book and somewhere you can buy yourself a nice book!</p>
        <a href="/places">
            <button class="btn">Checkout places!</button>
        </a>
    </div>
    <aside class="img_container">
        <img class="coffee_img" src="images/coffeeandbooks.svg" alt="coffee and books image">
    </aside>
</main>
