<div class="row">
    <div class="column intro">
        <h1>Coffee & Books</h1> <br>
        <h4>Want to read a coffe or to drink a book?</h4>
        <h4>Then this <a href="/place"><code>place</code></a> is for you...</h4>
    </div>
</div>