<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<fieldset>
  <form action="/" method="post">
  <label for="">Name:</label>
  <div>
  <input type="text" name="name" id="name">
  <button type="submit">Add</button>
  </div>
  </form>
</fieldset>




<a href="/placeList">Show list</a>