<body class="body__index">
 <h1 class="h1__index">Books & Coffee</h1>

<a href="/places" class="button__index"><strong>SEE ALL THE PLACES</strong></a>

<a href="/places/new" class="button__index"><strong>CREATE A NEW PLACE</strong></a> 
</body>
