<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<h2>Add a place</h2>
</div>
<div class="container box">
<form action="/" method="post">
  <label for="">Name:</label>
  <input type="text" name="name">
  <label for="">Kind:</label>
  <input type="text" name="kind">
  <label for="">Address:</label>
  <input type="text" name="lat" placeholder="latitude">
  <input type="text" name="lng" placeholder="longitude">
  <button type="submit" class="edit">ADD</button>
</form>
<br>


