<div id="links">
  <a href="/new">New Place</a>
</div>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQlSVxH2uMbqLcUbzrrVVSfovSputTRdw&callback=initMap"
    async defer></script>
<script src="javascripts/maps.js"></script>