<form action="/input/edit" method="post">
  <label for="">Name:</label>
  <input type="text" name="name">

  <select name="typeSelector">
    <option value="coffee shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>

    <button type="submit">ADD - New Location</button><br><br>
</form><br><br>


  {{!-- <button name="read">REVIEW - All Locations</button><br><br>
  <button name="update">UPDATE - Edit Type By Name</button><br><br>
  <button name="delete">DELETE - Delete Location By Name</button><br><br> --}}

  <a href ="/">
    <button name="return">Return home to map page.</button><br><br>
  </a>
  

