<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRfbqnzZZb7VjzEjo6rlggeYg0FsXpUz0">
    </script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
