<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lab-coffee</title>
  <style>
    #map {
      height: 500px;
      width: 100%;
    }
  </style>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  {{{body}}}
  <div id="map"></div>

  <script src="https://maps.googleapis.com/maps/api/js?key=INSERT-KEY-HERE"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>