<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  {{{body}}}
  <a class="btn btn-dark" href="/places">Go to places</a>

  <script src="javascripts/places-map-app.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEPs1INqDWq1lZp8qMvUPOMEKKqkpbKtM&callback=initMap"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>