<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  {{{body}}}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbp3qItF-QhTVNsVnmrFijbv9fPXTwOec"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src='/javascripts/script.js'></script>
</body>

</html>