<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">Books & Coffee</a>
      <div class="collapse navbar-collapse" id="navbarNav">
      </div>
    </div>
  </nav>

  <main class="container">
    {{{body}}}
  </main>


  <footer>
    <small>Made with &#9829; by Yai</small>
  </footer>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/mapStyles.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5pAOc0VsjZ-SX6Jxm7qm-2u0r3rcuX5I&sensor=false" type="text/javascript"></script>">
  </script>
</body>

</html>