<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <style>
    #map {
      height: 50vh;
      width: 100%;
    }
  </style>
</head>

<body>

  {{{body}}}
  <div id="map"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmA_nB5Ja-EzOKb37_eyIomFhgC6QjEvw"></script>
  <script src="/javascripts/script.js"></script>
  <script>
    function randomIntFromInterval(min, max) {
      return Math.floor(Math.random() * (max - min + 1) + min);
    }

    function startMap() {
      const ironhackMAD = {
        lat: 40.392578,
        lng: -3.698246,
      };
      const map = new google.maps.Map(
        document.getElementById('map'), {
          zoom: 15,
          center: ironhackMAD,
        },
      );
      const myMarker = new google.maps.Marker({
        position: ironhackMAD,
        map,
      });
    }
    startMap();

  </script>
</body>

</html>