<!DOCTYPE html>
<html>

<head>
  <title>My First Map</title>
  <style>
    #map {
        height: 400px;
        width: 100%;
       }
    </style>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABMql1rUj4g7-828O4ND2DJcwq98kdIaw"></script>
  <script src="/javascripts/geolocate.js"></script>
</head>

<body>
  <ul>
    <li><a href="/places">All Places</a></li>
    <li><a href="/places/newPlace">Add a new place</a></li>
  </ul>


  {{{body}}}
 
  
</body>

</html>