<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <style>
    #map {
      width: 50%;
      height: 250px
    }
  </style>
</head>

<body>

  <div id="map"></div>

  {{{body}}}


  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx2GmyouiTJKT1cnseLaV4I5LJDwp5oo8"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>