<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MAPS</title>
{{!-- //bootstrap --}}
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css' />

<style>
  #myMap {
    width: 100%;
    height: 500px
  }
</style>

<title>{{title}}<title>
<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

  {{{body}}}

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
  </div>

  <figure id="myMap"></figure>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn8g8L9MxbtBkjnaci7ZGWKPh57aPe-wU&callback=initMap"></script>
<script src="/javascripts/script.js"></script>
  <script src="js/directions.js"> </script>

  <script src="js/mapStyles.js"> </script>

  <script src="js/main.js"> </script>
  

  </nav>
  <div class="container">

  
  </body>
  </html>


  

