<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmA_nB5Ja-EzOKb37_eyIomFhgC6QjEvw"></script>
  <script src="/javascripts/geolocalize.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

  {{{body}}}

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/place">Places</a></li>
    <li><a href="/place/new">New place</a></li>
</ul>  

  <script src="/javascripts/script.js"></script>
</body>
</html>