<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>

  <header id='map'></header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>

  {{!-- Axios --}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/api-handler.js"></script>


  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgbykNfGbjkU_oUePiyLSDNkJytlcImzE&callback=initMap&libraries=&v=weekly"
    defer></script>

  <script src="/javascripts/maps.js"></script>

  {{!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
      defer></script> --}}
</body>

</html>