<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{appTitle}}</title>
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

   <nav style="border-bottom: 1px solid black;" class="mb-2">
      <a href="/place">Ver place</a> | <a href="/place/create">Nuevo place</a>
      <br>
      <a href="/mapa/mapa-basico">Ver mapa básico</a> 
   </nav>

   {{{body}}}

   <script src="/js/script.js"></script>
</body>

</html>