<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>

<nav>
  <div class="flex">
    <div class="left">
      <a href="/">Home</a>
      <a href="/places">Places</a>
      <a href="/edit">Edit</a>
      <a href="/new">Create</a>
    </div>
    <div class="right">
      <a href="/map">Map</a>
    </div>
  </div>
</nav>

  {{{body}}}

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>