<div class="container">

    <h2>Lista de cafes</h2>

    <ul>
        {{#each allPlaces}}
        {{this.name}}
        {{/each}}
    </ul>
    {{!-- <a href="/place/add">Lista de cafes</a> --}}
    <p></p>
</div>