<div class="container">

  <h2>Lista de cafes</h2>

  <ul>

    {{#each thecoffee}}
    <li>{{this.name}}</li>

    {{/each}}

  </ul>
  <a href="/place/add">lista de cafes</a>
  <p>
    <a href="/">Volver</a>
  </p>
</div>