<div class="container">

  <h1>Soy un mapa básico</h1>

  <figure id="myMap"></figure>

  <a href="/" class="btn btn-dark">Volver al inicio</a>

</div>

<script src="/js/map.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwLpd_45waQFXANZEofUvUNCsPTE2Kwko&callback=initMap"></script>