    <h3>My First Map</h3>
    <a href="/">Home</a>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmg4OCydARbHcI_SqpnEYqYd0XHARzjq8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../javascripts/main.js"></script>