<style>
    #basicMap {
        height: 300px;
        background-color: red;
    }
</style>

<figure id="basicMap"></figure>

<a href="/api/place" target="_blank">Mira la API!</a>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/basic-map-setup.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>

© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API