<h2>Add a new place</h2>
<div>
  <form action="/place/new" method="POST">
    <div>
      <input type="text" name="name" placeholder="Name" />
    </div>
    <div>
      <input id="address" name="address" type="text" placeholder="Address">
    </div>
    <div>
      <select name="type" id="type">
        <option value="COFEE SHOP">Cofee Shop</option>
        <option value="BOOKSTORE">Bookstore</option>
      </select>
    </div>
    <div>
      <input id="lng" type="text" name="lng" placeholder="Longitude" />
    </div>
    <div>
      <input id="lat" type="text" name="lat" placeholder="Latitude" />
    </div>
    <button type="submit">Add place</button>
</div>
<div>
  <div>
    <div id="search"></div>
    <div id='map' style='display: inline-flex;width: 800px; height: 600px;'></div>
  </div>
  <div id="map" style="width: 800px; height: 600px"></div>
  <script>
    let input_lng = document.getElementById("lng");
    let input_lat = document.getElementById("lat");
    let input_address = document.getElementById("address")
    mapboxgl.accessToken =
      "pk.eyJ1IjoibWx6eiIsImEiOiJjanUwbTRtaTQxc3RzNDRtZmdtaXF1dXVxIn0.k3hMbEeCzUKaDn2sIsULjA";

    let map = new mapboxgl.Map({ container: "map", style: "mapbox://styles/mapbox/streets-v11" });

    let geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken
    });

    document.getElementById("search").appendChild(geocoder.onAdd(map))

    geocoder.on("result", res => {
      let [lng, lat] = res.result.center;
      let address = res.result.place_name;
      input_lng.value = lng;
      input_lat.value = lat;
      input_address.value = address;
    });

    map.addControl(new mapboxgl.NavigationControl());

  </script>
</div>
</form>