<h2>New Places</h2>
<form action="/places/new_place" method="POST">


<form action="">
<select name="" id="">
    <option value="coffee-shop"></option>
    <option value="bookstore"></option>

</select>

<input type="text" name="name" placeholder="Name of the shop">
<input type="text" name="occupation" placeholder="Occupation">
<input type="text" name="catchPhrase" placeholder="Famous last words">


<input type="submit" value="Create a New Celebrity">

</form> 