<h1>Add a place</h1>
<form action="/places/new" method="POST">
    <input type="text" name="name" placeholder="enter a bookstore/coffeeshop">
    <input type="text" name="type" placeholder="enter the type of the place">
    <input type="text" name="longitude" placeholder="longitude">
    <input type="text" name="latitude" placeholder="latitude">
    <input type="submit" value="Add">
</form>