<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form id='form' action="/new" method="post">
      <br><input id="name" type="text" name="name" value="" placeholder="name">
      <br><input id="description" type="text" name="description" value="" placeholder="description">
      <br><input id="address" type="text" name="address" value="" placeholder="address">
      <br><input id="latitude" type="text" name="latitude" value="">
      <br><input id="longitude" type="text" name="longitude" value="">
      <br><button id="address-request" type="button" name="button">Find place</button>
      <br><input type="submit" value="submit" >
    </form>

    <div id="map" height="500px">
    </div>

    <a href="/"> Back </a>
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6YjL5w47ZTR-NlmDyIjsk4Nc_9BtvjGw"></script>
    <script type="text/javascript" src="javascripts/new.js"></script>
  </body>
</html>
