


<form method="POST" action="/place/new">
    <input type="text" name="name" placeholder="name">
    <select>
        <option value="coffeeshop">Coffee Shop</option>
        <option value="bookstore">Bookstore</option>
    </select>

    <label>Coordinates
        <input type="text" name="latitude" placeholder="latitude" >
        <input type="text" name="longitude" placeholder="longitude">
    </label>  

<input type="submit" name="">
</form>

