<form action="/" method="POST">
  <p><label for="name">Name: <input type="text" name="name" id="name" value="coffee shop"></label></p>
  <p><label for="type">Type: <input type="text" name="type" id="type" value="coffee shop"></label></p>
  <p><label for="lat">Latitude: <input type="text" name="lat" id="lat"></label></p>
  <p><label for="long">Longitude: <input type="text" name="long" id="long"></label></p>
  <button type="submit">Send</button>
</form>