<div class= "container">
  <div class ="row">

<form class= "col-6"action="/new" method="POST">

  <div class="form-group">
          <label for="inversions-input">Nombre:</label>
          <input name="name" type="text" class="form-control" id="inversions-input">
        </div>
  
        <div class="form-group">
          <label for="type">Tipo de sitio:</label>
         <input name="type" type="text" class="form-control" id="inversions-input">
        </div>
        <div>
          <label for="type">latitud</label>
          <input type="text" name="latitude" placeholder="latitude" >
          <label for="type">longitrud:</label>
        <input type="text" name="longitude" placeholder="longitude">
        </div>
        <button type="submit" class="btn btn-dark">Crear</button>
        

</form>
<div class = "col-6">
<div></div>