<h3>Add new Place</h3>
<form method="POST" action="/">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="lat" placeholder="Lat">
  <input type="text" name="lng" placeholder="Lng">
  
  <select name="" id="">
    <option value="COFFE SHOP">COFFE SHOP</option>
    <option value="BOOKSTORE">BOOKSTORE</option>
  </select>
  
  {{!-- you will start using "address" part when you 
set up your model to be able to store lat and long, so add address here:  --}}


  <input type="submit" name="" id="submit">
</form>
<a href="/">Back to the list</a>