<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

        <h2>Add a new Bar</h2>
        <form method="POST" action="/new">
            <div class="form-group">
                <label for="detail1">Name</label>
                <input type="text" class="form-control" id="detail1" name="name">
            </div>
            <div class="form-group">
                <label for="detail2">Type</label>
                <input type="text" class="form-control" id="detail2" name="type">
            </div>
            <div class="form-group">
                <label for="detail3">Latitude</label>
                <input type="text" class="form-control" id="detail3" name="lat">
            </div>
            <div class="form-group">
                <label for="detail3">Longitude</label>
                <input type="text" class="form-control" id="detail3" name="lng">
            </div>
            <button type="submit" class="btn btn-dark">Agregar</button>
        </form>

        </div>
    </div>

</div>