<div class="contanier">
    <h2>Add Place</h2>
    <form method="POST" action="/places/new">
        <div class="form">
            <label>Place Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form">
            <label>Place Type</label>
            <input type="text" class="form-control" name="type">
        </div>
        <div class="form">
            <label>Place Location</label>
            <input type="text" class="form-control" name="latitude" placeholder="Latitude">
            <input type="text" class="form-control" name="longitude" placeholder="Longitude">
        </div>

        <button type="submit" class="btn btn-dark">Add Place</button>
    </form>
</div>