<div class="update">
<h2>Add a new Place</h2>
<form class="show-form" action="/new" method="post">
  <label for="">Name</label>
  <input type="text" name="name" id="" value="Cacafe" required>
  <label for="">Type</label>
  <select name="type" id="">
    <option value="coffee">Coffee</option>
    <option value="shop">Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <button class="btn-menu-show  type="submit">Let's Create</button>
  <p>{{error}}</p>
</form>
</div>