<h1>New Place</h1>
<form action="/new" method="POST">
  <input type="text" name="name" placeholder="Username">
  <select name="type">
    <option value="coffee shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <button type="submit">Add Place</button>
</form>