<h2>New Place</h2>
<form action="/new" method="POST">
    <input type="text" name="name" placeholder="name">
    <select type="text" name="type">
        <option>Coffee-shop</option>
        <option>Bookstore</option>
    </select>
    <input type="text" name="lat" placeholder="Latitud">
    <input type="text" name="lng" placeholder="Longitud">
    <input type="submit" value="Create New Place">
</form>