<h2>Add new place</h2>

<form action="{{action}}" method="POST">
  <input type="text" name="name" placeholder="Name" value="{{name}}">
  <br><br>
  <input type="number" name="stars" min="1" max="5" value="{{stars}}">
  <br><br>
  <select name="category">
    <option value="Restaurant">Restaurant</option>
    <option value="Bar">Bar</option>
    <option value="Coffee">Coffee</option>
    <option value="Social">Social</option>
    <option value="Educational">Educational</option>
  </select>
  <br><br>
  <div id="map"></div>
  <input type="text" name="address[coordinates][0]" hidden="true" id="lng" >
  <input type="text" name="address[coordinates][1]" hidden="true" id="lat" >
  <input type="submit" value="{{submit}}">
</form>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZGl1cml2aiIsImEiOiJjanAxdjA2cTQwMGp1M2tvYzZmZGp3bWc3In0.4cZEyLkU2ikqx_wb4A1z8A';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
  })
  const geoCoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  })
  map.addControl(geoCoder)
  geoCoder.on('result', res => {
    document.getElementById('lng').value = res.result.center[0]
    document.getElementById('lat').value = res.result.center[1]
  })
</script>