<form method="POST" action="/place/show">
  <label>Name: <input name="name" type="text"></label>
  <label>Type: <select name="type">
      <option selected="true" disabled="disabled">Select type</option> 
      <option value="coffee shop">coffee shop</option>
      <option value="bookstore">bookstore</option>
    </select>
  </label>
  <label>Location:</label>
  <label>Lat: <input name="lat" type="string"></label>
  <label>Lng: <input name="lng" type="string"></label>  
  <button type="submit">Submit</button>
</form>
<a href="/place">Go back</a> 