<div class="container">

  <form method="POST" action="/new">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <h3>Add new place</h3>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Name</label>
        </div>

        <div class="form-group">
          <input type="text" name="name" placeholder="name">
          <input type="text" name="description" placeholder="description">
        </div>

        <div class="form-group">
          <label>Address</label>
        </div>

        <div class="form-group">
          <input type="text" name="latitude" placeholder="latitude">
          <input type="text" name="longitude" placeholder="longitude">
        </div>


        <button type='submit' class="btn btn-dark">Submit</button>


  </form>

  <a href="/" class="btn btn-dark">Back to home</a>

</div>
</div>
</div>