<form action="/new" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">
  <br><br>

  <label for="location">Location</label>
  <input type="text" name="locationlat" id="latitud" placeholder="latitude">
  <input type="text" name="locationlng" id="longitud" placeholder="longitud">
  <br><br>

  <label for="kind">Kind</label>
  <input type="text" name="kind" id="kind">
  <br><br>

  <button type="submit">Create Location</button>
</form>