<h1>Create Place</h1>

<form action="/places/new" method="POST">

<input placeholder="Nombre" type="text" name="name" id="name">
<input placeholder="Tipo" type="text" name="type" id="type">
<input placeholder="Latitud" type="hidden" name="lat" id="lat">
<input placeholder="Longitud" type="hidden" name="long" id="long">

<input type="submit">


</form>