<h2>Create new spot</h2>
<section>
  <input type="text" name="name" placeholder="Enter the place name..." value="">
  <select name="type">
    <option value="coffee shop">Coffee shop</option>
    <option value="bookshop">Bookshop</option>
  </select>
</section>