<form action="/" method="POST">
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" placeholder="Enter your name" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="">Type</label>
    <input type="text" placeholder="BookStore or CoffeStore" name="type">
  </div>
  <div class="form-group">
    <label for="">Location</label>
    <input type="text" placeholder="Enter your address" name="location">
  </div>
  <div class="form-group">
    <label for="">City</label>
    <input type="text" placeholder="Enter your city" name="city">
  </div>
  <div class="form-group">
    <input type="text" placeholder="Latitude" id="latitude" name="latitude">
    <input type="text" placeholder="Longitude" id="longitude" name="longitude">
  </div>
  <button type="submit" id="submit">Add place</button>
</form>
