  <h1>Add new place</h1>
  <form method="POST" action="/newPlace">
    <input type="text" name="name" placeholder="name">

    <label>Tipo de negocio</label>
    <select name="typeBusiness" id="typeBusiness">
      <option value="coffee shop">Coffee shop</option>
      <option value="bookstore">Bookstore</option>
    </select>

    <input type="submit" name="">
  </form>