<h2>New Place</h2>
<form action="/places/new" method="POST">
<input type="text" name="name" placeholder="Name place">
<input type="text" name="type" placeholder="Type">
<input type="text" name="lat" placeholder="latitude">
<input type="text" name="lng" placeholder="longitude">
<button type="submit">Send</button>

</form>