<div class="bg-dark">
  <div class="container">
    <div class="row fullheight">
      <div class="col-12 text-center text-white m-auto">
        <h1 class="display-3">😵<br> <strong>404 Error</strong></h1>
        <p class="h4 text-muted mb-4">Maybe, go home?</p>
        <a href="/" class="btn btn-info">Go home</a>
      </div>
    </div>
  </div>
</div>