<form action="/sitios/crear" method="POST">

<div class="container">
<h2>Nombre</h2>
<input type="text" name="name">
<h2>Tipo</h2>
<select name="type" >
  <option value="Bookstore">Libreria</option>
  <option value="Coffee Shop">Cafetería literaria</option>
</select>
<h2>Coordenadas</h2>
<input type="text" name="lat" placeholder="latitude"><br><br>
<input type="text" name="lon" placeholder="longitude"><br><br>
<input type="submit" value="Crear sitio">

</div>



</form>