<h1>Añadir nuevo lugar</h1>

<form action="/place/add" method="post">
    <label for="">Nombre:</label>
    <input type="text" name="name"><br>
<br>
    <select name="type">
        <option value="coffee shop">cafeteria</option>
        <option value="bookstore">librería</option>
    </select><br><br>

    
    <button type="submit">AÑADIR NUEVO lugar</button>
</form>
<br><br>
<a href="/place/">Cancelar y volver a la lista</a>