<div class="container">

    <h1>Our places</h1>
    <figure id="placesMap"></figure>

    <a href="/" class="btn btn-dark">Home</a>

</div>

{{!-- Scripts estáticos --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/styles.js"></script>
<script src="/javascripts/directions.js"></script>
<script src="/javascripts/places-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=__my_API_was_here
&callback=initApp"></script>