  
<span><a href="/places">Back</a></span><br>
<h1>add new book</h1>

<form action="/places-add" method="POST">
  <label for="title">Name:
    <input type="text" name="name">
  </label><br>

  <label for="author">Type:
    <input type="text" name="type">
  </label><br>

    <label for="rating">Location:
    <input type="text" name="latitude" placeholder="entrer latitude">
    <input type="text" name="longitude" placeholder="entrer longitude">
  </label>

  <button type="submit">SAVE</button>
</form>

