<hr>
<div class="container">
<div class="row">

{{#each data}}
<div class="col-md-4">
  {{this.name}}
  <br>
{{type}}
<br>
<a href="/sitios/{{id}}" class="btn btn-dark"> Ver sitio</a>
<hr></div>
{{/each}}
</div>
</div>