<h2>New place</h2>
<form action="">
  <input type="text" name="name" placeholder="Place's name">
  <select name="type" id="">
    <option value="coffee">Coffeeshop</option>
    <option value="shop">Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <input type="number" step="0.000001" name="lat" placeholder="latitude">
  <input type="number" step="0.000001" name="lng" placeholder="longitude">
  <input type="submit" value="New place">
</form>