<h1>Bookstore & Coffe Shops</h1>
{{#each places as |place|}}
<a href="/places/{{place._id}}">
  <img src="{{place.image}}" alt="{{place.name}}" width="200px">

<h2>{{place.name}}</h2>
</a>
<hr>
{{/each}}