<h1>Bookstores and Coffee Shops</h1>
{{#data}}
    <div class="places-container">
        <a href="place/{{_id}}">
            <div class="name">{{name}}</div>
        </a>
        <div class="type">{{type}}</div>
        <a href="/places/delete/{{_id}}">delete</a>
    </div>
{{/data }}
<a href="/places/new">
    <button>Add a new place!</button>
</a>
<a href="/">Home</a>
<div class="map_container">
    <div id="map"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuc7N3UMFZYI7XWFLO96M2SI42IGcIGPY&callback=initMap"
    async defer></script>
<script src="/javascripts/script.js"></script>