<div id="map"></div>
{{#each places}}
<h4><a href='/place/{{this.id}}'>{{this.name}}</a></h4>
{{/each}}
<a href="/place/new"><button>Create place</button></a>
<a href="/">Go back</a>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA23tCJo-H0sIWLHm5u7sVWSDqmG7x9Wtg"></script> 