<a href="/places/add">Add New Place</a>

{{#each placesFromDB}}
<a href="/places/{{_id}}"><h2>{{name}}</h2></a>
<a style="color: red;" href="/places/delete/{{_id}}">Delete</a>
{{/each}}

<div id="map" class="map1"></div>