
<!DOCTYPE html>
<html>
  <head>
    <title>My First Map</title>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My First Map</h3>
    <div id="map"></div>


    <script type="text/javascript" src="main.js"></script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTJE0iWrW5ZEOLUeSy6gDpzxkdWY18RbA">
    </script>
  </body>
</html>
