<a href="/places">Go Back</a>
<form action="/places/add" method="POST">
  <label for="name">Name:
    <input type="text" name="name">
  </label>

  <label for="type">Type:
    <input type="text" name="type">
  </label>

  <label for="location">Location:
    <input type="text" name="latitude" placeholder="Enter latitude">
    <input type="text" name="longitude" placeholder="Enter longitude">
  </label>
  <button>SAVE</button>
</form>