<h2>{{place.name}}</h2>
<h3>{{place.type}}</h3>
<p>{{place.location}}</p>

<div id="map" style="height: 500px; width: 100%"></div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{MAPSKEY}}"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>