<h1>Las tiendas son</h1>
<ul>
  {{#each stores}}
  <li>
    <p>Nombre de la libreria : {{this.name}}</p>
    <p>Y su tipo es {{this.type}}</p>
    <a href="/{{this.id}}/edit">Editar</a>
    <a href="/{{this.id}}/delete">Delete</a>
  </li>
  {{/each}}
</ul>

<figure id="map"></figure>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/main.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>