<h2>{{place.name}}</h2>
<p>{{place.type}}</p>
<a href="/place/{{place.id}}/edit"><button>Edit</button></a>
<form action="/place/{{place.id}}/delete" method="post"><button type="submit">Delete</button></form>
<a href="/place">Go back</a> 