<h1>Edit</h1>
  <form action="/{{_id}}/edit" method="POST">
    <input type="text" name="name" value="{{name}}">
      <select name="type">

        <option value="Coffee">Coffee</option>
        <option value="Books">Books</option>
      </select>
    <button>Edit</button>
  </form>

  <a href="/">Go Back</a>