<!DOCTYPE html>
<html>
  <head>
    <title>Coffee & Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h2><%= place.name %></h2>
      <ul class="list-group">
          <li class="list-group-item">
              Kind: <%= place.kindOfEstablishment %>
          </li>
          <li class="list-group-item">
              Description: <%= place.description %>
          </li>
      </ul>
  </body>
</html>
