<div class="update">
<h2>Update the dates of places!!</h2>
<form class="show-form"action="/{{_id}}/update" method="post">

  <label class="update-form" for="">Name</label>
  <input type="text" name="name" value="{{name}}">

  <label class="update-form" for="">Type</label>
  <input type="text" name="type" value="{{type}}">

  <button class="btn-menu-show " type="submit">Edit</button>

</form>
</div>