<h4>{{place.name}}</h4>
 <p>{{place.type}}</p>
 <a href="/places/{{place.id}}/edit"><button>Edit</button></a>
 <form action="/places/{{place.id}}/delete" method="post"><button type="submit">Delete</button></form>
 <a href="/places">Back</a> 