
<div class="container">
    <h2>Detalles de los Bares</h2>
        <h4>{{this.name}}</h4>
        <p>{{this.type}}</p>
        <a class="btn btn-ligth btn-outline-success btn-sm" href="/">Volver</a>
</div>