<h3>Edit restaurant</h3>
<form method="POST" action="/{{place._id}}">
  <label>Name:</label>
  <input type="" name="name" placeholder="Name" value="{{place.name}}">
  <label>Type:</label>
  <select name="type">
    <option value="coffee shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <button type="submit" name="" id="submit">Edit</button>
</form>