<div>
  <h3>Placeholders in this, represent your old data</h3>
  <form action="/update/{{_id}}" method="POST">
    <div>
      <input type="text" name="name" placeholder="{{name}}" />
    </div>
    <div>
      <input id="type" name="type" type="text" placeholder="type">
    </div>
    <div>
      <input id="lng" type="text" name="lng" placeholder="{{location.coordinates.[0]}}" />
    </div>
    <div>
      <input id="lat" type="text" name="lat" placeholder="{{location.coordinates.[1]}}" />
    </div>
    <button type="submit">Update</button>
    </form>
</div>
<div>
  <div>
    <div id="search"></div>
    <div id='map' style='display: inline-flex;width: 400px; height: 300px;'></div>
  </div>
  <div id="map" style="width: 500px; height: 400px"></div>
  <script>
    let input_lng = document.getElementById("lng");
    let input_lat = document.getElementById("lat");
    let input_address = document.getElementById("address")
    mapboxgl.accessToken =
      "pk.eyJ1IjoibWx6eiIsImEiOiJjanUwbTRtaTQxc3RzNDRtZmdtaXF1dXVxIn0.k3hMbEeCzUKaDn2sIsULjA";

    let map = new mapboxgl.Map({ container: "map", style: "mapbox://styles/mapbox/streets-v11" });

    let geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken
    });

    document.getElementById("search").appendChild(geocoder.onAdd(map))

    geocoder.on("result", res => {
      let [lng, lat] = res.result.center;
      let address = res.result.place_name;
      input_lng.value = lng;
      input_lat.value = lat;
      input_address.value = address;
    });

    map.addControl(new mapboxgl.NavigationControl());

  </script>
</div>
