  <h1>Update place</h1>
  <form method="POST" action="/updPlace">
    <input type="text" name="name" placeholder="name">
    <label>Nuevo nombre</label>
    <input type="text" name="newName" placeholder="new Name">
    <label>Tipo de negocio</label>
    <select name="" id="typeBusiness">
      <option value="coffee shop">Coffee shop</option>
      <option value="bookstore">Bookstore</option>
    </select>

    <input type="submit" name="">
  </form>