<h1>List of all the book stores in DB</h1>
<div id="bookStores">
  {{#each bookStores}}
    <div class="bookStore">
      <h3>{{name}}
      <a href="/bookStores/{{_id}}"> see this book store in the map</a></h3>
      <a href="/bookStores/{{id}}/delete"><button>Delete</button></a>
      <a href="/bookStores/{{id}}/edit"><button>Edit</button></a>
    </div>
  {{/each}}
  <a href="/bookStores/new"><button>NEW</button></a>
  <a href="/"><button>Back</button></a>
</div>