<h2>New book place:</h2>
<div class="input-group">

<form action="/book/new" method="post">
  <label for="name">Name:</label>
  <input class="form-control"  type="text" name="name">
  <label for="lat">Lat:</label>
  <input class="form-control"  type="" name="lat">
  <label for="long">Long:</label>
  <input class="form-control"  type="" name="long">
  <button class="btn btn-success" type="submit">Add new place</button>
</form>

</div>