<div class="container">

    <h1>basic map</h1>

    <div id="myMap"></div>

    <a href="/">Go back home</a>
</div>

<script src="/js/map-setup.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyJLzEV4bMHGkkovvuE00bI7PJjY1QgSA&callback=renderMap"></script>