<h2>Details of {{name}}</h2>
<br>
    Type: {{type}}
<br>
Coordinates: 
<ul>
<li>Longitude:{{location.coordinates.[1]}}</li>
<li>Latitude:{{location.coordinates.[0]}}</li>
</ul> 
<br>
<a class="btn btn-primary btn-sm" href="/locations/" role="button">Back</a>