<div class="container">
    <h1>Places map</h1>
    <hr>
    <figure id="myMap"></figure>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/services/places.services.js"></script>
<script src="/js/map-places.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=init&key=_________APIKEY__________"></script>