<!DOCTYPE html>
<html>
  <head>
    <title>The Best Places on Earth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      </div>
      <div class="info">
        <h3>List all places</h3>
        <a href="/new">Create new place</a>
        <ul>
          <% places.forEach((place) => { %>
            <li>
                <%= place.name%>-<%= place.description %>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbBJPvYIaR5ozIx_0-uWiGeO9cK4IxHww">
  </script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</html>
