<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>My First Map</title>
  <style>
    #map {
      height: 500px;
      width: 100%;
    }
  </style>


</head>

<body>

  <h3>My First Map</h3>
    <div id="map"></div>

</body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrtmNUIUV5jizOKyGvM3a6tlpRPvAac-Y">
</script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<script type="text/javascript" src="./javascripts/main.js">
</script>


</html>
