<div class="bg-image">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-center pt-5 fw-bolder text-black">Beautiful Places</h1>
    </div>
    <div class="d-flex justify-content-center">
        <img class="img-fluid mt-5" src="./../images/bg-image.jpg" alt="">
    </div>

    <a href="/places" class="btn btn-dark mt-3" role="button">See more Places</a>
</div>