<h1> Create a new Place </h1>

<form action="/crear" method="POST">

<label>
Name:
<input type="text" name="name">
</label>

<label>
Select a Type:
<select name="type">
<option value="coffee shop"> Coffee Shop</option>
<option value="bookstore"> bookstore</option>
</select>
</label>
<label>
    Latitud:
    <input name="lat" type="text">
</label>
<label>
    Longitud:
    <input name="lng" type="text">
    </label>

<input type="submit" value="Create a new Place">

</form>