<div class="container text-center">
    <h2>Details of {{ name }}</h2>
    <hr>
    <h2> Type: {{ type }} </h2>
    <hr>
    <h2> Latitude: {{ location.coordinates.[1] }} </h2>
    <hr>
    <h2> Longitude: {{ location.coordinates.[0] }} </h2>
</div>