<div class="container">
    <h1>Map</h1>
    <div id="myMap"></div>
    <a href="/" class="btn btn-dark">HOME</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/mapStyles.js"></script>
<script src="/js/map-place.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpQt2ZVOGD82AKkwgZfofb_k8w7biDyYA&callback=renderMap"></script>