<div class="container">
    <h2>Create a new place</h2>
    
    <hr>
    <div class="row justify-content-center">

        <div class="col-6">

            <form action="/places/create" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
            
                <div class="mb-3">
                    <label for="type">Type:</label>
                    <select id="type" class="form-control" name="type">
                        <option value="Coffee Shop">Coffee Shop</option>
                        <option value="Bookstore">Bookstore</option>
                    </select>
                </div>
            
                <div class="mb-3">
                    <label for="latitude" class="form-label">Latitude</label>
                    <input type="text" class="form-control" id="latitude" name="latitude">
                </div>

                <div class="mb-3">
                    <label for="longitude" class="form-label">Longitude</label>
                    <input type="text" class="form-control" id="longitude" name="longitude">
                </div>
            
                <button type="submit" class="my-5 btn btn-dark">Create new place</button>
            
            </form>

        </div>

    </div>

</div>