<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Editar {{name}}</h1>

            <form action="/places/edit?places_id={{_id}}" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Email</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{name}}">
                </div>
                <div>
                    <label>Latitud
                        <input name="latitude" type="text">
                    </label>
                    <br><br>

                    <label>Longitud
                        <input name="longitude" type="text">
                    </label>
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Tipo</label>
                    <select class="form-select" name="type">
                        <option value="coffee shop">Coffee Shop</option>
                        <option value="bookstore">Bookstore</option>
                    </select>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Editar Alumno</button>
                </div>

            </form>

            <hr>
        </div>
    </div>



    <a href="/" class="btn btn-dark">Volver al inicio</a>
</div>