<div class="container">
    <h1>Create new Coffee</h1>
    <hr>
    <form method="POST" action="/coffee/create">
        <label>Nombre
            <input name="name" type="text">
        </label>
        <br><br>

        <label>Latitud
            <input name="lat" type="text">
        </label>
        <br><br>

        <label>Longitud
            <input name="lng" type="text">
        </label>
        <br><br>

        <input type="submit" value="Create coffee">
    </form>
</div>