<div class="container">

    <h1>Mapa</h1>
    <hr>
    <div id="myMap"></div>

</div>

<script src="/js/mapStyles.js"></script>\
<script src="/js/places-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1s2AZ69ZOb_YmU8hXrrd_cxJyAqg8w8M&callback=initMap"></script>