<h2>Create a better places</h2>

<div class="container">
    <h2>Characters Creating</h2>

    <form action="/create" method="POST">

        <div class="mb-3">
            <label for="name" class="form-label">Name
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name">
            </label>
        </div>

        <div class="mb-3">
            <label for="type" class="form-label">Type
                <input type="text" class="form-control" id="type" name="type">
            </label>
        </div>

        <div class="mb-3">
            <label for="latitude" class="form-label">Latitude</label>
            <input type="text" class="form-control" id="latitude" name="latitude">
        </div>

        <div class="mb-3">
            <label for="longitude" class="form-label">Longitude</label>
            <input type="text" class="form-control" id="longitude" name="longitude">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>