<form method="POST" action="/new">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="kind" placeholder="coffee or book">

  <label>Address</label>
  <input id="lat-pos" type="hidden" name="latitude" placeholder="Latitude">
  <input id="lng-pos" type="hidden" name="longitude" placeholder="Longitude">

  <input type="submit" name="">

  <div id="map"></div>
</form>
<script src="/javascripts/addMap.js"></script>