<div class="container">

    <h1>⬇ Nuestra librería favorita de esta semana ⬇</h1>
    <figure id="booksMap"></figure>

    {{!-- <div class="alert alert-danger" role="alert">
        Atención! GOOGLE VA A EMPEZAR A PERSEGUIRME POR FALTA DE PAGO. AYUDA - SOS.
    </div> --}}

    <h4><strong>Librería Madrid.</strong></h4>
    <p><i>Calle de los Libreros 6</i></p>
    <p><i>28001, Madrid.</i></p>

    <a href="/" class="btn btn-lg btn-info">Volver a inicio</a>

</div>



 {{!-- SCRIPS ESTÁTICOS --}}
<script src="/javascripts/styles.js"></script>
<script src="/javascripts/directions.js"></script>
<script src="/javascripts/bookstories-map.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKFqXWrZMayUjf2aMRgjVus_7oqT2QGo8&callback=initMap"></script>




