<form method="POST" action="/coffeeAndBook/new">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="description" placeholder="description">

  <label>Address</label>
  <input id="lat-pos" type="hidden" name="latitude" placeholder="Latitude">
  <input id="lng-pos" type="hidden" name="longitude" placeholder="Longitude">

  <input type="submit" name="">

  <div id="map"></div>
</form>
<script src="/javascripts/addMap.js"></script>