@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=MuseoModerno:wght@700&display=swap');

footer {
  background-color: #212429;
  color: white;
  text-align: center;
  padding: 4px;
  font-size: .7em;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#coffeeAndBooksMap {
  height: 100vh;
  background-color: red;
}

h1 {
  font-family: 'MuseoModerno';
  font-size: 9em;
  margin: 100px;
  padding-top: 100px;
}