Hola soy add
<form action="/add" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="name"><br><br>

  <label for="description">description</label>
  <input type="text" name="description" id="description" required><br><br>

  <label for="city">city</label>
  <input type="text" name="city" id="city" required><br><br>

  <label for="latitude">latitude</label>
  <input type="text" name="latitude" id="latitude" required><br><br>

  <label for="longitude">longitude</label>
  <input type="text" name="longitude" id="longitude" required><br><br>
  <button>Add new place</button>
</form>
  <a href="/"><button>Go back</button></a>
