<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h1>{{appTitle}}</h1>
            <hr>
            <h2>La batalla final</h2>
            <hr>
            <p>Bienvenido a la única web que te permite tomar un café mientras lees un libro.</p>
            <hr>
            <p>
                Una librería es un establecimiento comercial cuyo principal producto son los libros.


                Librería San Ginés, en Madrid.

                Interior de la librería El Ateneo Grand Splendid, en Buenos Aires.

                Librería Lello, Oporto, Portugal.
                Las librerías pueden variar de tamaño desde las independientes que tienen a la venta unos cientos de
                ejemplares,
                hasta
                las que son cadenas de librerías, que frecuentemente tienen a la venta hasta 200 000 volúmenes
                diferentes. Las
                librerías
                virtuales pueden tener muchos más libros a la venta al no necesitar tener su catálogo completo presente
                de manera
                física. La librería más grande del mundo actualmente está en Londres, pertenece a la cadena Waterstones
                y está en el
                edificio conocido como Simpsons of Picadilly.

                Muchas librerías venden artículos de algún modo relacionados con los libros, como separadores, postales,
                mapas, y
                periódicos. También pueden ofrecer otros objetos que varían enormemente de una tienda a otra, sobre todo
                entre las
                pequeñas. No es infrecuente encontrar una librería dentro de una gran tienda departamental. Muchas
                universidades
                frecuentemente tienen una librería, además de una biblioteca, dentro de sus instalaciones para que los
                alumnos
                puedan
                adquirir las obras requeridas por sus cursos, sobre todo libros de texto.
            </p>
            <hr>
            <p>
                Una cafetería es un establecimiento de hostelería donde se sirven aperitivos y comidas, generalmente
                platos
                combinados,
                pero no menús o cartas.1​ Una cafetería comparte algunas características con un bar y otras con un
                restaurante.
                Principalmente se caracteriza por realizar el servicio en barra, y las posibilidades de consumir
                alimento son
                básicas.
                El servicio es rápido, express.

                En algunos países se le llama cafetería a un restaurante donde no se ofrece servicio de camareros, y
                donde los
                clientes
                utilizan una bandeja, para pasar a una barra de menús y escoger sus platos, y luego pasar por la caja
                para pagar,
                principalmente en centros comerciales, de trabajo y escuelas.

                En lugares como Estados Unidos, una cafetería, generalmente, no ofrece bebidas alcohólicas. Se enfoca
                específicamente en
                el café, té o chocolate con leche. Otras opciones pueden variar entre pan, caldo, sándwiches, y postres
                que
                complementan
                su comercio. En los Estados Unidos, las cafeterías de las escuelas de enseñanza primaria y secundaria
                tradicionalmente
                no ofrecen bebidas alcohólicas ni café, dado que principalmente son espacios de comedores.

                Las cafeterías son habituales en cualquier lugar donde exista tráfico de gente con poco tiempo para un
                refrigerio;
                por
                ejemplo, en las inmediaciones de lugares de trabajo, en las escuelas, estaciones de tren o aeropuertos.

                Cuando estos locales son de tamaño reducido y/o se ubican en espacios tales como parques o instituciones
                educativas
                pueden recibir el nombre de cafetín. También existen diferentes comercializadoras de café que establecen
                sus propias
                redes de cafeterías, de gestión propia o a través de franquicias.

                La tradición del café como lugar de reunión, para discutir, pasar el tiempo, y no solo un sitio para
                consumir, es
                representativo de algunas ciudades del mundo. A esa tradición pertenecen en la cultura occidental
                ciudades como
                París,
                Viena, Londres, donde con la excusa del café se pasa el tiempo, mientras que en países que son grandes
                consumidores
                de
                café, como Italia, el tiempo destinado al sitio es mínimo.
            </p>
            <hr>

        </div>
    </div>
</div>