<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a class="btn btn-primary" href="/places/create" role="button">Create places</a>
<a class="btn btn-primary" href="/places" role="button">Index places</a>
