<h1>Aqui se muestra la ubicacion de los sitios</h1><br>

<div id="map"></div>

 <script src="/javascripts/map-styles.js"></script>
<script src="/javascripts/map-app.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxeNBPw3X2-mUltXmr-LV3uxoZHx2uWKg&callback=initMap"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
