<div class="container">

    <h1>Detalles de {{name}}</h1>

    <hr>

    <p>Tipo de establecimiento: {{type}}</p>
    <p>Latitude: {{location.coordinates.[0]}}</p>
    <p>Longitude: {{location.coordinates.[1]}}</p>
    <hr>

    <a href="/list" class="btn btn-dark">Volver al listado</a>

</div>