<div class="container">
    <h1>Mapa de locations</h1>
    <hr>
    <div id="map"></div>
    <hr>
    <a href="/" class="btn btn-dark">Volver</a>
</div>

<script src="/js/restaurantMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=initViewMarkers&key=AIzaSyBdWcBFfY9gzedwzUliUad5Bd8vg_-EcNY"></script>