.main-nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  padding: 2rem 2rem 1rem;
  background-color: darken($primary, 5);
  border-radius: 0 0 25px 25px;
  box-shadow: 0 3px 10px darken($primary, 5);
}

.menu {
  display: flex;
  color: rgba($on-primary, .8);
}

.menu-item {
  
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.menu-link {
  color: inherit;
  font-weight: 600;
  font-size: .9rem;
  text-transform: uppercase;
  transition: color .2s;

  &:hover {
    color: $on-primary;
  }
}
