<div class="container">

    <h1>Mapa de restaurantes</h1>

    <figure id="myMap"></figure>

    <a href="/" class="btn btn-dark">Volver al inicio</a>

</div>


<figure>
    <script src="/js/basicMap.js"></script>
</figure>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo&callback=init"></script>