<div class="container">

    <h1>Create New Place</h1>

    <hr>

    <form method="POST" action="/create">

        <label>Name
            <input name="name" type="text">
        </label>
        <br><br>
        <select name="type">
            <option value="coffe shop">Coffe Shop</option>
            <option value="bookstore">Book Store</option>
        </select>

        <input type="submit" value="Create Place">

    </form>

</div>