<div class="container">
    <form method="POST" action="/places/create">
        <input type="text" name="name" placeholder="name"><br><br>
        <input type="text" name="type" placeholder="type"><br><br>
        <input type="number" name="latitude" id="latitude"  step="any" placeholder="lat"><br><br>
        <input type="number" name="longitude" id="latitude"  step="any" placeholder="long"><br>
        <input type="submit" name="" id="submit">
    </form>
</div>