<h1>Map & locations</h1>
<hr>
<figure id="map"></figure>

{{!--
<script src="/js/basic-map.js"></script> --}}
<script src="/js/restaurants-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>