<div class="container pt-5 mt-5">
  <h1>Mapa básico</h1>
  <hr />
  <div id="map"></div>
</div>

<script src="/js/placesMap.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?callback=initViewMarkers&key=colocar_key_aqui"
></script>