<div class="container pt-5 mt-5">
  <h1>Mapa básico</h1>
  <hr />
  <div id="map"></div>
  <hr />
  <a href="/" class="btn btn-dark">Volver</a>
</div>

<script src="/js/placesMap.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?callback=initViewMarkers&key=AIzaSyD1ItRexrcoI6Pnb1zieO3FPwwUcC0xSa4"
></script>