<div class="container">
    <h1>Places maps</h1>
    <hr>
    <div id="map"></div>
    <hr>
    <a href="/" class="btn-btn-dark">Back</a>

</div>

<script src="/js/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?
callback=initMap&key=AIzaSyBtcHMH1nPzZAD52ednZWNzL5WlEcyEjSI"></script>