<div class="container">

    <h1>Maps</h1>

    <figure id="myMap"></figure>

    <a href="/" class="btn btn-dark">Volver al inicio</a>

</div>

<script src="/js/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjIJhN72PqJK2wdk2gLVBkE7XOh6ijmK8&callback=init"></script>