<div class="container">
    <h1>Place's map</h1>
    <hr>
    <div id="placesMap"></div>
    <hr>
    <a href="/" class="btn btn-dark">Volver</a>
</div>

<script src="/js/placesMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?
callback=initMap&key=AIzaSyBtcHMH1nPzZAD52ednZWNzL5WlEcyEjSI"></script>