<div class="container">

    <h1>Ironhack Madrid mas o menos</h1>

    <div id="myMap">

    </div>

    <a href="/" class="btn btn-dark">Volver al inicio</a>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/maps-setup.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo&callback=init"></script>