<h1>Todos nuestros posts</h1>
{{#each posts}}
<a href="#!">
  {{this.title}}
</a>
<br>
{{else}}
<h2>Aún no hay ningun maldito post</h2>
{{/each}}

{{#if user}}
<a href="/posts/new">Agrega un post</a>
{{/if}}