<div class="row justify-content-center">
    <div class="col-md-6">

        <h1>Crear Local</h1>
        <hr>
        <form action="/option/create" method="POST">
            <div class="form-group">
                <label for="field1">Nombre:</label>
                <input  name="name" type="text" class="form-control" id="field1">
                
            </div>

            <div class="form-group">
                <label for="field2">Tipo:</label>
                <select class="custom-select" id="field2" name="type">
            <option value="coffee shop">Coffee Shop</option>
            <option value="bookstore">Bookstore</option>
            </select>
            </div>

            <div class="form-group">
                <label for="field3">Latitud:</label>
                <input  name="lat" type="text" class="form-control" id="field3">
            </div>
            <div class="form-group">
                <label for="field3">Longitud:</label>
                <input  name="long" type="text" class="form-control" id="field3">
            </div>

            <button type="submit" class="btn btn-dark">Crear</button>
        </form>
            <a href="/" class="btn btn-sm btn-light">Volver</a>

    </div>
</div>