<div class="container">
    <h1> Coffee shops and Bookstores </h1>
    <hr>

    <a href="/crear" class="btn btn-dark"> Crear un lugar</a>
    <hr>
    <a href="/lista" class="btn btn-success"> Lista de lugares</a>
    <hr>
    <a href="/mapa" class="btn btn-warning"> Ir al mapa</a>

</div>