<!DOCTYPE html>
<html>
  <head>
    <title>Coffe - Books</title>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxjzf9mRBWYJVu-cPfNmSCg6OOBQS4PTo"></script>
    <script defer src="/javascripts/map.js" type="text/javascript"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <headers>header</headers>
    <div class="main-wrapper">
      <%- body%>
    </div>
    <footer>footer</footer>
  </body>
</html>