<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
  
    <div id="map"></div>

    <form>
      <input type="text" id="create-one-name" name="name"        placeholder="name">
      <input type="text" id="create-one-description" name="description" placeholder="description">
      <select name="local" id="create-one-local">
       <option value="cafe">Cafe place</option>
       <option value="book_store">Book Store</option>
      </select>

      <label>Address</label>
      <input type="text" id="create-one-latitude" name="latitude" placeholder="Latitude" >
      <input type="text" id="create-one-longitude" name="longitude" placeholder="Longitude">

      <input type="submit" id="create-one" value="Create One">
    </form>

  </body>
</html>
