<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <form id="form" action="/add" method="POST">
    <label>location </label>
    <input type="text" id="address"/>
    <button type="submit">create </button>
  </form>

  <div id="map"></div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"> </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSDBvyFbFqcsyPcZWgo_d1_7prTKlPQcw"></script>
  <script type="text/javascript" src="main.js"></script>

</body>
