<style>
    body {
        background-image: url('https://www.comunicaffe.com/wp-content/uploads/2016/05/Coffee-and-Books.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .box-home {
        width: 600px;
        height: 400px;
        background-color: rgba(255, 218, 169, .6);
        margin-top: 100px;


    }

    .box-home h1 {
        text-align: center;
        line-height: 400px;
        font-size: 4em;


    }
</style>

<div class="container justify-content-center box-home">
    <h1>Coffee_&_Books</h1>
</div>