{{!-- AIzaSyBxPwsjseakKUF7D5hzzT77NlVpJss_HII --}}

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxPwsjseakKUF7D5hzzT77NlVpJss_HII"></script>
  </head>
  <body>
    <script>
    window.placesAux= {{{ placesAux}}};
  </script> 
    {{{body}}}
    <div id="map" style="height:500px"></div>
    <script src='/javascripts/script.js'></script>
  </body>
</html>
