<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3s8UvvjkU2Qh9HfavYfU8233pRVIMYMQ">
  </script>
  <script type="text/javascript" src="/javascripts/script.js"></script>
</head>

<body>

  {{{body}}}

</body>

</html>