<!DOCTYPE html>
<html>
  <head>
    <title>coffee</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>coffee &amp books</h1>
    <p>Welcome to coffee &amp books</p>

    <a href="/new">Add a Place</a>
    <a href="/show">List of Places</a>

    <br><br><br>

    <div id="map"></div>

    <ul>
    <% places.forEach((place) => { %>
      <li>
        Place: <a href="show/<%= place.id >"><%= place.name %></a>
      </li>
    <% }) %>
    </ul>


  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"></script>
  <script src="./javascripts/main.js" type="text/javascript"></script>
  <script type="text/javascript">
    var myPlaces = <%- JSON.stringify(places) %>;
  </script>

  </body>
</html>
