<form method="POST" action="/places/create">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">type</label>
        <input type="text" class="form-control" id="type" name="type">
    </div>
    <h4>Locate</h4>
    <div class="mb-3">
        <label for="longitud" class="form-label">Longitud</label>
        <input type="text" class="form-control" id="longitud" name="longitud">
    </div>
    <div class="mb-3">
        <label for="latitud" class="form-label">latitud</label>
        <input type="text" class="form-control" id="latitud" name="latitud">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>