<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Coffee and Books</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd9KiBQgXIwHe-jKrOq0rtJafSWvxfBSk"></script>
  <script src="/javascripts/geolocalize.js"></script>
</head>
<body>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/all">All Coffee Places and Book Stores</a></li>
    <li><a href="/new">New Cofee Shop / Book Store</a></li>
  </ul>
  {{{body}}}
</body>
</html>