formulario de nuevo lugar


<div class="container">

    <h1>Create a new place</h1>

    <hr>

    <form method="POST" action="/places/create">

        <label>Name
            <input name="name" type="text">
        </label>
        <br><br>

        <label>Type
            <input name="type" type="text">
        </label>
        <br><br>

        <label>Latitud
            <input name="latitude" type="text">
        </label>
        <br><br>

        <label>Longitud
            <input name="longitude" type="text">
        </label>
        <br><br>

        <input type="submit" value="Create place">

    </form>

</div>