<form action="/create" method="POST">
  <label for="name">Name of the place</label>
  <input type="text" name="name" id="name" placeholder="Type the name here">

  <label for="type">Type of place</label>
  <input type="text" name="type" id="type" placeholder="coffee shop or bookstore">

  <label for="location">Location</label>
  <input type="number" name="latitude" id="latitude" placeholder="Latitude">
  <input type="number" name="longitude" id="longitude" placeholder="Longitude">

  <button type="submit">Create</button>
</form>