<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Create new place</h1>

            <hr>

            <form method="POST" action="/place/create">
                <div class="mb-3">
                    <label>Name
                        <input name="name" type="text">
                    </label>

                </div>
                <div class="mb-3">
                    <label>Description
                        <input name="description" type="text">
                    </label>
                </div>
                <div class="mb-3">
                    <label>Type
                        <input name="type" type="text">
                    </label>

                </div>
                <div class="mb-3">
                    <label>Latitude
                        <input name="latitude" type="text">
                    </label>

                </div>
                <div class="mb-3">
                    <label>Longitud
                        <input name="longitude" type="text">
                    </label>

                </div>
                <div class="mb-3">
                    <input type="submit" value="Create restaurant">

            </form>

        </div>

    </div>

</div>