<h2>Aqui se crearan los nuevos places</h2>
<div class="new">
  <a href="/">Back to places page!</a>
  <h2>Create a new place</h2>
  <form action="/" method="POST">
    <label for="">Name:</label>
    <input type="text" name="name" placeholder="Put here the name">
    <label for="">Location:</label>
    <input type="text" name="lat" placeholder="latitude">
    <input type="text" name="lng" placeholder="longitude">
    <label for="">Type:</label>
    <select name="type" id="type">
      <option value="coffee-shop">Coffee Shop</option>
      <option value="bookstore">Bookstore</option>
    </select>
    <button type="submit">Add Place</button>
  </form>
</div>