<h1>New Place</h1>

<form action="/place/new" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  <label for="type">Type:</label>
  <select name="type" id="type">
    <option value="COFFEE SHOP">Coffee Shop</option>
    <option value="BOOKSTORE">Bookstore</option>
  </select>

  <label>Address</label>
  <input id="lat-pos" type="hidden" name="latitude" placeholder="Latitude">
  <input id="lng-pos" type="hidden" name="longitude" placeholder="Longitude">

  <div id="map"></div>

  <button type="submit">Create Place</button>
</form>

<a href="/place">Go Back</a>