<div class="container">
  <h1>{{name}}</h1>
  <p><strong>Type : </strong>{{type}}  |  <strong>Latitude : </strong>{{location.coordinates.[0]}}  |  <strong>Longitude : </strong>{{location.coordinates.[1]}}</p>
  <a href="/place" class="btn btn-dark active">Back</a>
  <hr>
</div>