<h1>Lista de Places</h1>

<ul>
    {{#each places}}
    <li>
        <a href="/places/details/{{_id}}">{{name}}</a>
        <a href="/places/edit/{{_id}}">edit</a>
        
        <form action="/places/delete/{{_id}}" method="post">
          <button type="submit">DEL</button>
        </form>
        <form
    </li>
    {{/each}}
</ul>

<a href="/places">Atras</a>