<h1>
  Indice de Places
</h1>

<hr>

<a href="/places/list">listar</a>
<a href="/places/add">Crear</a>



<figure id="placesMap"></figure>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOWxGzsaIraO9OQXRyiSe4ThIkRd1cdSg&callback=initMap"></script>