<h2>Detail: {{name}}</h2>
<a href="/books"><button>Back to home</button></a>
<br>
<br>
<div id="map" style="width: 800px; height: 600px;"></div>
<input type="hidden" id="lat" value="{{location.coordinates.[1]}}">
<input type="hidden" id="lng" value="{{location.coordinates.[0]}}">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0iBJ86eZUGkhbuWhS7b4_B3-8cRYQgTQ&libraries=places"></script>
<script>
  const lugar = {
    lat: Number(document.querySelector("#lat").value),
    lng: Number(document.querySelector("#lng").value),
  }

  function startMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: lugar,
      zoom: 16
    });

    const myMarker = new google.maps.Marker({
      position: lugar,
      map: map,
      title: "I'm here"
    });
  }

  startMap()
</script>