<div class="container">

    <h1>Add new place</h1>

    <hr>

    <form action="/places/create" method="POST">

        <label>Name
            <input name="name" type="text">
        </label>
        <br><br>

        <label>Type
            <input name="type" type="text">
        </label>
        <br><br>

        <label>Latitude
            <input name="latitude" type="text">
        </label>
        <br><br>

        <label>Longitude
            <input name="longitude" type="text">
        </label>
        <br><br>

        <input type="submit" value="Create place">

    </form>

</div>