<div class="container">

    <h1>New Place</h1>

    <hr>

    <form method="POST" action="/crear">

        <label>Name
            <input name="name" type="text">
        </label>
        <br><br>

        <label>Tyoe
            <input name="type" type="text">
        </label>
        <br><br>

        <label>Latitud
            <input name="latitude" type="text">
        </label>
        <br><br>

        <label>Longitud
            <input name="longitude" type="text">
        </label>
        <br><br>

        <input type="submit" value="Create Place">

    </form>

</div>