<div class="container">

    <h1>Basic Map</h1>

    <div id="myMap"></div>

    <a href="/" class="btn btn-dark">Return</a>

</div>


<script src="/js/map-setup.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMcQ9bKlvREkInysnRWL7ktKtFPGVAC_w&callback=renderMap"></script>