<p>{{x.name}}</p>
<p>{{x.businessType}}</p>


<a href="/{{x._id}}/edit">Editar</a>


<form action="/{{x._id}}/delete" method="POST">
    <button class="btn btn-primary">Delete</button>
</form>



<a href="/">Ir al menú</a>