
<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <h1>Hello World</h1>
  <%- body %>
  <h3>Coffee Book Map</h3>
  <a href='/shops/create'>Create place</a>
    <div id="map"></div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG797Iwzw-_50zLvtAwxWZXtwtp_17HsY">
    </script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <!-- <script type="text/javascript">
        const myPlaces = <%- JSON.stringify(true) %>;
        </script> -->
</body>