<H3> MI MAPITA :3</H3>

<style>
    #placesMap { height: 300px; width: 800px; background-color: red; }
</style>

<figure id="placesMap"></figure>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../js/places-map-setup.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2-saNUPkqXmIO9crbLw5HHElULpoH7JI&callback=initMap"
></script>
{{! <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHt1AqxOwuw0f5VjV9PPY5IrzOWD0pxpg&callback=initMap"
></script> }}