<div class="container">
    <h1>{{appTitle}}</h1>

    <hr>

    <style>
    #map {
        height: 400px;
        background-color: rgb(127, 119, 211);
    }
    </style>

<figure id="map"></figure>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../../js/places-maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>

</div> 
 