<div class="container">
    <h1>Mapa</h1>
    <hr>
    <div id="map"></div>
    <hr>
    <a href="/" class="btn btn-dark">Volver</a>
</div>

<script src="/js/placesMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=initViewMarkers&key=AIzaSyBtc80oZ9lOnbwQODIRr0lG8MOlhxpXb94"></script>