
    <div class="row m-4">

        <div class="col-12 my-2 bg-light rounded p-4">

            <h4>{{name}}</h4>

            <h5>Especialidad: <span class="occupation">{{type}}</span></h5>

            <h5>Latitud: <span class="occupation">{{location.coordinates.[0]}}</span></h5>

            <h5>Longitud: <span class="occupation">{{location.coordinates.[1]}}</span></h5>

        </div>
    </div>


    <div class="row m-4">

        <div class="col-2 my-4 rounded">

            <a href="/places" class="btn btn-dark btn-lg my-1 w-100">Volver</a>

        </div>



