<div class="container mt-5">
    <h2>Places List</h2>
    <hr>

    {{#each places}}

    <h4>{{name}}</h4>
    <a class="btn btn-warning" href="/edit/{{id}}" role="button">Edit</a>
    <form action="/delete/{{id}}" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <hr>
    {{/each}}






</div>