<form action="/create" method="post" >
      <input required type="text" name="name">
      <select name="description">
        <option value="coffeeshop"> coffeeshop  </option>
        <option value="bookstore">
          bookstore
        </option>
      </select>
      <label for="latitude">Latitude</label>
      <input required type="text" name="latitude">
      <label for="longitude">Longitude</label>
      <input required type="text" name="longitude">
      <button> Save location</button>
</form>
